<% 
if !(store_item_review.nil?)
	@store_item_review = store_item_review 
end
%>
<div class="item-review">	
	<div id = "bootstrap-alert-item-review-id-<%= @store_item_review.id %>"></div>
	<table class = "item-review-display-and-comment-vote-controls">
		<tr>
			<td>
				<span class="feed-item-icon-container">
					<%= render partial: 'profile/profile_image', locals: {user: @store_item_review.user} %>
				</span>
			</td>
			<td>				
				<%= link_to @store_item_review.user.username , activity_profile_path(@store_item_review.user), :class => 'user-link', 'data-no-turbolink' => true %>
				<% if @feed == true %>
					<span> reviewed 
						<a class="item-search-item-name" data-remote="<%= store_store_item_path(@store_item_review.store_item.store.id, @store_item_review.store_item.id , :reviewtab => "false")  %>" data-target="#modal" data-toggle="modal" 
							  		href="<%= store_store_item_path(@store_item_review.store_item.store.id, @store_item_review.store_item.id, :reviewtab => "false") %>" >


							<%= @store_item_review.store_item.name %> 
						</a>
					</span>
				<% end %>
				<small> <%= time_ago_in_words(@store_item_review.created_at) %> ago</small>			
				<ul class = "store-star-rank" style="float:right;" star-value="<%= @store_item_review.stars %>">			
				<% (1..@store_item_review.stars).each do |i| %>
					<li class="rating_star">
						<span class="glyphicon glyphicon-star"></span>
					</li>
				<% end %>	
				<% darkstars = 5 - @store_item_review.stars
					(1..darkstars).each do |i| %>
					<li class="rating_star off">
						<span class="glyphicon glyphicon-star"></span>
					</li>
				<% end %>

				</ul>
			</td>	
		</tr>		
		<tr>
			<td>					
				<div class="btn-group-vertical review-vote-controls">		
					<%= form_for ([@store_item_review.store_item.store, @store_item_review.store_item, @store_item_review, @store_item_review.store_item_review_votes.build]), :remote => true, :html => { :id => "new_upvote_on_#{@store_item_review.id}" } do |f| %>
						<%= f.hidden_field :vote, :value => "1" %> 
						<%= button_tag(type: 'submit', class: "btn btn-default upvotebutton") do %>
								<div class="glyphicon glyphicon-chevron-up"></div>
						<% end %>

					<% end %>
					<div> 
						<div class="review-votes" id="<%=@store_item_review.id%>_vote_sum"><%= @store_item_review.sum_votes %> </div>
					</div>
					
					<%= form_for ([@store_item_review.store_item.store, @store_item_review.store_item, @store_item_review, @store_item_review.store_item_review_votes.build]), :remote => true, :html => { :id => "new_downvote_on_#{@store_item_review.id}" } do |f| %>
						<%= f.hidden_field :vote, :value => "-1" %> 
						<%= button_tag(type: 'submit', class: "btn btn-default downvotebutton") do %>
								<div class="glyphicon glyphicon-chevron-down"></div>
						<% end %>
					<% end %>
				</div>
			</td>
			<td class="review-content">
				<%= @store_item_review.review %>
				<div id="comments_for_item_review_<%= @store_item_review.id %>" class="item-review-comments">						
					<% @store_item_review.store_item_review_comments.each do |store_item_review_comment| %>
						<%= render partial: 'store_item_review_comments/store_item_review_comment', locals: {store_item_review_comment: store_item_review_comment} %>
					<% end # comments loop %>	
				</div>
				
				<% if current_user.nil? %>
					<!-- maybe just close modal and click login button -->
					<br/>
					<a href="#" class="login-to-comment-on-item-review">log in to comment </a>
					<script>
						$(".login-to-comment-on-item-review").click(function(e){
							e.preventDefault();
							$('#modal').modal('hide');
							$("#log-in-link").click();
						})
					</script>
				<% else %>
					<%= form_for ([@store_item_review.store_item.store, @store_item_review.store_item, @store_item_review, @store_item_review.store_item_review_comments.build]), :remote => true, :html => { :id => "new_comment_on_#{@store_item_review.id}" , :class=> "new-store-review-comment-form"} do |f| %>
						<%= f.text_area :comment, :class => 'form-control new-item-review-comment-input', :required => true, :rows => 1 %>
						<%= f.submit 'post comment', :class => 'btn btn-primary lowercase pull-right save-new-store-review-comment btn-sm' , :id => "save_comment_on_#{@store_item_review.id}"  %>
					<% end %>	
				<% end #if current_user.nil? %>	
			</td>	
		</tr>
	</table>
</div> 
 
