<% if activity.trackable %>

<table class="feed-item-table">
	<tr>
		<td valign = "top">
			<span class="glyphicon glyphicon-user user-pic-feed-item"></span>
		</td>
		<td class="feed-item-title-and-body">
			<div class="item-feed-title">
				<span><a><%= activity.trackable.user.username %></a>'s review of </span>
				<a><%= activity.trackable.store.name %></a> <span> has new comments </span>
				
				<div class="time-ago-feed-item"><%= time_ago_in_words(activity.trackable.updated_at) %> ago</div>
			</div>
			<div class = "feed-item-body">
				<%= activity.trackable.review %>
				<% @store_review = activity.trackable 
				   @recent_comments = @store_review.store_review_comments.last(3)
				%>

				<% @recent_comments.each do |store_review_comment| %>
					<%= render partial: 'store_review_comments/store_review_comment', locals: {store_review_comment: store_review_comment} %>
				<% end %>			
			</div>

		</td>
	</tr>
</table>
<% end %>