
<ul id="feed-top-nav">
	<li>
		<a href="<%= feeds_path %> ">feed home </a>
	</li>
	<% @feeds.each do |feed| %>
		<li><%= link_to feed.name, feed_path(feed.id) %></li>
	<% end %>
</ul>

<div class="activities col-md-9">
	
	<h3>feed home
		<span class="add-feed-button">				
		<%= link_to 'add new feed', new_feed_path() , data: { toggle: "modal", target: "#modal", remote: new_feed_path()} , id: "add-new-feed-button" , class: "btn btn-primary pull-right" %>
		</span>			
	</h3>
	
	<hr>
	
	

	<% @feeds.each do |feed| %>
		<div class="feed-name">		
			<h4>
				<a href="<%= feed_path(feed.id)%>" data-no-turbolink='true' >
					<%= feed.name %>
				</a>
			</h4>
		</div>
	<% end %>
</div>