
<ul id="feed-top-nav">
	<li>
		<a href="<%= feeds_path %> ">feed home </a>
	</li>
	<% @feeds.each do |feed| %>
		<li><%= link_to feed.name, feed_path(feed.id) %></li>
	<% end %>
</ul>

<div class="activities col-md-9">

	
	<h3>
		<%= link_to 'feed home', feeds_path %>
		<span> / </span>
		<%= @feed.name %>
		<span class="add-new-post-button">				
		<%= link_to 'write a post', new_feed_feed_post_path(@feed.id) , data: { toggle: "modal", target: "#modal", remote: new_feed_feed_post_path(@feed.id)} , id: "add-new-post-button" , class: "btn btn-primary pull-right" %>
		</span>			
	</h3>



	<hr>
	


	<div class="posts">			
		<% @feed.feed_posts.order("created_at desc").each do | post | %>					
			<%= render partial: 'feed_posts/feed_post', locals: {post: post} %>			
		<% end %>

	</div>
</div>