<div class="center">
  <div style="margin:auto;width:55%;">
    <h2>create a free account</h2>
  </div>
</div>

<hr />
<div class="center">



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
  	<p>
		<%= f.label :username , "username" %><br />
    	<%= f.text_field :username , :class => 'form-control', :required => true, "data-validation" =>"alphanumeric" %>
    </p>
  </div>

  <div><%= f.label :email , "email" %><br />
  <%= f.email_field :email, autofocus: true , :class => 'form-control', :required => true %></div>

  <div><%= f.label :password , "password" %><br />
    <%= f.password_field :password, autocomplete: "off" , :class => 'form-control', :required => true %></div>

  <div><%= f.label :password_confirmation , "password confirmation" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' , :required => true %></div>

  <br/>
  <div class="acccept-tos-and-policy">
        <input id="accept-tos" type="checkbox" required name="terms">
      I have read and agree to the <%= link_to "Terms of Service", terms_of_service_path %> and <%= link_to "Privacy Policy", privacy_policy_path %>
      </div>
  <div><%= f.submit "CREATE ACCOUNT" , :id => 'create-user-account-button', :class => 'btn btn-primary pull-right' %></div>
  <div style="clear:both;"></div>
  <script> $.validate(); </script>
<% end %>
<hr />

<%= render "devise/shared/links" %>

</div>