<div style="margin-top: 10px;margin-bottom: 10px;">
    <h3>	    
	    <a href = "<%= activity_profile_url(@review.user.id) %>" style="text-decoration: none;" ><%= @review.user.username %></a>
		<span> just wrote a review on </span>								
		<a href = "<%= store_url(@review.store.slug) %>" style="text-decoration: none;" > <%= @review.store.name %> </a>
	</h3>				
</div>	
<div>
	<a href = "<%= store_url(@review.store.slug) %>" style="color: white;
		background-color: #428bca;
		border-color: #357ebd;
		display: inline-block;
		margin-bottom: 0;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-image: none;
		border: 1px solid transparent;
		white-space: nowrap;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.428571429;
		border-radius: 4px;
		-webkit-user-select: none;
		text-decoration: none;">view store</a>
	
</div>	
