
<% @store_items.each do |item| %>
	<div class = "item-search-result-container">
		<div class = "image-and-meta-container">
			<table>
				<tr>
					<td class="image-td" valign="top">
						<% imagename = 'weed'+ rand(1..3).to_s + '.jpg' %>
						<%= image_tag imagename, :class => "item-search-result-image" %>
					</td>
					<td class="item-search-result-meta">
						<h4 class="item-search-item-name">
							<!-- if there are no highlight matches, nothing is rendered without this -->
							<% if item.highlights(:name).size == 0 %>
								<%= item.stored(:name) %>
							<% end %>
							<% item.highlights(:name).each do |highlight| %>								    
							    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
						    <% end %>
							<div class="star-rank" style="float:right;">
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>		
							</div>
						</h4>
						<div>
							available at put store name here</br>							
							<%= item.stored(:category) %></br>							
							thc : 5.2% | cbd : 46.3% | cbn : 23.7%
							</br>
							halfgram: <%= item.stored(:costhalfgram) %> | gram: <%= item.stored(:costonegram) %> | eighth:<%= item.stored(:costeighthoz) %> | quarterounce:<%= item.stored(:costquarteroz) %> | halfounce:<%= item.stored(:costhalfoz) %> | ounce:<%= item.stored(:costoneoz) %>

							<% if  item.stored(:description) && !item.stored(:description).empty?  %>
								<div class="item-search-item-description">
									<!-- if there are no highlight matches, nothing is rendered without this -->
									<% if item.highlights(:description).size == 0 %>
										<%= item.stored(:description) %>
									<% end %>
									<% item.highlights(:description).each do |highlight| %>								    
									    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
								    <% end %>
								</div>								
							<% end %>
							
							

						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="glyphicon glyphicon-user item-search-user-logo"></div>
		<span>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ornare ante id sapien ullamcorper, vel pharetra nulla pulvinar. Nullam orci est, dapibus sit amet risus in, ultricies mattis turpis. Aliquam laoreet cursus libero, sed porta est auctor quis. Integer leo nibh, ultricies 
		</span>
	</div>

<% end %> 


<%
@store_items.each do |hit|
  puts "StoreItem ##{hit.primary_key}"

  hit.highlights(:description).each do |highlight|
    puts "  " + highlight.format { |word| "*#{word}*" }
  end
end
%>