
<% @store_items.each do |item| %>
	<div class = "item-search-result-container">
		<div class = "image-and-meta-container">
			<table>
				<tr>
					<td class="image-td" valign="top">
						<% imagename = 'weed'+ rand(1..3).to_s + '.jpg' %>
						<%= image_tag imagename, :class => "item-search-result-image" %>
					</td>
					<td class="item-search-result-meta">
						<h4 class="item-search-item-name">
							<!-- if there are no highlight matches, nothing is rendered without this -->
							<% if item.highlights(:name).size == 0 %>								
								<!-- have to do because just loading directly renders brackets and newlines -->
								<% item.stored(:name).each do |word| %>
									<%= word %>
								<% end %>
							<% end %>


							<% item.highlights(:name).each do |highlight| %>								    
							    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
						    <% end %>
							<div class="star-rank" style="float:right;">
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>		
							</div>
						</h4>
						<div>
							available at 							
							<% if item.highlights(:store_name).size == 0 %>
								<!-- have to do because just loading directly renders brackets and newlines -->
								<% item.stored(:store_name).each do |word| %>
									<%= word %>
								<% end %>
							<% end %>
							<% item.highlights(:store_name).each do |highlight| %>								    
							    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
						    <% end %>
						    <br/>

						    <!-- store address -->
							<% if  item.stored(:store_addressline1) && !item.stored(:store_addressline1).empty?  %>
								<% item.stored(:store_addressline1).each do |word| %>
									<%= word %>
								<% end %>								
							<% end %>
							<% if  item.stored(:store_addressline2) && !item.stored(:store_addressline2).empty?  %>
								<% item.stored(:store_addressline2).each do |word| %>
									<%= word %>
								<% end %>								
							<% end %>
							<% if  item.stored(:store_city) && !item.stored(:store_city).empty?  %>
								<% item.stored(:store_city).each do |word| %>
									<%= word %>
								<% end %>
							<% end %>
							<% if  item.stored(:store_state) && !item.stored(:store_state).empty?  %>
								<% item.stored(:store_state).each do |word| %>
									<%= word %>
								<% end %>
							<% end %>
							<% if  item.stored(:store_zip) && !item.stored(:store_zip).empty?  %>
								<% item.stored(:store_zip).each do |word| %>
									<%= word %>
								<% end %>
							<% end %>
							</br>
							<% if  item.stored(:store_phonenumber) && !item.stored(:store_phonenumber).empty?  %>
								<% item.stored(:store_phonenumber).each do |word| %>
									<%= word %>
								<% end %>
							<% end %>



							</br>
							<%= item.stored(:category) %></br>							
							thc : 5.2% | cbd : 46.3% | cbn : 23.7%
							</br>
							halfgram: <%= item.stored(:costhalfgram) %> | gram: <%= item.stored(:costonegram) %> | eighth:<%= item.stored(:costeighthoz) %> | quarterounce:<%= item.stored(:costquarteroz) %> | halfounce:<%= item.stored(:costhalfoz) %> | ounce:<%= item.stored(:costoneoz) %>

							<% if  item.stored(:description) && !item.stored(:description).empty?  %>
								<div class="item-search-item-description">
									<!-- if there are no highlight matches, nothing is rendered without this -->
									<% if item.highlights(:description).size == 0 %>
										<!-- have to do because just loading directly renders brackets and newlines -->
										<% item.stored(:description).each do |word| %>
											<%= word %>
										<% end %>
									<% end %>
									<% item.highlights(:description).each do |highlight| %>								    
									    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
								    <% end %>
								</div>								
							<% end %>
							
							

						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="glyphicon glyphicon-user item-search-user-logo"></div>
		<span>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ornare ante id sapien ullamcorper, vel pharetra nulla pulvinar. Nullam orci est, dapibus sit amet risus in, ultricies mattis turpis. Aliquam laoreet cursus libero, sed porta est auctor quis. Integer leo nibh, ultricies 
		</span>
	</div>

<% end %> 


