<div class="col-md-3">		
	<div class="plan-description-container">
		<div class="plan-name">
			ounce
			<%= form_tag subscribe_store_store_path , :class => "stripe-button-form" do %>
				
			  <%= hidden_field_tag :plan_id, 3 %>
			  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
			          data-description="enter credit card info"			          
			          data-label="subscribe",
			          data-panel-label="subscribe",
  					  data-allow-remember-me="false",
  					  data-email="<%= current_user.email %>"
	          ></script>
	        <% end %>
		</div>			
		<div class="plan-cost ">
			<span class="subscription-dollar-sign-plus pull-left">
				$
			</span>
			<span class="subscription-month-plus pull-right">
				/MO
			</span>

			<div class="subscription-dollar-cost-plus ">
				<span>299</span>			
			</div>
			<div class="subscription-free-trial center">
				1 month free trial
			</div>
		</div>
		<div class="cancel-text">
			try simple weed for a month, and see if we can help you sell an extra ounce
		</div>
	</div>
	<%= render partial: 'stores/free_subscription_features' %>
	<%= render partial: 'stores/basic_subscription_features' %>
	<%= render partial: 'stores/plus_subscription_features' %>
</div>