
<div class="store-header">
  <table class="store-header-table">
    <tr>
      <td>
      <% if @store.avatar_url.blank? %>
        <!-- dvu: this should depend on if you are the profile user or looking at someone else -->
        <%= link_to edit_photo_store_path(@store), data: { toggle: "modal", target: "#modal", remote: edit_photo_store_path(@store)} , id: "edit-store-photo-link",  class: "btn edit-store-photo-link" do %>
          <span class="glyphicon glyphicon-tree-deciduous user-pic"></span>           
        <% end %> 
        <% else %>
          <%= link_to edit_photo_store_path(@store), data: { toggle: "modal", target: "#modal", remote: edit_photo_store_path(@store)} , id: "edit-store-photo-link",  class: "btn edit-store-photo-link" do %>
            <img class="user-pic-borderless" width="40px" height="40px" src = "http:<%= @store.avatar_url %>"></img>
          <% end %>         
      <% end %> 
      </td>
      <td class="store-name-and-edit">            
        <h1 id="store_name" class="store-name" style="display:inline"><%= link_to @store.name, store_path(@store) , 'data-no-turbolink' => true %>
          <small><%= @store.promo %></small>              
        </h1>        
      </td>
    </tr>
  </table>
  <%= render partial: 'layouts/stars', locals: {score: @store.stars} %>           
  <%= link_to "MANAGE SUBSCRIPTIONS", subscription_plans_store_path(@store.slug), id: "manage-subscriptions-link" , class: 'btn btn-primary pull-right' %>
  <hr />
</div>

<ul id="archived-menu-editor-controls">
  <li id="menu-label">
   archived items
  </li>
  <li>
    <%= link_to "BACK TO MENU", store_store_items_path(@store.slug), id: "menu-items-link" , class: 'btn btn-primary'%>
  </li>
</ul>




<% content_for :head do %>
  <script type='text/javascript' src='https://www.google.com/jsapi'></script>
  <!-- allows dropdowns to be linked to selects on other dropdowns, ie cat and sub categories -->
  <% javascript_include_tag "jquery.chained.min.js" %>
  <script type='text/javascript'>
    google.load('visualization', '1', {packages:['table']});
    // google.setOnLoadCallback(drawTable);
    
    
    function drawTable() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'date added');
      data.addColumn('string', 'hiddenlink');
      data.addColumn('string', 'name');
      data.addColumn('string', 'strain');
      data.addColumn('string', 'category');
      data.addColumn('string', 'sub-category');
      data.addColumn('string', '.5 g');
      data.addColumn('string', '1 g');
      data.addColumn('string', '1/8 oz');
      data.addColumn('string', '1/4 oz');
      data.addColumn('string', '1/2 oz');
      data.addColumn('string', '1 oz');
      data.addColumn('string', 'per unit');

      <% @store_items.each do |store_item| %>
        data.addRow([
          '<%= store_item.created_at %>' ,
          '<%= link_to store_item.name, restore_modal_store_store_item_path(@store, store_item),  data: { toggle: "modal", target: "#modal" , remote: restore_modal_store_store_item_path(@store, store_item)} %>' , 
          '<%= store_item.name %>',
          '<%= store_item.strain %>' ,
          '<%= store_item.maincategory %>' ,          
          '<%= store_item.subcategory %>' ,
          '<%= store_item.costhalfgram %>',
          '<%= store_item.costonegram %>', 
          '<%= store_item.costeighthoz %>',
          '<%= store_item.costquarteroz %>',
          '<%= store_item.costhalfoz %>',
          '<%= store_item.costoneoz %>',
          '<%= store_item.costperunit %>'
          ]);
      <% end %>      
      var table = new google.visualization.Table(document.getElementById('table_div'));
      var view = new google.visualization.DataView(data);
      view.setColumns([0,2,3,4,5,6,7,8,9,10,11,12]); /** drop hidden column 1 **/

      var cssClassNames = {headerRow: "simple-weed-google-table-header", headerCell: "simple-weed-google-table-header-cell-archived-menu-editor", tableCell: "simple-weed-google-table-table-cell-menu-editor", hoverTableRow: "simple-weed-google-table-hover-row", selectedTableRow: "simple-weed-google-table-selectedrow"};
      table.draw(view, {showRowNumber: false, allowHtml: true, cssClassNames: cssClassNames});

      

      google.visualization.events.addListener(table, 'select', selectHandler);

      function selectHandler(e) {
        var selection = table.getSelection();         /** gets everything that's selected **/
        var item = selection[0];                      /** we only support selecting one at this time, if more than one is selected, we'll just use the first    item **/
        var str = data.getFormattedValue(item.row, 1); /** gets the link stored in the first column of the selected row, ie <a data-remote="/students/29" data-                                                   target="#modal" data-toggle="modal" href="/students/29">Davvy</a>  **/
        var target = $(str).attr("href");   /** from that string, only extract the href attr **/
        $("#modal").load(target, function() {   /** and load that href into the modal.  This is similar to the modal code in application.html.erb **/
          $("#modal").modal("show"); 
        });
      }
  }

  </script>
<% end %>

<script>
  $(document).ready(function () {
      drawTable();
  });
</script>

<div id='table_div'></div>

</br>
