 <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title inline-header" id="myModalLabel">edit store hours</h4>          
          <button type="button" class="close popup-close-x" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            <%= form_for :store, url: update_hours_store_path, method: "put" do |f| %>
                
              <table>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th id="closed-table-header">
                  closed
                </th>
                <tr class="hours-row">
                  <td class="day">sunday</td>
                  <td class="open-time-input">                                  
                    <%= select_hour(@store.storehourssundayopenhour, field_name: "storehourssundayopenhour", ampm: true )%> : <%= select_minute(@store.storehourssundayopenminute, field_name: "storehourssundayopenminute",minute_step: 15) %>
                  </td>
                  <td class="close-time-input">
                    <span class="hours-input-to-container">to </span>
                    <%= select_hour(@store.storehourssundayclosehour, field_name: "storehourssundayclosehour", ampm: true) %> : <%= select_minute(@store.storehourssundaycloseminute, field_name: "storehourssundaycloseminute",minute_step: 15) %>
                  </td>
                  <td class="day-closed-checkbox">
                    <!-- <%= check_box @store.sundayclosed, @store.sundayclosed, {}, "true","false" %> -->
                    <%= f.check_box :sundayclosed, {}, "true","false" %>
                  </td>
                </tr>
                <tr class="hours-row">
                  <td class="day">monday</td>
                  <td class="open-time-input">                                  
                    <%= select_hour(@store.storehoursmondayopenhour, field_name: "storehoursmondayopenhour", ampm: true )%> : <%= select_minute(@store.storehoursmondayopenminute, field_name: "storehoursmondayopenminute",minute_step: 15) %>
                  </td>
                  <td class="close-time-input">
                    <span class="hours-input-to-container">to </span>
                    <%= select_hour(@store.storehoursmondayclosehour, field_name: "storehoursmondayclosehour", ampm: true) %> : <%= select_minute(@store.storehoursmondaycloseminute, field_name: "storehoursmondaycloseminute",minute_step: 15) %>
                  </td>
                  <td class="day-closed-checkbox">
                    <%= f.check_box :mondayclosed, {}, "true","false" %>
                  </td>
                </tr>
                <tr class="hours-row">
                  <td class="day">tuesday</td>
                  <td class="open-time-input">                                  
                    <%= select_hour(@store.storehourstuesdayopenhour, field_name: "storehourstuesdayopenhour", ampm: true )%> : <%= select_minute(@store.storehourstuesdayopenminute, field_name: "storehourstuesdayopenminute",minute_step: 15) %>
                  </td>
                  <td class="close-time-input">
                    <span class="hours-input-to-container">to </span>
                    <%= select_hour(@store.storehourstuesdayclosehour, field_name: "storehourstuesdayclosehour", ampm: true) %> : <%= select_minute(@store.storehourstuesdaycloseminute, field_name: "storehourstuesdaycloseminute",minute_step: 15) %>
                  </td>
                  <td class="day-closed-checkbox">
                    <%= f.check_box :tuesdayclosed, {}, "true","false" %>
                  </td>
                </tr>
                <tr class="hours-row">
                  <td class="day">wednesday</td>
                  <td class="open-time-input">                                  
                    <%= select_hour(@store.storehourswednesdayopenhour, field_name: "storehourswednesdayopenhour", ampm: true )%> : <%= select_minute(@store.storehourswednesdayopenminute, field_name: "storehourswednesdayopenminute",minute_step: 15) %>
                  </td>
                  <td class="close-time-input">
                    <span class="hours-input-to-container">to </span>
                    <%= select_hour(@store.storehourswednesdayclosehour, field_name: "storehourswednesdayclosehour", ampm: true) %> : <%= select_minute(@store.storehourswednesdaycloseminute, field_name: "storehourswednesdaycloseminute",minute_step: 15) %>
                  </td>
                  <td class="day-closed-checkbox">
                    <%= f.check_box :wednesdayclosed, {}, "true","false" %>
                  </td>
                </tr>
                <tr class="hours-row">
                  <td class="day">thursday</td>
                  <td class="open-time-input">                                  
                    <%= select_hour(@store.storehoursthursdayopenhour, field_name: "storehoursthursdayopenhour", ampm: true )%> : <%= select_minute(@store.storehoursthursdayopenminute, field_name: "storehoursthursdayopenminute",minute_step: 15) %>
                  </td>
                  <td class="close-time-input">
                    <span class="hours-input-to-container">to </span>
                    <%= select_hour(@store.storehoursthursdayclosehour, field_name: "storehoursthursdayclosehour", ampm: true) %> : <%= select_minute(@store.storehoursthursdaycloseminute, field_name: "storehoursthursdaycloseminute",minute_step: 15) %>
                  </td>
                  <td class="day-closed-checkbox">
                    <%= f.check_box :thursdayclosed, {}, "true","false" %>
                  </td>
                </tr>
                <tr class="hours-row">
                  <td class="day">friday</td>
                  <td class="open-time-input">                                  
                    <%= select_hour(@store.storehoursfridayopenhour, field_name: "storehoursfridayopenhour", ampm: true )%> : <%= select_minute(@store.storehoursfridayopenminute, field_name: "storehoursfridayopenminute",minute_step: 15) %>
                  </td>
                  <td class="close-time-input">
                    <span class="hours-input-to-container">to </span>
                    <%= select_hour(@store.storehoursfridayclosehour, field_name: "storehoursfridayclosehour", ampm: true) %> : <%= select_minute(@store.storehoursfridaycloseminute, field_name: "storehoursfridaycloseminute",minute_step: 15) %>
                  </td>
                  <td class="day-closed-checkbox">
                    <%= f.check_box :fridayclosed, {}, "true","false" %>
                  </td>
                </tr>
                <tr class="hours-row">
                  <td class="day">saturday</td>
                  <td class="open-time-input">                                  
                    <%= select_hour(@store.storehourssaturdayopenhour, field_name: "storehourssaturdayopenhour", ampm: true )%> : <%= select_minute(@store.storehourssaturdayopenminute, field_name: "storehourssaturdayopenminute",minute_step: 15) %>
                  </td>
                  <td class="close-time-input">
                    <span class="hours-input-to-container">to </span>
                    <%= select_hour(@store.storehourssaturdayclosehour, field_name: "storehourssaturdayclosehour", ampm: true) %> : <%= select_minute(@store.storehourssaturdaycloseminute, field_name: "storehourssaturdaycloseminute",minute_step: 15) %>
                  </td>
                  <td class="day-closed-checkbox">
                    <%= f.check_box :saturdayclosed, {}, "true","false" %>
                  </td>
                </tr>
              </table>                                  


                           


              <p class = "form-group pull-right">              	
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                <%= f.submit :class => 'btn btn-primary lowercase' , :id => 'save_store_hours_button'%>
              </p>
            <% end %>
            <div class="simple-weed-modal-footer">
            </div>
          </div><!-- modal-footer -->
      </div> <!-- modal-content -->
</div>    
