 <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Edit Store Hours</h4>          
        </div>
        <div class="modal-body">
            <%= form_for :store, url: update_hours_store_path, method: "put" do |f| %>
                
              <table>
                <tr class="hours-row">
                  <td class="day">Sunday</td>
                  <td class="open-time-input">              
                    <%= time_select :object_name, :attribute_name, :default => {:hour => '10', :minute => '00' }, minute_step: 15 , ampm: true%>
                  </td>
                  <td class="close-time-input">
                    <span class="hours-input-to-container">to </span>
                    <%= time_select :object_name, :attribute_name, :default => {:hour => '18', :minute => '00' }, minute_step: 15 , ampm: true%>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr class="hours-row">
                  <td class="day">Monday</td>
                  <td class="open-time-input">              
                    <%= time_select :object_name, :attribute_name, :default => {:hour => '10', :minute => '00' }, minute_step: 15 , ampm: true%>
                  </td>
                  <td class="close-time-input">
                    <span class="hours-input-to-container">to </span>
                    <%= time_select :object_name, :attribute_name, :default => {:hour => '18', :minute => '00' }, minute_step: 15 , ampm: true%>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr class="hours-row">
                  <td class="day">Tuesday</td>
                  <td class="open-time-input">              
                    <%= time_select :object_name, :attribute_name, :default => {:hour => '10', :minute => '00' }, minute_step: 15 , ampm: true%>
                  </td>
                  <td class="close-time-input">
                    <span class="hours-input-to-container">to </span>
                    <%= time_select :object_name, :attribute_name, :default => {:hour => '18', :minute => '00' }, minute_step: 15 , ampm: true%>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr class="hours-row">
                  <td class="day">Wednesday</td>
                  <td class="open-time-input">              
                    <%= time_select :object_name, :attribute_name, :default => {:hour => '10', :minute => '00' }, minute_step: 15 , ampm: true%>
                  </td>
                  <td class="close-time-input">
                    <span class="hours-input-to-container">to </span>
                    <%= time_select :object_name, :attribute_name, :default => {:hour => '18', :minute => '00' }, minute_step: 15 , ampm: true%>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr class="hours-row">
                  <td class="day">Thursday</td>
                  <td class="open-time-input">              
                    <%= time_select :object_name, :attribute_name, :default => {:hour => '10', :minute => '00' }, minute_step: 15 , ampm: true%>
                  </td>
                  <td class="close-time-input">
                    <span class="hours-input-to-container">to </span>
                    <%= time_select :object_name, :attribute_name, :default => {:hour => '18', :minute => '00' }, minute_step: 15 , ampm: true%>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr class="hours-row">
                  <td class="day">Friday</td>
                  <td class="open-time-input">              
                    <%= time_select :object_name, :attribute_name, :default => {:hour => '10', :minute => '00' }, minute_step: 15 , ampm: true%>
                  </td>
                  <td class="close-time-input">
                    <span class="hours-input-to-container">to </span>
                    <%= time_select :object_name, :attribute_name, :default => {:hour => '18', :minute => '00' }, minute_step: 15 , ampm: true%>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr class="hours-row">
                  <td class="day">Saturday</td>
                  <td class="open-time-input">              
                    <%= time_select :object_name, :attribute_name, :default => {:hour => '10', :minute => '00' }, minute_step: 15 , ampm: true%>
                  </td>
                  <td class="close-time-input">
                    <span class="hours-input-to-container">to </span>
                    <%= time_select :object_name, :attribute_name, :default => {:hour => '18', :minute => '00' }, minute_step: 15 , ampm: true%>
                  </td>
                  <td>
                  </td>
                </tr>

              </table>                                  


                           


              <p class = "form-group pull-right">              	
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%= f.submit :class => 'btn btn-primary' , :id => 'save_store_hours_button'%>
              </p>
            <% end %>
            <div class="simple-weed-modal-footer">
            </div>
          </div><!-- modal-footer -->
      </div> <!-- modal-content -->
</div>    
