 <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title inline-header" id="myModalLabel">edit dispensary features</h4>          
          <button type="button" class="close popup-close-x" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            <%= form_for :store, url: update_features_store_path, method: "put" do |f| %>
                
                <table id="edit-store-features">
                  <tr>
                    <td>
                      <%= f.label :acceptscreditcards, "accepts credit cards" %><br>
                    </td>
                    <td>
                      <%= f.check_box :acceptscreditcards, {}, "true","false" %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.label :atmaccess, "atm access" %><br>
                    </td>
                    <td>
                      <%= f.check_box :atmaccess, {}, "true","false" %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.label :automaticdispensingmachines, "atuomatic dispensing machines" %><br>
                    </td>
                    <td>
                      <%= f.check_box :automaticdispensingmachines, {}, "true","false" %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.label :deliveryservice, "delivery service" %><br>
                    </td>
                    <td>
                      <%= f.check_box :deliveryservice, {}, "true","false" %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.label :handicapaccess, "handicap access" %><br>
                    </td>
                    <td>
                      <%= f.check_box :handicapaccess, {}, "true","false" %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.label :loungearea, "lounge area" %><br>
                    </td>
                    <td>
                      <%= f.check_box :loungearea, {}, "true","false" %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.label :petfriendly, "pet friendly" %><br>
                    </td>
                    <td>
                      <%= f.check_box :petfriendly, {}, "true","false" %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.label :securityguard, "security guard" %><br>
                    </td>
                    <td>
                      <%= f.check_box :securityguard, {}, "true","false" %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.label :labtested, "lab tested" %><br>
                    </td>
                    <td>
                      <%= f.check_box :labtested, {}, "true","false" %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.label :eighteenplus, "18 +" %><br>
                    </td>
                    <td>
                      <%= f.check_box :eighteenplus, {}, "true","false" %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.label :twentyoneplus, "21 +" %><br>
                    </td>
                    <td>
                      <%= f.check_box :twentyoneplus, {}, "true","false" %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.label :hasphotos, "photos" %><br>
                    </td>
                    <td>
                      <%= f.check_box :hasphotos, {}, "true","false" %>
                    </td>
                  </tr>                  
                  <tr>
                    <td>
                      <%= f.label :onsitetesting, "on site testing" %><br>
                    </td>
                    <td>
                      <%= f.check_box :onsitetesting, {}, "true","false" %>
                    </td>
                  </tr>                  
                </table>
                <br />
                <br />
                
                    
              <p class = "form-group pull-right">               
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                <%= f.submit :class => 'btn btn-primary lowercase' , :id => 'save_store_features_button'%>
              </p>
            <% end %>
            <div class="simple-weed-modal-footer">
            </div>
          </div><!-- modal-footer -->
      </div> <!-- modal-content -->
</div>    
