 <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Edit Store Hours</h4>          
        </div>
        <div class="modal-body">
            <%= form_for :store, url: update_hours_store_path, method: "put" do |f| %>
                
              <table>

                <tr class="hours-row">
                  <td class="day">Test</td>
                  <td class="open-time-input">                                  
                    <%= select_hour(@store.storehourssundayopenhour, field_name: "storehourssundayopenhour", ampm: true )%> : <%= select_minute(@store.storehourssundayopenminute, field_name: "storehourssundayopenminute",minute_step: 15) %>
                  </td>
                  <td class="close-time-input">
                    <span class="hours-input-to-container">to </span>
                    <%= select_hour(@store.storehourssundayclosehour, field_name: "storehourssundayclosehour", ampm: true) %> : <%= select_minute(@store.storehourssundaycloseminute, field_name: "storehourssundaycloseminute",minute_step: 15) %>
                  </td>
                  <td>
                  </td>
                </tr>



              </table>                                  


                           


              <p class = "form-group pull-right">              	
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%= f.submit :class => 'btn btn-primary' , :id => 'save_store_hours_button'%>
              </p>
            <% end %>
            <div class="simple-weed-modal-footer">
            </div>
          </div><!-- modal-footer -->
      </div> <!-- modal-content -->
</div>    
