<% content_for :head do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type='text/javascript' src='https://www.google.com/jsapi'></script> <!-- data table -->
  <script type='text/javascript'>
    google.load('visualization', '1', {packages:['table']});
  </script> 
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>  <!-- accordion -->
 
<% end %>

<div class="row">
  <div class="col-md-5">    
    <div id="map-container">
      <div id="map" ></div>
    </div>

    <div id="store_results_table">
    </div>
  </div>

  <script>
    (
      function drawTable() {    
        var data = new google.visualization.DataTable();


        data.addColumn('string', 'Name');   
        data.addColumn('string', 'Address');    
          
        <% @stores.each do |store| %>          
          data.addRow(['<span sw-loc="<%= store_preview_store_path(store)%>"  ><%= store.name[0..25] %></span>','<%= store.addressline1[0..40] %>'])
        
        <% end %>      


        var table = new google.visualization.Table(document.getElementById("store_results_table"));
        g_table = table;
        var cssClassNames = {headerRow: "simple-weed-google-table-header", headerCell: "simple-weed-google-table-header-cell-store-preview"};
        var viewportHeight = $(window).height();
        tableheight = viewportHeight / 2;
        table.draw(data, {showRowNumber: false, allowHtml: true, cssClassNames: cssClassNames, width: '457px', height: tableheight});
          
        google.visualization.events.addListener(table, 'sort', setWidth);
        setWidth();

        google.visualization.events.addListener(table, 'select', selectHandler);
      
        function selectHandler(e) {
          var selection = table.getSelection();         /** gets everything that's selected **/
          var item = selection[0];                      /** we only support selecting one at this time, if more than one is selected, we'll just use the first    item **/
          console.log(item.row);  /** gets the position in the table **/
          var selected_marker = g_markers[item.row];
          g_map.setCenter(selected_marker.getPosition());
          
          g_infowindow.setContent(data.getFormattedValue(item.row, 0));
          g_infowindow.open(g_map, selected_marker);

          var str = data.getFormattedValue(item.row, 0); /** gets the link stored in the first column of the selected row, ie
            <span sw-loc="/stores/920">1437 N La Brea Collective</span> 
          **/           
          html = $.parseHTML( str );                    
          var store_url = html[0].attributes["sw-loc"].value      /** the link: "/stores/920" **/

         $.ajax({

           type: "GET",
           url: store_url,           
           success: function(data) {
                 // data is ur summary
                $('#store-details-panel').html(data);
           }

         });
          
        } /** selectHandler **/

      })();

    


    function setWidth() {      
      var title = "Name";
      var width = "150px";
      $('.google-visualization-table-th:contains(' + title + ')').css('width', width);
    }



</script>

<script>
var g_markers = [];
var g_map;
var g_infowindow = new google.maps.InfoWindow();
var g_table;
</script>

<script type="text/javascript">
  (function loadStoresIntoMap() {
    var locations = [];

    <% @stores.each do |store| %>
    var name = "<%= escape_javascript store.name %>".substring(0,25);
    
    var currentStoreRecord = [ name,
                    <%= store.latitude %>,
                    <%= store.longitude %> ];
    locations.push(currentStoreRecord);
    <% end %>

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng( locations[0][1], locations[0][2]), //dvu: this centers the map around the first store 
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    g_map = map;

    //var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      g_markers.push(marker);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          g_infowindow.setContent(locations[i][0]);
          g_infowindow.open(map, marker);
          console.log('set selection ' +i);
          g_table.setSelection([{'row': i}]);
          g_map.setCenter(marker.getPosition());

          google.visualization.events.trigger(g_table, 'select', {});

          /** row # * 18px **/
          scrollpos = i * 20;
          $("#store_results_table > div > div:first-child").scrollTop(scrollpos);
        }
      })(marker, i));
    }
  })();
</script>


<div class="col-md-7">
  <div id = "store-details-panel" class="hero-unit">
    
    <div class="page-header">
      <h1>Select a store on the left <small>Click on a store to see more details</small></h1>
    </div>
    
  </div>
</div><!-- right panel -->
</div> <!-- row -->
</div>
      