<div id="register">
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-12">
        <h1>Manage Dispensaries</h1>

        <table class="table">
         
        <% @stores.each do |store| %>
          <tr>
            <td>
              <img src=<%= asset_path('pot.jpg') %> height="80" width="80" alt="store image" style="float:left;">
              
              <div>
              <%= link_to store.name, store_path(store) , data: { toggle: "modal", target: "#modal", remote: store_path(store)}  %> </br>
              <%= store.addressline1 %> </br>
              <%= store.city %>, <%= store.state %> <%= store.zip %> </br>
              <%= store.phonenumber %>
            </div>
            </td>            
            <td>
              Monthly Subscription: $0.00 </br>
              Subscription Package: Unlimited </br>
              Expires: 1/20/2016 </br>
            </td>
          </tr>
        <% end %>
        </table>

        <%= link_to "New store", new_store_path, id: "new_store", data: { toggle: "modal", target: "#modal" , remote: new_store_path} , class: 'btn btn-primary'%>
      </div>
    </div>
  </div>
</div>