<% content_for :head do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<% end %>

<div id="register">
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-12">
        
        <div id="map-container">
          <div id="map" ></div>
        </div>

        <ul id="search-results">
          <% @stores.each do |store| %>
            <li>
              <!--<%= image_tag("pot.jpg", size:"80", class: "store-image") %> -->
              <h4><%= link_to store.name, store_path(store, modal:true) , data: { toggle: "modal", target: "#modal", remote: store_path(store, modal:true)}  %> </h4>
              <%= store.addressline1 %> </br>
              <%= store.city %>, <%= store.state %> <%= store.zip %> </br>
              <%= store.phonenumber %>
              <hr class="divider">
            </li>
          <% end %>      
        </ul>




        <script type="text/javascript">
          (function loadStoresIntoMap() {
            var locations = [];

            <% @stores.each do |store| %>
            var currentStoreRecord = ["<%= escape_javascript store.name %>",
                            <%= store.latitude %>,
                            <%= store.longitude %> ];
            locations.push(currentStoreRecord);
            <% end %>

            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 10,
              center: new google.maps.LatLng( locations[0][1], locations[0][2]), //dvu: this centers the map around the first store 
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow();

            var marker, i;

            for (i = 0; i < locations.length; i++) {  
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
              });

              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                  infowindow.setContent(locations[i][0]);
                  infowindow.open(map, marker);
                }
              })(marker, i));
            }
          })();
        </script>

      </div>
    </div>
  </div>
</div>