
<% content_for :head do %>
<% if Rails.env == 'production' %>		
	<script src="http://maps.googleapis.com/maps/api/js?client=<%= Smellyleaf::Application.config.maps_api_key %>&v=3.16"></script>	
<% else %>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>			
<% end %>	
<script type='text/javascript' src='https://www.google.com/jsapi'></script> <!-- data table -->
<script type='text/javascript'>
	google.load('visualization', '1', {packages:['table']});
	// google.setOnLoadCallback(drawTable);


</script>	

<!-- <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css"> -->
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<!-- cached in store.css.scss -->
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"> -->
 
<% end %>

<div class="row top-section">
	
    
    <div class="col-md-12">		
    	<div class="store-header">
	    	<table class="store-header-table">
	    		<tr>
	    			<td>
						<%= render partial: 'stores/editlinks/edit_store_avatar' %>
					</td>
					<td class="store-name-and-edit">						
						<h1 id="name" class="store-name" style="display:inline"><%= @store.name %> 							
							<%= render partial: 'stores/editlinks/edit_store_promo' %>
						</h1>
						<% if !@store.facebook.blank? %>						
							<a id="facebook" href="<%= @urlservice.url_with_protocol(@store.facebook) %>">
								<span class="fa-stack fa-lg store-header-icons">
								  <i class="fa fa-circle fa-stack-2x"></i>
								  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						<% end %>
						<% if !@store.twitter.blank? %>						
							<a id="twitter" href="<%= @urlservice.url_with_protocol(@store.twitter) %>">
								<span class="fa-stack fa-lg store-header-icons">
								  <i class="fa fa-circle fa-stack-2x"></i>
								  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						<% end %>	
						<% if !@store.instagram.blank? %>						
							<a id="instagram" href="<%= @urlservice.url_with_protocol(@store.instagram) %>">
								<span class="fa-stack fa-lg store-header-icons">
								  <i class="fa fa-circle fa-stack-2x"></i>
								  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						<% end %>
					</td>
				</tr>
			</table>
		</div>

  		<ul id="store-stars-and-promo">
			<!-- pro coding right here -->
			<li class="star-rank">
				<%= render partial: 'layouts/stars', locals: {score: @store.stars} %>
			</li>
			<li>
				<% if !@store.promo.blank? %>
					<h3 class="inline-header">current promotion:</h3><span>  <%= @store.promo %></span>
				<% end %>
			</li>
		<ul id="review-controls">			
			<li>
				<% if !current_user.nil? && current_user.follows?(@store) %>
					<%= render :partial =>'unfollow_store_button', locals: {store: @store }%>		
				<% else %>
					<%= render :partial =>'follow_store_button', locals: {store: @store }%>		
				<% end %>
				<% if current_user.nil? %>
					<script>						
						$("#follow-store-button").click(function(e){
							e.preventDefault();	
							$("#log-in-link").click();
						})
					</script>
				<% end %>
			</li>
			<% if @role_service.findStoreOwnerForStore(@store).size < 1 %>
				<li class="claim-store-button">
					<%= link_to 'CLAIM', show_claim_store_path(@store), class: 'btn btn-warning' , id: "claim-store-button" %>
				</li>	
			<% end %>
			<% 
			canReviewResult = @role_service.canViewWriteReviewButton(current_user, @store) 
			if canReviewResult == true

				%>
				<li class="write-review-button">				
					<%= link_to 'REVIEW', new_store_store_review_path(@store) , data: { toggle: "modal", target: "#modal", remote: new_store_store_review_path(@store)} , id: "write-review-button" , class: "btn btn-primary", "data-content"=>"<span id='write-review-first-tip'>Be the first!</span>" %>
				</li>			
			<% else %>
				<li class="write-review-button-blocked">
					<!-- <a class="btn btn-default" >Write a Review</a> -->
					<%= link_to 'REVIEW', new_store_store_review_path(@store) , id: "write-review-button-blocked" , class: "btn btn-default", "data-content"=>"<span id='write-review-blocked-tip'>"+canReviewResult+"</span>" %>
					<script>
						$('#write-review-button-blocked').click(function(e){
						  	e.preventDefault();
						  	$('#write-review-button-blocked').popover({ 
							    html : true,
							    placement : "right"
							}).popover('show');
					
						});
					</script>
				</li>
			<% end %>
		</ul>
		<div class="based-on">
			<% if @store.store_reviews.count == 0 %>
				0 reviews
			<% else %>
				based on <%= @store.store_reviews.count %> reviews
			<% end %>
		</div>
	</div>
	<div class="col-md-3">
		<div id="contact">
			<div class="header-and-edit-link">
				<h3 class = "inline-header">business info</h3>
				<% if @role_service.canManageStore(current_user, @store) %>					
					<%= link_to edit_contact_store_path(@store), data: { toggle: "modal", target: "#modal", remote: edit_contact_store_path(@store)} , id: "edit-contact-link",  class: "btn edit-store-link" do %>
    					<span class="glyphicon glyphicon-edit"></span>
					<% end %>
				<% end %>
			</div>
			<address>					
				<span id="addressline1"><%= @store.addressline1  %></span>
					<br>
				<% if  @store.addressline2 && !@store.addressline2.empty?  %>
					<span id="addressline2"><%= @store.addressline2  %></span>
					<br>
				<% end %>	
				<span id="city"><%= @store.city  %></span>, 
				<span id="state"><%= @store.state  %></span>
				<span id="zip"><%= @store.zip  %></span>
				<br />
				<br />
				 
				 <% if !@store.website.blank? %>						
					<i class="glyphicon glyphicon-home"></i>
					<a id="website" href="<%= @urlservice.url_with_protocol(@store.website) %>">
						<%= @store.website  %>
					</a>
				<% end %>
				 <br />
				 <% if !@store.phonenumber.blank? %>						
					 <i class="glyphicon glyphicon-earphone"></i> 
					 <span id="phonenumber"><%= @store.phonenumber  %></span>
					 <br />
				 <% end %>
				 <% if !@store.email.blank? %>						
					 <i class="glyphicon glyphicon-envelope"></i>					
					 <span id="email"><%= @store.email  %></span>
					 <br />
				<% end %>
				 
				 <div id="ts-store-status"></div>
				 
				 <br/>
			</address>
		</div>
	</div>
	<div class="col-md-4">
		<div class="store-map-loc">		
			<div id="gmap_canvas"></div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="header-and-edit-link">
			<h3 class="inline-header">announcement</h3>
			<%= render partial: 'stores/editlinks/edit_store_announcement' %>			
		</div>
		<div id="announcement">
			<% if  @store.announcement && !@store.announcement.empty?  %>
				<%= raw @store.announcement %>
			<% else %>
				none.
			<% end %>
		</div>
		<h3>recent photos</h3>
		<% imagename = 'weed'+ rand(1..3).to_s + '.jpg' %>
		<%= image_tag imagename, :class => "item-search-result-store-logo-grouped" %>
		<% imagename = 'weed'+ rand(1..3).to_s + '.jpg' %>
		<%= image_tag imagename, :class => "item-search-result-store-logo-grouped" %>
		<% imagename = 'weed'+ rand(1..3).to_s + '.jpg' %>
		<%= image_tag imagename, :class => "item-search-result-store-logo-grouped" %>
		<% imagename = 'weed'+ rand(1..3).to_s + '.jpg' %>
		<%= image_tag imagename, :class => "item-search-result-store-logo-grouped" %>
	</div><!-- col-md-5 -->
</div> <!-- row  -->
	 
<div class="row bottom-section">	
	<div class="col-md-8">			
  		<ul class="nav nav-tabs">
	  		<li class="active"><a href="#store-info" data-toggle="tab">info</a></li>
	  		<li><a id="tabs-reviews" href="#store-reviews" data-toggle="tab">reviews</a></li>  
		</ul>

		<div id="item-preview-tab-content" class="tab-content">
	  		<div class="tab-pane active" id="store-info"><%= render 'show_info_panel' %></div>
	  		<div class="tab-pane" id="store-reviews"><%= render 'show_reviews_panel' %></div>
	  	</div>
	

<script>
$('#item-preview-tab-content .nav-tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show') 
})
</script>
  
  	</div>

    <!-- right, side bar -->
    <div class="col-md-4">
        
		
		<script type="text/javascript">

  			function codeAddress() {
				    //In this case it gets the address from an element on the page, but obviously you  could just pass it to the method instead

				    geocoder = new google.maps.Geocoder();				    
				    var address = "<%= escape_javascript @store.address %>";

				    geocoder.geocode( { 'address': address}, function(results, status) {
				      if (status == google.maps.GeocoderStatus.OK) {
				        //In this case it creates a marker, but you can get the lat and lng from the location.LatLng
				        console.log(results[0].geometry.location);
						var myOptions = {
							zoom:15,
							center: new google.maps.LatLng(results[0].geometry.location),
							mapTypeId: google.maps.MapTypeId.ROADMAP
						}
				        map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
				        map.setCenter(results[0].geometry.location);
				        var marker = new google.maps.Marker({
				            map: map, 
				            position: results[0].geometry.location,				            
				        });
				        
						// infowindow = new google.maps.InfoWindow
						// 	({
						// 		content:"<span class='gmap'><%= @store.name  %></span>" 
						// 	});
						// google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});
	
						// infowindow.open(map,marker);

						
				      } else {
				        //breaking selenium?
				        //alert("Geocode was not successful for the following reason: " + status);
				      }
				    });
				  }
			google.maps.event.addDomListener(window, "load", codeAddress);
			
		</script>
		
		<!-- end of google maps -->
		

		

		<script type="text/javascript">
			
			$( document ).ready(function() {
				var isStoreOpen = <%= @is_open %>;				
				var dayInt = "<%= @dayint %>";
				if ( isStoreOpen ) {
					setStoreStatus(dayInt , "open now", "green");
				} else {
					setStoreStatus(dayInt, "closed now", "red");
				}  
			});

			function setStoreStatus(dayint, status, color) {
				// store schedule elements
				var idPrefix = "store-status-";
				var divid = idPrefix + dayint;				
				var selector = "#" + divid ;
				$(selector).html(status);				
				$(selector).addClass(color)
				// set in top section business info as well
				var topSectionIdPrefix = "ts-store-status";
				var topSectionSelector = "#" + topSectionIdPrefix;
				$(topSectionSelector).html(status);
				$(topSectionSelector).addClass(color)
			}

		</script>

								
		
			

		<div class="header-and-edit-link">		
			<h3 class="inline-header">hours</h3>
			<% if @role_service.canManageStore(current_user, @store) %>				
				<%= link_to edit_hours_store_path(@store), data: { toggle: "modal", target: "#modal", remote: edit_hours_store_path(@store)} , id: "edit-hours-link",  class: "btn edit-store-link" do %>
    					<span class="glyphicon glyphicon-edit"></span>
					<% end %>
			<% end %>
		</div>

		<table id="storehours">			
			<tr>
				<td class="day">sunday</td>
				<td class="store-hours-text" id="sunday-hours">
					<% if @store.sundayclosed %>
						Closed					
					<% else %>
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourssundayopenhour, @store.storehourssundayopenminute ) %> -
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourssundayclosehour, @store.storehourssundaycloseminute ) %>		
					<% end %>
				</td>
				<td id="store-status-0" class="hours-current-status"></td>
			</tr>				
			<tr>
				<td class="day">monday</td>
				<td class="store-hours-text" id="monday-hours">
					<% if @store.mondayclosed %>
						Closed					
					<% else %>
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursmondayopenhour, @store.storehoursmondayopenminute ) %> -
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursmondayclosehour, @store.storehoursmondaycloseminute ) %>
					<% end %>
				</td>
				<td id="store-status-1" class="hours-current-status"></td>
			</tr>
			<tr>
				<td class="day">tuesday</td>
				<td class="store-hours-text" id="tuesday-hours">
					<% if @store.tuesdayclosed %>
						Closed					
					<% else %>					
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourstuesdayopenhour, @store.storehourstuesdayopenminute ) %> -
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourstuesdayclosehour, @store.storehourstuesdaycloseminute ) %>
					<% end %>
				</td>
				<td id="store-status-2" class="hours-current-status"></td>
			</tr>
			<tr>
				<td class="day">wednesday</td>
				<td class="store-hours-text" id="wednesday-hours">
					<% if @store.wednesdayclosed %>
						Closed					
					<% else %>					
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourswednesdayopenhour, @store.storehourswednesdayopenminute ) %> -
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourswednesdayclosehour, @store.storehourswednesdaycloseminute ) %>
					<% end %>
				</td>
				<td id="store-status-3" class="hours-current-status"></td>
			</tr>
			<tr>
				<td class="day">thursday</td>
				<td class="store-hours-text" id="thursday-hours">
					<% if @store.thursdayclosed %>
						Closed					
					<% else %>					
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursthursdayopenhour, @store.storehoursthursdayopenminute ) %> -
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursthursdayclosehour, @store.storehoursthursdaycloseminute ) %>
					<% end %>
				</td>
				<td id="store-status-4" class="hours-current-status"></td>
			</tr>
			<tr>
				<td class="day">friday</td>
				<td class="store-hours-text" id="friday-hours">
					<% if @store.fridayclosed %>
						Closed					
					<% else %>										
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursfridayopenhour, @store.storehoursfridayopenminute ) %> -
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursfridayclosehour, @store.storehoursfridaycloseminute ) %>
					<% end %>
				</td>
				<td id="store-status-5" class="hours-current-status"></td>
			</tr>
			<tr>
				<td class="day">saturday</td>
				<td class="store-hours-text" id="saturday-hours">
					<% if @store.saturdayclosed %>
						Closed					
					<% else %>										
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourssaturdayopenhour, @store.storehourssaturdayopenminute ) %> -
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourssaturdayclosehour, @store.storehourssaturdaycloseminute ) %>
					<% end %>
				</td>
				<td id="store-status-6" class="hours-current-status"></td>
			</tr>
		</table>
		<hr />

		<div class="header-and-edit-link">		
			<h3 class="inline-header">daily specials</h3>
			<%= render partial: 'stores/editlinks/edit_store_daily_specials' %>		
		</div>
		<table id="dailyspecials">
			<tr>
				<td class="day">sunday</td>
				<td id="dailyspecials_sunday" class="daily-specials-val"><%= @store.dailyspecialssunday %></td>
			</tr>		
			<tr>
				<td class="day">monday</td>
				<td id="dailyspecials_monday" class="daily-specials-val"><%= @store.dailyspecialsmonday %></td>
			</tr>
			<tr>
				<td class="day">tuesday</td>
				<td id="dailyspecials_tuesday" class="daily-specials-val"><%= @store.dailyspecialstuesday %></td>
			</tr>
			<tr>
				<td class="day">wednesday</td>
				<td id="dailyspecials_wednesday" class="daily-specials-val"><%= @store.dailyspecialswednesday %></td>
			</tr>
			<tr>
				<td class="day">thursday</td>
				<td id="dailyspecials_thursday" class="daily-specials-val"><%= @store.dailyspecialsthursday %></td>
			</tr>
			<tr>
				<td class="day">friday</td>
				<td id="dailyspecials_friday" class="daily-specials-val"><%= @store.dailyspecialsfriday %></td>
			</tr>
			<tr>
				<td class="day">saturday</td>
				<td id="dailyspecials_saturday" class="daily-specials-val"><%= @store.dailyspecialssaturday %></td>
			</tr>
		</table>
		<hr />
		
		<div class="header-and-edit-link">
			<h3 class = "inline-header">first time patient deals </h3>
			<%= render partial: 'stores/editlinks/edit_first_time_patient_deals' %>		

		</div>
		<p id="first-time-patient-deals">
			<% if  @store.firsttimepatientdeals && !@store.firsttimepatientdeals.empty?  %>
				<%= raw @store.firsttimepatientdeals %>
			<% else %>
				none.
			<% end %>
		</p>
		<hr/>

		<div class="header-and-edit-link">
			<h3 class="inline-header">dispensary features</h3>
			<%= render partial: 'stores/editlinks/edit_store_features' %>		
		</div>
		
		<table id="dispensaryfeatures">
			<tr>
				<td>accepts credit/debit cards</td>
				<td><%= check_box_tag :acceptscreditcards , 1 , @store.acceptscreditcards ? true : false, disabled: true %></td>
			</tr>
			<tr>
				<td>atm access</td>
				<td><%= check_box_tag :atmaccess , 1 , @store.atmaccess ? true : false, disabled: true %></td>
			</tr>
			<tr>
				<td>automatic dispensing machines</td>
				<td><%= check_box_tag :automaticdispensingmachines , 1 , @store.automaticdispensingmachines ? true : false, disabled: true %></td>
			</tr>
			<tr>
				<td>delivery service</td>
				<td><%= check_box_tag :deliveryservice , 1 , @store.deliveryservice ? true : false, disabled: true %></td>
			</tr>
			<tr>
				<td>first time patient deals</td>
				<td><%= check_box_tag :firsttimepatientdeals , 1 , @store.firsttimepatientdeals && !@store.firsttimepatientdeals.empty? ? true : false, disabled: true %></td>
			</tr>
			<tr>
				<td>handicap access</td>
				<td><%= check_box_tag :handicapaccess , 1 , @store.handicapaccess ? true : false, disabled: true %></td>
			</tr>
			<tr>
				<td>lounge area</td>
				<td><%= check_box_tag :loungearea , 1 , @store.loungearea ? true : false, disabled: true %></td>
			</tr>
			<tr>
				<td>pet friendly</td>
				<td><%= check_box_tag :petfriendly , 1 , @store.petfriendly ? true : false, disabled: true %></td>
			</tr>
			<tr>
				<td>security guard</td>
				<td><%= check_box_tag :securityguard , 1 , @store.securityguard ? true : false, disabled: true %></td>
			</tr>			
			<tr>
				<td>lab tested</td>
				<td><%= check_box_tag :labtested , 1 , @store.labtested ? true : false, disabled: true %></td>
			</tr>			
			<tr>
				<td>18+</td>
				<td><%= check_box_tag :eighteenplus , 1 , @store.eighteenplus ? true : false, disabled: true %></td>
			</tr>			
			<tr>
				<td>21+</td>
				<td><%= check_box_tag :twentyoneplus , 1 , @store.twentyoneplus ? true : false, disabled: true %></td>
			</tr>			
			<tr>
				<td>photos</td>
				<td><%= check_box_tag :hasphotos , 1 , @store.hasphotos ? true : false, disabled: true %></td>
			</tr>			
			<tr>
				<td>on site testing</td>
				<td><%= check_box_tag :onsitetesting , 1 , @store.onsitetesting ? true : false, disabled: true %></td>
			</tr>			
		</table>
		<hr />
								
		<div class="header-and-edit-link">
			<h3 class="inline-header">delivery areas</h3>
			<% if @role_service.canManageStore(current_user, @store) %>				
				<%= link_to edit_deliveryarea_store_path(@store), data: { toggle: "modal", target: "#modal", remote: edit_deliveryarea_store_path(@store)} , id: "edit-deliveryarea-link",  class: "btn edit-store-link" do %>
    					<span class="glyphicon glyphicon-edit"></span>
				<% end %>

			<% end %>
		</div>	
		<div id="delivery-area">
			<% if  @store.deliveryarea && !@store.deliveryarea.empty?  %>
				<%= raw @store.deliveryarea %>
			<% else %>
				none.
			<% end %>
		</div>
		<hr />

    </div><!-- end right, side bar -->
</div> <!-- end of 'row' -->


