<h2 id="name"><%= @store.name %></h2>      
<p id="addressline1">
	<strong>Address Line 1:</strong>
	<%= @store.addressline1  %>
</p>
<p id="city">
	<strong>City:</strong>
	<%= @store.city  %>
</p>
<p id="state">
	<strong>State:</strong>
	<%= @store.state  %>
</p>
<p id="zip">
	<strong>Zip:</strong>
	<%= @store.zip  %>
</p>
<p id="phonenumber">
	<strong>Phone Number:</strong>
	<%= @store.phonenumber  %>
</p>

