<h1 id="name"><%= @store.name %></h1>      

<!-- pro coding right here -->
<div class="star-rank">
	<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
	<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
	<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
	<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
	<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
	<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
	<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
	<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
	<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
	<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
</div>
<div class="reviews-link">
	Reviews (100)
</div>	

<div class="write-review-button">
	<%= link_to 'Write a Review', store_path(@store), class: 'btn btn-primary' , id: "write-review-button" %>
</div>	

<br/>
<p id="addressline1">
	<strong>Address Line 1:</strong>
	<%= @store.addressline1  %>
</p>
<p id="city">
	<strong>City:</strong>
	<%= @store.city  %>
</p>
<p id="state">
	<strong>State:</strong>
	<%= @store.state  %>
</p>
<p id="zip">
	<strong>Zip:</strong>
	<%= @store.zip  %>
</p>
<p id="phonenumber">
	<strong>Phone Number:</strong>
	<%= @store.phonenumber  %>
</p>

