
<% content_for :head do %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
	google.load('visualization', '1', {packages:['table']});
	// google.setOnLoadCallback(drawTable);


</script>	
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<!-- <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css"> -->

<!-- cached in store.css.scss -->
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"> -->
 
<% end %>

<div class="row">
	<!-- left, main section -->
    <div class="col-md-8">
		<h1 id="name"><%= @store.name %></h1>      
		<div id="review-controls">
			<!-- pro coding right here -->
			<div class="star-rank">
				<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
				<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
				<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
				<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
				<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
				<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
				<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
				<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
				<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
				<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
			</div>
			<div class="reviews-link">
				Reviews (100)
			</div>	

			<div class="write-review-button">
				<%= link_to 'Write a Review', store_path(@store), class: 'btn btn-primary' , id: "write-review-button" %>
			</div>	
		</div>
		<% if  @store.description && !@store.description.empty?  %>			
			<div class="header-and-edit-link">
				<h4 class = "inline-header">Description </h4>			
				<%= link_to 'Edit', edit_description_store_path(@store) , data: { toggle: "modal", target: "#modal", remote: edit_description_store_path(@store)} , id: "edit-description-link", class: "edit-store-link" %>
			</div>
			<p id="description">				
				<%= raw @store.description %>								
			</p> 
		<% end %>

		<% if  @store.firsttimepatientdeals && !@store.firsttimepatientdeals.empty?  %>
			<div class="header-and-edit-link">
				<h4 class = "inline-header">First Time Patient Deals </h4>			
				<%= link_to 'Edit', edit_firsttimepatientdeals_store_path(@store) , data: { toggle: "modal", target: "#modal", remote: edit_firsttimepatientdeals_store_path(@store)} , id: "edit-first-time-patient-deals-link" , class: "edit-store-link"%>
			</div>
			<p id="first-time-patient-deals">
				<%= raw @store.firsttimepatientdeals %>
			</p>
		<% end %>

		<h3 class= "inline-header">Menu</h3>
		<% if can? :manage, Store %>		  
	  		
	  		<%= link_to 'Edit', store_store_items_path(@store), class: 'store-edit-link' , id: "edit_store_items" , class: "edit-store-link", 'data-no-turbolink' => true%>
	  		</br></br>
		<% end %>



		
		
		<div id="accordion">			
			<% @grouped_store_items.each do |category, store_items| %>
  			<h3><%= category %></h3>
  			<div> <!-- empty div required for jquery accordion -->
  				
  				<div id="table_<%= category %>" ></div>

<script>
	(function drawTable() {
	  var pricePerUnit = "<%=  store_items.first.costperunit %>";
	  var data = new google.visualization.DataTable();

	  if(pricePerUnit > 0) {
		  data.addColumn('string', '');	  
		  data.addColumn('string', 'each');
	  } else {
		  data.addColumn('string', '');	  
		  data.addColumn('string', '1g');
		  data.addColumn('string', '1/8');
		  data.addColumn('string', '1/4');
		  data.addColumn('string', '1/2');
		  data.addColumn('string', '1 oz');
	  }

	  
      
        <% store_items.each do |store_item| %>
		    if (pricePerUnit > 0) {
		    	data.addRow(['<%= store_item.name %>','<%= store_item.costperunit %>'])
		    } else {
		    	data.addRow(['<%= store_item.name %>','<%= store_item.costonegram %>','<%= store_item.costeighthoz %>',
		     	'<%= store_item.costquarteroz %>','<%= store_item.costhalfoz %>','<%= store_item.costoneoz %>']);		    	
		    }
  		<% end %>      


      var table = new google.visualization.Table(document.getElementById("table_<%= category %>"));
      
 	  var cssClassNames = {headerRow: "simple-weed-google-table-header", headerCell: "simple-weed-google-table-header-cell"};
      table.draw(data, {showRowNumber: false, allowHtml: true, cssClassNames: cssClassNames, width: '749px'});
      
      
      google.visualization.events.addListener(table, 'sort', setWidth);
      setWidth();
	})();

	function setWidth() {
	  var title = "Name";
      var width = "400px";
      $('.google-visualization-table-th:contains(' + title + ')').css('width', width);
	}
</script>

		
			
			
			</div>	
		
		<% end %>

		</div> <!-- accordion -->
		  <script>
		  $(function() {

		    $( "#accordion" ).accordion({
		      heightStyle: "content", //allows divs to be different height.  Very important
		      collapsible: true, 	//allows all elements to be collabsible		      
		    });
		  });
  		</script>


    </div> <!-- end of left container -->

    <!-- right, side bar -->
    <div class="col-md-4">
        <div class="store-map-loc">
		
		<div id="gmap_canvas"></div>
		
		<script type="text/javascript">

  			function codeAddress() {
				    //In this case it gets the address from an element on the page, but obviously you  could just pass it to the method instead

				    geocoder = new google.maps.Geocoder();
				    //var address = "7110 Rock Valley Court, San Diego, CA 92122";
				    var address = "<%= escape_javascript @store.address %>";

				    geocoder.geocode( { 'address': address}, function(results, status) {
				      if (status == google.maps.GeocoderStatus.OK) {
				        //In this case it creates a marker, but you can get the lat and lng from the location.LatLng
				        console.log(results[0].geometry.location);
						var myOptions = {
							zoom:15,
							center: new google.maps.LatLng(results[0].geometry.location),
							mapTypeId: google.maps.MapTypeId.ROADMAP
						}
				        map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
				        map.setCenter(results[0].geometry.location);
				        var marker = new google.maps.Marker({
				            map: map, 
				            position: results[0].geometry.location,				            
				        });
				        
						// infowindow = new google.maps.InfoWindow
						// 	({
						// 		content:"<span class='gmap'><%= @store.name  %></span>" 
						// 	});
						// google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});
	
						// infowindow.open(map,marker);

						
				      } else {
				        alert("Geocode was not successful for the following reason: " + status);
				      }
				    });
				  }
			google.maps.event.addDomListener(window, "load", codeAddress);
			
		</script>
		</div>
		<!-- end of google maps -->
		<div id="contact">
			<div class="header-and-edit-link">
				<h3 class = "inline-header">Contact</h3>
				<%= link_to 'Edit', edit_contact_store_path(@store) , data: { toggle: "modal", target: "#modal", remote: edit_contact_store_path(@store)} , id: "edit-contact-link", class: "edit-store-link" %>
			</div>
			<address>
				<strong><%= @store.name  %></strong>
				<span id="addressline1"><%= @store.addressline1  %></span>
					<br>
				<% if  @store.addressline2 && !@store.addressline2.empty?  %>
					<span id="addressline2"><%= @store.addressline2  %></span>
					<br>
				<% end %>	
				<span id="city"><%= @store.city  %></span>, 
				<span id="state"><%= @store.state  %></span>
				<span id="zip"><%= @store.zip  %></span>
				<br />
				 
				 <abbr title="Phone">P:</abbr> 
				 <span id="phonenumber"><%= @store.phonenumber  %></span>
				 <br />
				 <abbr title="Email">E:</abbr> 
				 <span id="email"><%= @store.email  %></span>
				 <br />
				 <abbr title="Website">W:</abbr> 
				 <span id="website"><%= @store.website  %></span>
				 <br />
				 <abbr title="Facebook">Facebook:</abbr> 
				 <span id="facebook"><%= raw @store.facebook  %></span>
				 <br>
				 <abbr title="Twitter">Twitter:</abbr> 
				 <span id="twitter"><%= raw @store.twitter  %> </span>
			 	<br/>
				 <abbr title="Instagram">Instagram:</abbr> 
				 <span id="instagram"><%= raw @store.instagram  %></span>
				 <br>
			</address>
		</div>

		<div id="debug" class="hidden">
		<h3 >Debug</h3>
		 <%= @timezone %><br>
		 <%= @currenttime %><br>
		 <%= @secondsSinceMidnight %><br>
		 <%= @day %><br>
		 <%= @debug %><br>
		is open? <%= @is_open %>
		filepath : <%= @store.filepath %>  <br/>

		</div>

		<script type="text/javascript">
			
			$( document ).ready(function() {
				var isStoreOpen = <%= @is_open %>;				
				var dayInt = "<%= @dayint %>";
				if ( isStoreOpen ) {
					setStoreStatus(dayInt , "Open now", "green");
				} else {
					setStoreStatus(dayInt, "Closed now", "red");
				}  
			});

			function setStoreStatus(dayint, status, color) {
				var idPrefix = "store-status-";
				var divid = idPrefix + dayint;				
				var selector = "#" + divid ;
				$(selector).html(status);				
				$(selector).addClass(color)
			}

		</script>

		<% if  @store.announcement && !@store.announcement.empty?  %>						
			<div class="header-and-edit-link">
				<h3 class="inline-header">Announcement</h3>
				<%= link_to 'Edit', edit_announcement_store_path(@store) , data: { toggle: "modal", target: "#modal", remote: edit_announcement_store_path(@store)} , id: "edit-announcement-link" , class: "edit-store-link"%>			
			</div>
			<div id="announcement">
				<%= raw @store.announcement %>
			</div>
		<% end %>	

		<div class="header-and-edit-link">		
			<h3 class="inline-header">Hours</h3>
			<%= link_to 'Edit', edit_hours_store_path(@store) , data: { toggle: "modal", target: "#modal", remote: edit_hours_store_path(@store)} , id: "edit-hours-link", class: "edit-store-link" %>
		</div>

		<table id="storehours">			
			<tr>
				<td class="day">Sunday</td>
				<td class="store-hours-text">
					<% if @store.sundayclosed %>
						Closed					
					<% else %>
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourssundayopenhour, @store.storehourssundayopenminute ) %> -
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourssundayclosehour, @store.storehourssundaycloseminute ) %>		
					<% end %>
				</td>
				<td id="store-status-0" class="hours-current-status"></td>
			</tr>				
			<tr>
				<td class="day">Monday</td>
				<td class="store-hours-text">
					<% if @store.mondayclosed %>
						Closed					
					<% else %>
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursmondayopenhour, @store.storehoursmondayopenminute ) %> -
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursmondayclosehour, @store.storehoursmondaycloseminute ) %>
					<% end %>
				</td>
				<td id="store-status-1" class="hours-current-status"></td>
			</tr>
			<tr>
				<td class="day">Tuesday</td>
				<td class="store-hours-text">
					<% if @store.tuesdayclosed %>
						Closed					
					<% else %>					
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourstuesdayopenhour, @store.storehourstuesdayopenminute ) %> -
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourstuesdayclosehour, @store.storehourstuesdaycloseminute ) %>
					<% end %>
				</td>
				<td id="store-status-2" class="hours-current-status"></td>
			</tr>
			<tr>
				<td class="day">Wednesday</td>
				<td class="store-hours-text">
					<% if @store.wednesdayclosed %>
						Closed					
					<% else %>					
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourswednesdayopenhour, @store.storehourswednesdayopenminute ) %> -
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourswednesdayclosehour, @store.storehourswednesdaycloseminute ) %>
					<% end %>
				</td>
				<td id="store-status-3" class="hours-current-status"></td>
			</tr>
			<tr>
				<td class="day">Thursday</td>
				<td class="store-hours-text">
					<% if @store.thursdayclosed %>
						Closed					
					<% else %>					
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursthursdayopenhour, @store.storehoursthursdayopenminute ) %> -
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursthursdayclosehour, @store.storehoursthursdaycloseminute ) %>
					<% end %>
				</td>
				<td id="store-status-4" class="hours-current-status"></td>
			</tr>
			<tr>
				<td class="day">Friday</td>
				<td class="store-hours-text">
					<% if @store.fridayclosed %>
						Closed					
					<% else %>										
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursfridayopenhour, @store.storehoursfridayopenminute ) %> -
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursfridayclosehour, @store.storehoursfridaycloseminute ) %>
					<% end %>
				</td>
				<td id="store-status-5" class="hours-current-status"></td>
			</tr>
			<tr>
				<td class="day">Saturday</td>
				<td class="store-hours-text">
					<% if @store.saturdayclosed %>
						Closed					
					<% else %>										
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourssaturdayopenhour, @store.storehourssaturdayopenminute ) %> -
					<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourssaturdayclosehour, @store.storehourssaturdaycloseminute ) %>
					<% end %>
				</td>
				<td id="store-status-6" class="hours-current-status"></td>
			</tr>
		</table>

		<div class="header-and-edit-link">		
			<h3 class="inline-header">Daily Specials</h3>
			<%= link_to 'Edit', edit_dailyspecials_store_path(@store) , data: { toggle: "modal", target: "#modal", remote: edit_dailyspecials_store_path(@store)} , id: "edit-daily-specials-link" , class: "edit-store-link" %>
		</div>
		<table id="dailyspecials">
			<tr>
				<td class="day">Sunday</td>
				<td id="dailyspecials_sunday" class="daily-specials-val"><%= @store.dailyspecialssunday %></td>
			</tr>		
			<tr>
				<td class="day">Monday</td>
				<td id="dailyspecials_monday" class="daily-specials-val"><%= @store.dailyspecialsmonday %></td>
			</tr>
			<tr>
				<td class="day">Tuesday</td>
				<td id="dailyspecials_tuesday" class="daily-specials-val"><%= @store.dailyspecialstuesday %></td>
			</tr>
			<tr>
				<td class="day">Wednesday</td>
				<td id="dailyspecials_wednesday" class="daily-specials-val"><%= @store.dailyspecialswednesday %></td>
			</tr>
			<tr>
				<td class="day">Thursday</td>
				<td id="dailyspecials_thursday" class="daily-specials-val"><%= @store.dailyspecialsthursday %></td>
			</tr>
			<tr>
				<td class="day">Friday</td>
				<td id="dailyspecials_friday" class="daily-specials-val"><%= @store.dailyspecialsfriday %></td>
			</tr>
			<tr>
				<td class="day">Saturday</td>
				<td id="dailyspecials_saturday" class="daily-specials-val"><%= @store.dailyspecialssaturday %></td>
			</tr>
		</table>
		
		<div class="header-and-edit-link">
			<h3 class="inline-header">Dispensary Features</h3>
			<%= link_to 'Edit', edit_features_store_path(@store) , data: { toggle: "modal", target: "#modal", remote: edit_features_store_path(@store)} , id: "edit-features-link" , class: "edit-store-link" %>
		</div>
		
		<table id="dispensaryfeatures">
			<tr>
				<td>Accepts Credit/Debit cards</td>
				<td><%= check_box_tag :acceptscreditcards , 1 , @store.acceptscreditcards ? true : false, disabled: true %></td>
			</tr>
			<tr>
				<td>ATM Access</td>
				<td><%= check_box_tag :atmaccess , 1 , @store.atmaccess ? true : false, disabled: true %></td>
			</tr>
			<tr>
				<td>Automatic Dispensing Machines</td>
				<td><%= check_box_tag :automaticdispensingmachines , 1 , @store.automaticdispensingmachines ? true : false, disabled: true %></td>
			</tr>
			<tr>
				<td>Delivery Service</td>
				<td><%= check_box_tag :deliveryservice , 1 , @store.deliveryservice ? true : false, disabled: true %></td>
			</tr>
			<tr>
				<td>First Time Patient Deals</td>
				<td><%= check_box_tag :firsttimepatientdeals , 1 , @store.firsttimepatientdeals ? true : false, disabled: true %></td>
			</tr>
			<tr>
				<td>Handicap Access</td>
				<td><%= check_box_tag :handicapaccess , 1 , @store.handicapaccess ? true : false, disabled: true %></td>
			</tr>
			<tr>
				<td>Lounge Area</td>
				<td><%= check_box_tag :loungearea , 1 , @store.loungearea ? true : false, disabled: true %></td>
			</tr>
			<tr>
				<td>Pet Friendly</td>
				<td><%= check_box_tag :petfriendly , 1 , @store.petfriendly ? true : false, disabled: true %></td>
			</tr>
			<tr>
				<td>Security Guard</td>
				<td><%= check_box_tag :securityguard , 1 , @store.securityguard ? true : false, disabled: true %></td>
			</tr>			
			<tr>
				<td>Lab Tested</td>
				<td><%= check_box_tag :labtested , 1 , @store.labtested ? true : false, disabled: true %></td>
			</tr>			
			<tr>
				<td>18+</td>
				<td><%= check_box_tag :eighteenplus , 1 , @store.eighteenplus ? true : false, disabled: true %></td>
			</tr>			
			<tr>
				<td>21+</td>
				<td><%= check_box_tag :twentyoneplus , 1 , @store.twentyoneplus ? true : false, disabled: true %></td>
			</tr>			
			<tr>
				<td>Photos</td>
				<td><%= check_box_tag :hasphotos , 1 , @store.hasphotos ? true : false, disabled: true %></td>
			</tr>			
			<tr>
				<td>On Site Testing</td>
				<td><%= check_box_tag :onsitetesting , 1 , @store.onsitetesting ? true : false, disabled: true %></td>
			</tr>			
		</table>

		<% if  @store.deliveryarea && !@store.deliveryarea.empty?  %>			
			
			<div class="header-and-edit-link">
				<h3 class="inline-header">Delivery Areas</h3>
				<%= link_to 'Edit', edit_deliveryarea_store_path(@store) , data: { toggle: "modal", target: "#modal", remote: edit_deliveryarea_store_path(@store)} , id: "edit-deliveryarea-link" , class: "edit-store-link" %>
			</div>	
			<div id="delivery-area">
				<%= raw @store.deliveryarea %>
			</div>
		<% end %>	

    </div><!-- end right, side bar -->
</div> <!-- end of 'row' -->


