<div class="container">
	<h3>
		<%= @store.name %>
	</h3>
	<div class="star-rank">
		<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
		<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
		<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
		<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
		<%= image_tag("yellowstar.jpeg", size:"20", class: "star-image") %>
	</div>
	


</div>