
<div id="store-preview-container">
	<div class="page-header">
    	<h1><%= @store.name %> <small>Promotional blurb</small></h1>
  	</div>	
	<div class="star-rank">
		<span class="glyphicon glyphicon-star"></span>
		<span class="glyphicon glyphicon-star"></span>
		<span class="glyphicon glyphicon-star"></span>
		<span class="glyphicon glyphicon-star"></span>
		<span class="glyphicon glyphicon-star"></span>		
	</div>
	<div id="view-store">
		<%= link_to 'View Full Page', store_path(@store), class: 'btn btn-primary' , id: "view_store", 'data-no-turbolink' => true %>
	</div>
	<div>
		<% if  @store.addressline1 && !@store.addressline1.empty?  %>
			<span id="addressline1"><%= @store.addressline1  %>, </span>		
		<% end %>
		<% if  @store.addressline2 && !@store.addressline2.empty?  %>
			<span id="addressline2"><%= @store.addressline2  %>, </span>			
		<% end %>
		<span id="city"><%= @store.city  %></span>, 
		<span id="state"><%= @store.state  %></span>
		<span id="zip"> <%= @store.zip  %></span>			
	</div>

	<h3>
		Menu
	</h3>
	<div id="store-preview-accordion">			
		<% @grouped_store_items.each do |category, store_items| %>
			<h3><%= category %></h3>
			<div> <!-- empty div required for jquery accordion -->
				
				<div id="table_<%= category %>" ></div>

			<script>
				(function drawTable() {
				  var pricePerUnit = "<%=  store_items.first.costperunit %>";
				  var data = new google.visualization.DataTable();

				  if(pricePerUnit > 0) {
					  data.addColumn('string', '');	  
					  data.addColumn('string', 'each');
				  } else {
					  data.addColumn('string', '');	  
					  data.addColumn('string', '1g');
					  data.addColumn('string', '1/8');
					  data.addColumn('string', '1/4');
					  data.addColumn('string', '1/2');
					  data.addColumn('string', '1 oz');
				  }

				  
			      
			        <% store_items.each do |store_item| %>
					    if (pricePerUnit > 0) {
					    	data.addRow(['<%= store_item.name %>','<%= store_item.costperunit %>'])
					    } else {
					    	data.addRow(['<%= link_to store_item.name, store_store_item_path(@store, store_item),  data: { toggle: "modal", target: "#modal" , remote: store_store_item_path(@store, store_item)} %>' 
					    		,'<%= store_item.costonegram %>','<%= store_item.costeighthoz %>',
					     	'<%= store_item.costquarteroz %>','<%= store_item.costhalfoz %>','<%= store_item.costoneoz %>']);		    	
					    }
			  		<% end %>      


			      var table = new google.visualization.Table(document.getElementById("table_<%= category %>"));
			      
			 	  var cssClassNames = {headerRow: "simple-weed-google-table-header", headerCell: "simple-weed-google-table-header-cell"};
			      table.draw(data, {showRowNumber: false, allowHtml: true, cssClassNames: cssClassNames, width: '749px'});
			      
			      
			      google.visualization.events.addListener(table, 'sort', setWidth);
			      setWidth();

		          google.visualization.events.addListener(table, 'select', selectHandler);

			      function selectHandler(e) {
			        var selection = table.getSelection();         /** gets everything that's selected **/
			        var item = selection[0];                      /** we only support selecting one at this time, if more than one is selected, we'll just use the first    item **/			        
			        var str = data.getFormattedValue(item.row, 0); /** gets the link stored in the first column of the selected row, ie <a data-remote="/students/29" data-                                                   target="#modal" data-toggle="modal" href="/students/29">Davvy</a>  **/			        
			        var target = $(str).attr("href");   /** from that string, only extract the href attr **/
			        
			        $("#modal").load(target, function() {   /** and load that href into the modal.  This is similar to the modal code in application.html.erb **/
			          $("#modal").modal("show"); 
			        });
			      }

				})();

				function setWidth() {
				  var title = "Name";
			      var width = "400px";
			      $('.google-visualization-table-th:contains(' + title + ')').css('width', width);
				}
			</script>

	
		
		
		</div>	
	
	<% end %>

	</div> <!-- accordion -->
	  <script>
	  $(function() {

	    $( "#store-preview-accordion" ).accordion({
	      heightStyle: "content", //allows divs to be different height.  Very important
	      collapsible: true, 	//allows all elements to be collabsible		      
	    });
	  });
	</script>

	
	


</div>