<% content_for :title, "subscription plans" %>
<br/>

<table class="store-header-table">
    <tr>
      <td>
      <% if @store.avatar_url.blank? %>
        <!-- dvu: this should depend on if you are the profile user or looking at someone else -->
        <%= link_to edit_photo_store_path(@store), data: { toggle: "modal", target: "#modal", remote: edit_photo_store_path(@store)} , id: "edit-store-photo-link",  class: "btn edit-store-photo-link" do %>
          <span class="glyphicon glyphicon-tree-deciduous user-pic"></span>           
        <% end %> 
        <% else %>
          <%= link_to edit_photo_store_path(@store), data: { toggle: "modal", target: "#modal", remote: edit_photo_store_path(@store)} , id: "edit-store-photo-link",  class: "btn edit-store-photo-link" do %>
            <img class="user-pic-borderless" width="40px" height="40px" src = "http:<%= @store.avatar_url %>"></img>
          <% end %>         
      <% end %> 
      </td>
      <td class="store-name-and-edit">            
        <h1 id="store_name" class="store-name" style="display:inline"><%= link_to @store.name, store_path(@store) , 'data-no-turbolink' => true %>
          <small><%= @store.promo %></small>              
        </h1>
        
      </td>
    </tr>
</table>

<h2 class="subscription-header">
  <% if @store.plan_id.blank? %>
    choose a plan
  <% else %>
      <% @subscription_service = Simpleweed::Subscription::Subscriptionservice.new %>
      current plan: <%= @subscription_service.getPlanNameFromID(@store.plan_id) %> ($<%= @subscription_service.getPlanCostPerMonthFromID(@store.plan_id) %>/mo)
      <%= link_to "cancel", new_store_cancellation_path(@store), id: "cancel-subscription-link", class: "cancel-subscription-link" %>
      <%= link_to "change credit card", change_credit_card_store_path(@store), id: "change-credit-card-link", class: "change-credit-card-link" %>
      
  <% end %>
</h2>
<div class="row">
	
	<%= render partial: 'stores/free_subscription_plan' %>
	<%= render partial: 'stores/basic_subscription_plan' %>
	<%= render partial: 'stores/plus_subscription_plan' %>
	<div class="col-md-3">		
		<div>
			"think we can help you sell an extra gram a month?  anything more than that and you're ahead.  give us a shot with a starter plan to see what we can help you sell" - simpleweed
		</div>
		<hr />
		<div>
			
		</div>
	</div>
</div>

