<div class="post">
	<table class="post-snippet-on-feed">
		<tr>
			<td class="vote-controls-post-snippet">
				<div class="btn-group-vertical review-vote-controls">		
					<%= form_for ([post.feed, post, post.feed_post_votes.build]), :remote => true, :html => { :id => "new_upvote_on_#{post.id}" } do |f| %>
						<%= f.hidden_field :vote, :value => "1" %> 
						<%= button_tag(type: 'submit', class: "btn btn-default upvotebutton") do %>
								<div class="glyphicon glyphicon-chevron-up"></div>
						<% end %>

					<% end %>
					<div> 
						<div class="review-votes" id="feed_post_<%=post.id%>_vote_sum"><%= post.sum_votes %> </div>
					</div>
					
					<%= form_for ([post.feed, post, post.feed_post_votes.build]), :remote => true, :html => { :id => "new_downvote_on_#{post.id}" } do |f| %>
						<%= f.hidden_field :vote, :value => "-1" %> 
						<%= button_tag(type: 'submit', class: "btn btn-default downvotebutton") do %>
								<div class="glyphicon glyphicon-chevron-down"></div>
						<% end %>
					<% end %>
				</div>
			</td>
			<td>
				<div id="bootstrap-alert-feed-post-id-<%= post.id%>"></div>

				<div class="post-title">
					<%= link_to post.title, feed_feed_post_path(post.feed.id, post.id) , 'data-no-turbolink' => true %>		
				</div>
				<div class="post-submitted-text">
					<span>submitted </span>
					<span class="post-time-ago">
						<small> <%= time_ago_in_words(post.created_at) %> ago </small>
					</span>
					<span> by </span>
					<%= link_to post.user.username , activity_profile_path(post.user), :class => 'user-link', 'data-no-turbolink' => true %>
				</div>
				<ul class="post-user-actions">
					<li>
						<a href="<%= feed_feed_post_path(post.feed.id, post.id) %>"><%= post.feed_post_comments.count %> comments</a>
					</li>
					<li>
						<a href="#">share</a>
					</li>
					<li>
						<a href="#">follow</a>			
					</li>
					<li>
						<a href="#">flag</a>			
					</li>
				</ul>
			</td>
		</tr>
	</table>
	
</div>	