<div class="post">
	<table class="post-snippet-on-feed">
		<tr>
			<td class="vote-controls-post-snippet">
				<%= render partial: 'feed_post_votes/feed_post_vote', locals: {post: post} %>			
			</td>
			<td>
				<div id="bootstrap-alert-feed-post-id-<%= post.id%>"></div>

				<div class="post-title">
					<% if post.link && !post.link.empty? %>
						<% 
							urlservice = Simpleweed::Url::Urlservice.new
							nicelink = urlservice.url_with_protocol(post.link)
						%>
						<a href="<%= nicelink %>"><%= post.title %></a>
					<% else %>						
						<%= link_to post.title, feed_feed_post_path(post.feed.slug, post.slug) , 'data-no-turbolink' => true %>		
					<% end %>
				</div>
				<div class="post-submitted-text">
					<span>submitted </span>
					<span class="post-time-ago">
						<small> <%= time_ago_in_words(post.created_at) %> ago </small>
					</span>
					<span> by </span>
					<%= link_to post.user.username , activity_profile_path(post.user), :class => 'user-link', 'data-no-turbolink' => true %>
					
					<% if render_feedname == true %>
						<span> to <%= link_to post.feed.name, feed_path(post.feed.slug) , 'data-no-turbolink' => true %>		</span>
					<% end %>
				</div>
				<ul class="post-user-actions">
					<li>
						<a class="post_comment_link" href="<%= feed_feed_post_path(post.feed.slug, post.slug) %>"><%= post.feed_post_comments.count %> comments</a>
					</li>
					
					<li>
						<% if !current_user.nil? %>
							<%= link_to 'flag', add_flag_feed_feed_post_path(post.feed.slug, post.slug), data: { toggle: "modal", target: "#modal", remote: add_flag_feed_feed_post_path(post.feed.slug, post.slug)} , id: "add-flag-on-post-link", class: "flag-post" %>
						<% else %>
							<%= link_to 'flag', login_path , data: { toggle: "modal", target: "#modal", remote: login_path} , id: "add-flag-on-post-link", class: "flag-post" %>
						<% end %>
						
					</li>
					
				</ul>
			</td>
		</tr>
	</table>
	
</div>	