<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">new post</h4>          
    </div>
    <div class="modal-body">
        <%= form_for :feed_post, url: feed_feed_posts_path do |f| %>
          <p class = "form-group">
            <%= f.label :title,  "title"  %><br>
            <%= f.text_field :title, :class => 'form-control' , :required => true   %>
          </p>

          <%= f.label :content,  "content (choose one)"  %><br>
          <ul class="nav nav-tabs">
              <li class="active"><a href="#feed-post-text-input" data-toggle="tab">text</a></li>
              <li><a id="link-tab" href="#feed-post-link-input" data-toggle="tab">link</a></li>  
          </ul>

          <div id="feed-post-tab-content" class="tab-content">
              <div class="tab-pane active" id="feed-post-text-input">
                <%= f.text_area :post, :rows => 8,  :class => 'form-control' %>                
              </div>
              
              <div class="tab-pane" id="feed-post-link-input">                  
                <%= f.text_field :link, :class => 'form-control' %>                
              </div>
            </div>  

<script>
$('#my-reviews-tab-content .nav-tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show') 
})
</script>             
          
          <p class = "form-group pull-right">              	
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit :class => 'btn btn-primary' , :id => 'save_feed_post'%>
          </p>
        <% end %>
      <div class="simple-weed-modal-footer"></div>            
      </div><!-- modal-body -->        
  </div> <!-- modal-content -->
</div>    
