<div class="row">
    <div class="col-md-9">		
		<h3>
			<%= link_to 'feed home', feeds_path %>
			<span> / </span>
			<%= link_to @post.feed.name, feed_path(@post.feed.id) %>
			<% if @roleservice.canManagePost(current_user) %>
				<span class="delete-post-button pull-right">				
					<%= link_to 'delete', prompt_delete_feed_feed_post_path(@post.feed.id, @post.id) , data: { toggle: "modal", target: "#modal", remote: prompt_delete_feed_feed_post_path(@post.feed.id, @post.id)} , id: "delete-post-button" , class: "btn btn-danger" %>
				</span>			
			<% end %>
		</h3>
		<hr>
		<table class = "post-full-view">
			<tr>
				<td class="vote-controls-post-snippet">
					<%= render partial: 'feed_post_votes/feed_post_vote', locals: {post: @post} %>			
				</td>
				<td>				
					<div class="post-full">
						<div id="bootstrap-alert-feed-post-id-<%= @post.id%>"></div>
						<div class="post-title">	
							<% 
								if !@post.link.empty?
									urlservice = Simpleweed::Url::Urlservice.new
									nicelink = urlservice.url_with_protocol(@post.link)
								else 
									nicelink = "#"
								end
							%>
							<h2><a href="<%= nicelink %>"><%= @post.title %></a></h2>
							
						</div>
						<div class="post-submitted-text">
							<span>submitted </span>
							<span class="post-time-ago">
								<small> <%= time_ago_in_words(@post.created_at) %> ago </small>
							</span>
							<span> by </span>
							<%= link_to @post.user.username , activity_profile_path(@post.user), :class => 'user-link', 'data-no-turbolink' => true %>
						</div>
						<div class="post-post">		
							<%= auto_link(simple_format(@post.post)) %>							
						</div>					

					</div>
					<div id="comments_for_feed_post_<%= @post.id %>" class="feed-post-comments">
						<% @post.feed_post_comments.order("created_at asc").each do | feed_post_comment | %>					
							<%= render partial: 'feed_post_comments/feed_post_comment', locals: {feed_post_comment: feed_post_comment} %>			
						<% end %>
					</div>

					<% if current_user.nil? %>
						<!-- maybe just close modal and click login button -->
						<br/>
						<a href="#" class="login-to-comment-on-post">log in to comment </a>
						<script>
							$(".login-to-comment-on-post").click(function(e){
								e.preventDefault();				
								$("#log-in-link").click();
							})
						</script>
					<% else %>
						<%= form_for ([@post.feed, @post, @post.feed_post_comments.build]), :remote => true, :html => { :id => "new_comment_on_#{@post.id}" , :class=> "new-feed-post-comment-form"} do |f| %>
							<%= f.text_area :comment, :class => 'form-control new-feed-post-comment-input', :required => true, :rows => 1 %>
							<%= f.submit 'post comment', :class => 'btn btn-primary lowercase pull-right save-new-feed-post-comment btn-sm' , :id => "save_comment_on_#{@post.id}"  %>
						<% end %>	
					<% end #if current_user.nil? %>	
				</td>
			</tr>
		</table>

	</div>
	<div class="col-md-3" id="feed-top-nav-container">		
    	<%= render partial: 'feeds/nav_feed' %>
    </div>
</div>	
