<div class="row">
    <div class="col-md-9">		
		<h3>
			<%= link_to 'feed home', feeds_path %>
			<span> / </span>
			<%= link_to @post.feed.name, feed_path(@post.feed.id) %>
			<% if @roleservice.canManagePost(current_user) %>
				<span class="delete-post-button pull-right">				
					<%= link_to 'delete', prompt_delete_feed_feed_post_path(@post.feed.id, @post.id) , data: { toggle: "modal", target: "#modal", remote: prompt_delete_feed_feed_post_path(@post.feed.id, @post.id)} , id: "delete-post-button" , class: "btn btn-danger" %>
				</span>			
			<% end %>
		</h3>
		<hr>
		
		<%= render partial: 'feed_posts/feed_post', locals: {post: @post } %>

	</div>
	<div class="col-md-3" id="feed-top-nav-container">		
    	<%= render partial: 'feeds/nav_feed' %>
    </div>
</div>	
