<%= form_for ([@store, @store_item]) do |f| %>
  <p class = "form-group">
    <%= f.label :name,  "Name"  %><br>
    <%= f.text_field :name, :class => 'form-control' , :required => true   %>
  </p>             
  <p class = "form-group">
    <%= f.label :description,  "Description"  %><br>
    <%= f.text_field :description, :class => 'form-control'    %>
  </p>   
  <%= f.select :strain ,[['indica','indica'],['sativa','sativa'],['hybrid','hybrid']], {include_blank: 'select strain'} %>
  
  <%= f.select :maincategory ,[['flower','flower'], ['concentrate','concentrate'], ['edible','edible'], ['pre-roll','pre-roll'], 
  								['other','other'], ['accessory','accessory']], {include_blank: 'select category' }, :required => true  %>
  
  <%= f.select :subcategory, [
  				['bud','bud',{:class => 'flower'}],  
  				['shake','shake',{:class => 'flower'}],
  				['trim','trim',{:class => 'flower'}],

  				['wax','wax',{:class => 'concentrate'}],
  				['hash','hash',{:class => 'concentrate'}],
  				['budder/earwar/honeycomb/supermelt','budder/earwar/honeycomb/supermelt',{:class => 'concentrate'}],
  				['bubble hash/full melt/ice wax','bubble hash/full melt/ice wax',{:class => 'concentrate'}],
  				['ISO hash','ISO hash',{:class => 'concentrate'}],
  				['kief/dry sieve','kief/dry sieve',{:class => 'concentrate'}],
  				['shatter/amberglass','shatter/amberglass',{:class => 'concentrate'}],
  				['scissor/finger hash','scissor/finger hash',{:class => 'concentrate'}],
  				['oil/cartridge','oil/cartridge',{:class => 'concentrate'}],

  				['baked','baked',{:class => 'edible'}],
  				['candy/chocolate','candy/chocolate',{:class => 'edible'}],
  				['cooking','cooking',{:class => 'edible'}],
  				['drink','drink',{:class => 'edible'}],
  				['frozen','frozen',{:class => 'edible'}],
  				['other','other',{:class => 'edible'}],

  				['blunt','blunt',{:class => 'pre-roll'}],
  				['joint','joint',{:class => 'pre-roll'}],

  				['clones','clones',{:class => 'other'}],
  				['seeds','seeds',{:class => 'other'}],
  				['oral','oral',{:class => 'other'}],
  				['topical','topical',{:class => 'other'}],

  				['bong/pipe','bong/pipe',{:class => 'accessory'}],
  				['bong/pipe accessories','bong/pipe accessories',{:class => 'accessory'}],
  				['book/magazine','book/magazine',{:class => 'accessory'}],
  				['butane/lighter','butane/lighter',{:class => 'accessory'}],
  				['cleaning','cleaning',{:class => 'accessory'}],
  				['clothes','clothes',{:class => 'accessory'}],
  				['grinder','grinder',{:class => 'accessory'}],
  				['other','other',{:class => 'accessory'}],
  				['paper/wrap','paper/wrap',{:class => 'accessory'}],
  				['storage','storage',{:class => 'accessory'}],
  				['vape','vape',{:class => 'accessory'}],
  				['vape accessories','vape accessories',{:class => 'accessory'}]

  			]  , {include_blank: 'select subcategory' }  %>


  <h4>Lab Information</h4>          
  <table id="lab-information">
  	<tr>
  		<td>
  			<p class = "form-group">
			    <%= f.label :thc,  "THC %"  %><br>
			    <!-- validates %, 0-99 -->
			    <%= f.text_field :thc, :class => 'form-control' , :pattern => '(?!^0*$)(?!^0*\.0*$)^\d{1,2}(\.\d{1,2})?$' , :id => 'thc-percent' %>
		  </p>             
		</td>
		<td>
			<p class = "form-group">
			    <%= f.label :cbd,  "CBD %"  %><br>
			    <!-- validates %, 0-99 -->
			    <%= f.text_field :cbd, :class => 'form-control' , :pattern => '(?!^0*$)(?!^0*\.0*$)^\d{1,2}(\.\d{1,2})?$' , :id => 'cbd-percent' %>
			</p>             
		</td>
		<td>
			<p class = "form-group">
			    <%= f.label :cbn,  "CBN %"  %><br>
			    <!-- validates %, 0-99 -->
			    <%= f.text_field :cbn, :class => 'form-control' , :pattern => '(?!^0*$)(?!^0*\.0*$)^\d{1,2}(\.\d{1,2})?$' , :id => 'cbn-percent' %>
		  	</p>             
		</td>  
  	</tr>
  </table>
  <h4>Pricing</h4>
  <table id="price-table">
	 <tr>
	 	<th>.5 g</th>
	 	<th>1 g</th>
	 	<th>1/8 oz</th>
	 	<th>1/4 oz</th>
	 	<th>1/2 oz</th>
	 	<th>1 oz</th>
	 	<th>Per Unit</th>
	 </tr>
	 <tr>
	 	<td>
		    <%= f.text_field :costhalfgram, :class => 'form-control price-inputs' %>
		</td>
	 	<td>
	 		<%= f.text_field :costonegram, :class => 'form-control price-inputs' %>
	 	</td>
	 	<td>
	 		<%= f.text_field :costeighthoz, :class => 'form-control price-inputs' %>
	 	</td>
	 	<td>
	 		<%= f.text_field :costquarteroz, :class => 'form-control price-inputs' %>
	 	</td>
	 	<td>
	 		<%= f.text_field :costhalfoz, :class => 'form-control price-inputs' %>
	 	</td>
	 	<td>
	 		<%= f.text_field :costoneoz, :class => 'form-control price-inputs' %>
	 	</td>
	 	<td>
	 		<%= f.text_field :costperunit, :class => 'form-control price-inputs' %>
	 	</td>
	  </tr>
	</table>  	

  <p class = "form-group" id="dogo">
    <%= f.label :dogo, "DOGO" %><br>
    <%= f.check_box :dogo, {}, "true","false" %>
  </p>

  <script>
  	/** chain the two category drop downs together **/
	$("#store_item_subcategory").chained("#store_item_maincategory");
  </script>

  <p class = "form-group pull-right">               
    <button id="close-button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit :class => 'btn btn-primary' , :id => 'save_store_item'%>
  </p>
<% end %>