<%= form_for ([@store, @store_item]) do |f| %>
  <p class = "form-group">
    <%= f.label :name,  "name"  %><br>
    <%= f.text_field :name, :class => 'form-control' , :required => true   %>
  </p>             
  <p class = "form-group">
    <%= f.label :description,  "description"  %><br>
    <%= f.text_field :description, :class => 'form-control'    %>
  </p>   
  <%= f.select :strain ,[['indica','indica'],['sativa','sativa'],['hybrid','hybrid']], {include_blank: 'select strain'}, :required => true  %>
  
  <%= f.select :maincategory ,[['flower','flower'], ['concentrate','concentrate'], ['edible','edible'], ['pre-roll','pre-roll'], 
  								['other','other'], ['accessory','accessory']], {include_blank: 'select category' }, :required => true  %>
  
  <%= f.select :subcategory, [
  				['bud','bud',{:class => 'flower'}],  
  				['shake','shake',{:class => 'flower'}],
  				['trim','trim',{:class => 'flower'}],

  				['wax','wax',{:class => 'concentrate'}],
  				['hash','hash',{:class => 'concentrate'}],
  				['budder/earwax/honeycomb/supermelt','budder/earwax/honeycomb/supermelt',{:class => 'concentrate'}],
  				['bubble hash/full melt/ice wax','bubble hash/full melt/ice wax',{:class => 'concentrate'}],
  				['ISO hash','ISO hash',{:class => 'concentrate'}],
  				['kief/dry sieve','kief/dry sieve',{:class => 'concentrate'}],
  				['shatter/amberglass','shatter/amberglass',{:class => 'concentrate'}],
  				['scissor/finger hash','scissor/finger hash',{:class => 'concentrate'}],
  				['oil/cartridge','oil/cartridge',{:class => 'concentrate'}],

  				['baked','baked',{:class => 'edible'}],
  				['candy/chocolate','candy/chocolate',{:class => 'edible'}],
  				['cooking','cooking',{:class => 'edible'}],
  				['drink','drink',{:class => 'edible'}],
  				['frozen','frozen',{:class => 'edible'}],
  				['other', 'other_edible',{:class => 'edible'}],

  				['blunt','blunt',{:class => 'pre-roll'}],
  				['joint','joint',{:class => 'pre-roll'}],

  				['clones','clones',{:class => 'other'}],
  				['seeds','seeds',{:class => 'other'}],
  				['oral','oral',{:class => 'other'}],
  				['topical','topical',{:class => 'other'}],

  				['bong/pipe','bong/pipe',{:class => 'accessory'}],
  				['bong/pipe accessories','bong/pipe accessories',{:class => 'accessory'}],
  				['book/magazine','book/magazine',{:class => 'accessory'}],
  				['butane/lighter','butane/lighter',{:class => 'accessory'}],
  				['cleaning','cleaning',{:class => 'accessory'}],
  				['clothes','clothes',{:class => 'accessory'}],
  				['grinder','grinder',{:class => 'accessory'}],
  				['other','other_accessory',{:class => 'accessory'}],
  				['paper/wrap','paper/wrap',{:class => 'accessory'}],
  				['storage','storage',{:class => 'accessory'}],
  				['vape','vape',{:class => 'accessory'}],
  				['vape accessories','vape accessories',{:class => 'accessory'}]

  			]  , {include_blank: 'select subcategory' } ,:required => true  %>

  <h4>popular strains </h4>
  <%= f.check_box :og, {}, "true","false" %>
  <%= f.label :og, "og" %><br>

  <%= f.check_box :kush, {}, "true","false" %>
  <%= f.label :kush, "kush" %><br>

  <%= f.check_box :haze, {}, "true","false" %>
  <%= f.label :haze, "haze" %><br>

  <h4>lab information</h4>          
  <table id="lab-information">
  	<tr>
  		<td>
  			<p class = "form-group">
			    <%= f.label :thc,  "thc %"  %><br>
			    <!-- validates %, 0-99 -->
			    <%= f.text_field :thc, :class => 'form-control' , :pattern => '(?!^0*$)(?!^0*\.0*$)^\d{1,2}(\.\d{1,2})?$' , :id => 'thc-percent' %>
		  </p>             
		</td>
		<td>
			<p class = "form-group">
			    <%= f.label :cbd,  "cbd %"  %><br>
			    <!-- validates %, 0-99 -->
			    <%= f.text_field :cbd, :class => 'form-control' , :pattern => '(?!^0*$)(?!^0*\.0*$)^\d{1,2}(\.\d{1,2})?$' , :id => 'cbd-percent' %>
			</p>             
		</td>
		<td>
			<p class = "form-group">
			    <%= f.label :cbn,  "cbn %"  %><br>
			    <!-- validates %, 0-99 -->
			    <%= f.text_field :cbn, :class => 'form-control' , :pattern => '(?!^0*$)(?!^0*\.0*$)^\d{1,2}(\.\d{1,2})?$' , :id => 'cbn-percent' %>
		  	</p>             
		</td>  
  	</tr>
  </table>
  <h4>pricing</h4>
  <table id="price-table">
	 <tr>
	 	<th>.5 g</th>
	 	<th>1 g</th>
	 	<th>1/8 oz</th>
	 	<th>1/4 oz</th>
	 	<th>1/2 oz</th>
	 	<th>1 oz</th>
	 	<th>per unit</th>
	 </tr>
	 <tr>
	 	<td>
		    <%= f.text_field :costhalfgram, :class => 'form-control price-inputs' %>
		</td>
	 	<td>
	 		<%= f.text_field :costonegram, :class => 'form-control price-inputs' %>
	 	</td>
	 	<td>
	 		<%= f.text_field :costeighthoz, :class => 'form-control price-inputs' %>
	 	</td>
	 	<td>
	 		<%= f.text_field :costquarteroz, :class => 'form-control price-inputs' %>
	 	</td>
	 	<td>
	 		<%= f.text_field :costhalfoz, :class => 'form-control price-inputs' %>
	 	</td>
	 	<td>
	 		<%= f.text_field :costoneoz, :class => 'form-control price-inputs' %>
	 	</td>
	 	<td>
	 		<%= f.text_field :costperunit, :class => 'form-control price-inputs' %>
	 	</td>
	  </tr>
	</table>  	

	<br/>
	<table id="edit-store-items-cultivation-section">
		<tr>
			<th>cultivation</th>
			<th>misc.</th>
		</tr>
		<tr>
			<td valign="top">				
				<div>
					<%= f.radio_button(:cultivation, "") %>
			    	<%= label_tag("none", "none") %>
			    </div>
				<div>
			        <%= f.radio_button(:cultivation, "indoor") %>
			        <%= label_tag("indoor", "indoor") %>
				</div>
				<div>
					<%= f.radio_button(:cultivation, "outdoor") %>
			    	<%= label_tag("outdoor", "outdoor") %>
			    </div>
			    <div>
			    	<%= f.radio_button(:cultivation, "hydroponic") %>
			    	<%= label_tag("hydroponic", "hydroponic") %>
			    </div>
				<div>        	
			    	<%= f.radio_button(:cultivation, "greenhouse") %>
			    	<%= label_tag("greenhouse", "greenhouse") %>
			    </div>
			</td>
			<td>				
				<%= f.check_box :privatereserve, {}, "true","false" %>
				<%= f.label :privatereserve, "private reserve" %><br/>

				<%= f.check_box :topshelf, {}, "true","false" %>
				<%= f.label :topshelf, "top shelf" %><br>

				<%= f.check_box :dogo, {}, "true","false" %>
				<%= f.label :dogo, "b.o.g.o" %><br>

				<%= f.check_box :supersize, {}, "true","false" %>
				<%= f.label :supersize, "super-size" %><br>

				<%= f.check_box :glutenfree, {}, "true","false" %>
				<%= f.label :glutenfree, "gluten-free" %><br>

				<%= f.check_box :sugarfree, {}, "true","false" %>
				<%= f.label :sugarfree, "sugar-free" %><br>				

				<%= f.check_box :organic, {}, "true","false" %>
				<%= f.label :organic, "organic" %><br/>
			</td>
		</tr>
	</table>

  <script>
  	/** chain the two category drop downs together **/
	$("#store_item_subcategory").chained("#store_item_maincategory");
  </script>

  <p class = "form-group pull-right">               
    <button id="close-button" type="button" class="btn btn-default" data-dismiss="modal">close</button>
    <%= f.submit :class => 'btn btn-primary lowercase' , :id => 'save_store_item'  %>
  </p>
<% end %>