<%= form_for ([@store, @store_item]), html: { class: "directUpload" } do |f| %>
  <table class="store-item-picture-and-meta-container">
  	<tr>
  		<td class="item-image">
  		  <div class="item-image-menu-edit">  		  			  	
		  	<%= render partial: 'store_items/item_image_large', locals: {item: @store_item} %>
		  </div>
		  <div id = "upload-user-avatar">
              <div class="file-upload-wrapper">
                <%= f.file_field :image_url %>
              </div>
              <button type="button" id="file-upload-button" class="btn btn-warning btn-xs">upload image</button>
            </div>	    			
  		</td>
  		<td>
		  <p class = "form-group">
		    <%= f.label :name,  "name"  %><br>
		    <%= f.text_field :name, :class => 'form-control' , :required => true   %>
		  </p>               			
  		</td>
  	</tr>
  </table>

  <p class = "form-group">
    <%= f.label :description,  "description"  %><br>
    <%= f.text_field :description, :class => 'form-control'    %>
  </p>   
  <p class = "form-group">
    <%= f.label :promo,  "promotional text"  %><br>
    <%= f.text_field :promo, :class => 'form-control'    %>
  </p>   

  <%= f.select :strain ,[['indica','indica'],['sativa','sativa'],['hybrid','hybrid']], {include_blank: 'select strain'} %>
  
  <%= f.select :maincategory ,[['flower','flower'], ['concentrate','concentrate'], ['edible','edible'], ['pre-roll','pre-roll'], 
  								['other','other'], ['accessory','accessory']], {include_blank: 'select category' }, :required => true  %>
  
  <%= f.select :subcategory, [
  				['bud','bud',{:class => 'flower'}],  
  				['shake','shake',{:class => 'flower'}],
  				['trim','trim',{:class => 'flower'}],

  				['wax','wax',{:class => 'concentrate'}],
  				['hash','hash',{:class => 'concentrate'}],
  				['budder/earwax/honeycomb/supermelt','budder/earwax/honeycomb/supermelt',{:class => 'concentrate'}],
  				['bubble hash/full melt/ice wax','bubble hash/full melt/ice wax',{:class => 'concentrate'}],
  				['iso hash','iso hash',{:class => 'concentrate'}],
  				['kief/dry sieve','kief/dry sieve',{:class => 'concentrate'}],
  				['shatter/amberglass','shatter/amberglass',{:class => 'concentrate'}],
  				['scissor/finger hash','scissor/finger hash',{:class => 'concentrate'}],  				

  				['baked','baked',{:class => 'edible'}],
  				['candy/chocolate','candy/chocolate',{:class => 'edible'}],
  				['cooking','cooking',{:class => 'edible'}],
  				['drink','drink',{:class => 'edible'}],
  				['frozen','frozen',{:class => 'edible'}],
  				['other', 'other_edible',{:class => 'edible'}],

  				['blunt','blunt',{:class => 'pre-roll'}],
  				['joint','joint',{:class => 'pre-roll'}],

  				['clones','clones',{:class => 'other'}],
  				['seeds','seeds',{:class => 'other'}],
  				['oral','oral',{:class => 'other'}],
  				['topical','topical',{:class => 'other'}],
  				['oil/cartridge','oil/cartridge',{:class => 'other'}],

  				['bong/pipe','bong/pipe',{:class => 'accessory'}],
  				['bong/pipe accessories','bong/pipe accessories',{:class => 'accessory'}],
  				['book/magazine','book/magazine',{:class => 'accessory'}],
  				['butane/lighter','butane/lighter',{:class => 'accessory'}],
  				['cleaning','cleaning',{:class => 'accessory'}],
  				['clothes','clothes',{:class => 'accessory'}],
  				['grinder','grinder',{:class => 'accessory'}],
  				['other','other_accessory',{:class => 'accessory'}],
  				['paper/wrap','paper/wrap',{:class => 'accessory'}],
  				['storage','storage',{:class => 'accessory'}],
  				['vape','vape',{:class => 'accessory'}],
  				['vape accessories','vape accessories',{:class => 'accessory'}]

  			]  , {include_blank: 'select subcategory' } ,:required => true  %>

  <h4>popular strains </h4>
  <%= f.check_box :og, {}, "true","false" %>
  <%= f.label :og, "og" %><br>

  <%= f.check_box :kush, {}, "true","false" %>
  <%= f.label :kush, "kush" %><br>

  <%= f.check_box :haze, {}, "true","false" %>
  <%= f.label :haze, "haze" %><br>

  <h4>lab information</h4>          
  <table id="lab-information">
  	<tr>
  		<td>
  			<p class = "form-group">
			    <%= f.label :thc,  "thc %"  %><br>
			    <!-- validates %, 0-99 -->
			    <%= f.text_field :thc, :class => 'form-control' , :pattern => '(?!^0*$)(?!^0*\.0*$)^\d{1,2}(\.\d{1,2})?$' , :id => 'thc-percent' %>
		  </p>             
		</td>
		<td>
			<p class = "form-group">
			    <%= f.label :cbd,  "cbd %"  %><br>
			    <!-- validates %, 0-99 -->
			    <%= f.text_field :cbd, :class => 'form-control' , :pattern => '(?!^0*$)(?!^0*\.0*$)^\d{1,2}(\.\d{1,2})?$' , :id => 'cbd-percent' %>
			</p>             
		</td>
		<td>
			<p class = "form-group">
			    <%= f.label :cbn,  "cbn %"  %><br>
			    <!-- validates %, 0-99 -->
			    <%= f.text_field :cbn, :class => 'form-control' , :pattern => '(?!^0*$)(?!^0*\.0*$)^\d{1,2}(\.\d{1,2})?$' , :id => 'cbn-percent' %>
		  	</p>             
		</td>  
		<td>
			<p class = "form-group">
			    <%= f.label :dose,  "dose(mg)"  %><br>
			    <!-- validates %, 0-99 -->
			    <%= f.text_field :dose, :class => 'form-control' , :id => 'dose' %>
		  	</p>             
		</td>  
  	</tr>
  </table>
  <h4>pricing</h4>
  <table id="price-table">
	 <tr>
	 	<th>.5 g</th>
	 	<th>1 g</th>
	 	<th>1/8 oz</th>
	 	<th>1/4 oz</th>
	 	<th>1/2 oz</th>
	 	<th>1 oz</th>
	 	<th>per unit</th>
	 </tr>
	 <tr>
	 	<td>
		    <%= f.text_field :costhalfgram, :class => 'form-control price-inputs' %>
		</td>
	 	<td>
	 		<%= f.text_field :costonegram, :class => 'form-control price-inputs' %>
	 	</td>
	 	<td>
	 		<%= f.text_field :costeighthoz, :class => 'form-control price-inputs' %>
	 	</td>
	 	<td>
	 		<%= f.text_field :costquarteroz, :class => 'form-control price-inputs' %>
	 	</td>
	 	<td>
	 		<%= f.text_field :costhalfoz, :class => 'form-control price-inputs' %>
	 	</td>
	 	<td>
	 		<%= f.text_field :costoneoz, :class => 'form-control price-inputs' %>
	 	</td>
	 	<td>
	 		<%= f.text_field :costperunit, :class => 'form-control price-inputs' %>
	 	</td>
	  </tr>
	</table>  	

	<br/>
	<table id="edit-store-items-cultivation-section">
		<tr>
			<th>cultivation</th>
			<th>misc.</th>
		</tr>
		<tr>
			<td valign="top">				
				<div>
					<%= f.radio_button(:cultivation, "") %>
			    	<%= label_tag("none", "none") %>
			    </div>
				<div>
			        <%= f.radio_button(:cultivation, "indoor") %>
			        <%= label_tag("indoor", "indoor") %>
				</div>
				<div>
					<%= f.radio_button(:cultivation, "outdoor") %>
			    	<%= label_tag("outdoor", "outdoor") %>
			    </div>
			    <div>
			    	<%= f.radio_button(:cultivation, "hydroponic") %>
			    	<%= label_tag("hydroponic", "hydroponic") %>
			    </div>
				<div>        	
			    	<%= f.radio_button(:cultivation, "greenhouse") %>
			    	<%= label_tag("greenhouse", "greenhouse") %>
			    </div>
			</td>
			<td>				
				<%= f.check_box :privatereserve, {}, "true","false" %>
				<%= f.label :privatereserve, "private reserve" %><br/>

				<%= f.check_box :topshelf, {}, "true","false" %>
				<%= f.label :topshelf, "top shelf" %><br>

				<%= f.check_box :dogo, {}, "true","false" %>
				<%= f.label :dogo, "b.o.g.o" %><br>

				<%= f.check_box :supersize, {}, "true","false" %>
				<%= f.label :supersize, "super-size" %><br>

				<%= f.check_box :glutenfree, {}, "true","false" %>
				<%= f.label :glutenfree, "gluten-free" %><br>

				<%= f.check_box :sugarfree, {}, "true","false" %>
				<%= f.label :sugarfree, "sugar-free" %><br>				

				<%= f.check_box :organic, {}, "true","false" %>
				<%= f.label :organic, "organic" %><br/>
			</td>
		</tr>
	</table>

  <script>
  	/** chain the two category drop downs together **/
	$("#store_item_subcategory").chained("#store_item_maincategory");
  </script>

<script>
$(function() {
  $('.directUpload').find("input:file").each(function(i, elem) {
    var fileInput    = $(elem);    
    var fileUploadButton = $("#file-upload-button")
    var form         = $(fileInput.parents('form:first'));
    var submitButton = $("#save_user_photo_button");
    var progressBar  = $("<div class='progress-bar' role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 1%;'>1%</div>");

    fileInput.fileupload({
      fileInput:       fileInput,
      url:             '<%= @s3_direct_post.url %>',
      type:            'POST',
      autoUpload:       true,
      formData:         <%= @s3_direct_post.fields.to_json.html_safe %>,
      paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
      dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
      replaceFileInput: false,

      progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        progressBar.css('width', progress + '%').text(progress + "%");
      },
      start: function (e) {
        /** reset the progress bars for clearing out previous attempts **/
        progressBar  = $("<div class='progress-bar' role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 1%;'>1%</div>");

        if ($('.progress').length) {          
          $('.progress').remove();
        }
        var barContainer = $("<div class='progress'></div>").append(progressBar);        
        fileUploadButton.after(barContainer)
        submitButton.prop('disabled', true);

        progressBar.          
          css('width', '1%').
          text("1%");
      },
      done: function(e, data) {
        submitButton.prop('disabled', false);
        progressBar.text("uploading done");

        // extract key and generate URL from response
        var key   = $(data.jqXHR.responseXML).find("Key").text();
        var url   = '//<%= @s3_direct_post.url.host %>/' + key;

        // create hidden field
        var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: url })
        form.append(input);

        //dvu: change the pic to the uploaded one
        var currentImage = $(".item-image-menu-edit");        
        var newImage = $('<div/>', {'class': 'item-image-menu-edit'}).append(
	        jQuery('<img/>', {		    
			    src: 'http:' + url,
			    class: 'user-pic-large-borderless'
			})
	    );
	    currentImage.replaceWith(newImage);

      },
      fail: function(e, data) {
        submitButton.prop('disabled', false);

        progressBar.          
          addClass('progress-bar-danger').
          css('width', '100%').
          text("failed");
      }
    });
  });
});


</script>
  <p class = "form-group pull-right">               
    <button id="close-button" type="button" class="btn btn-default" data-dismiss="modal">close</button>
    <!-- only show archive button for existing items, not on new form -->
    <% if !@store_item.new_record? %>  
      <%= link_to 'archive', delete_prompt_store_store_item_path(@store, @store_item.id) , :id => 'archive-item-link',:class => "btn btn-danger" %>    
    <% end %>
    <%= f.submit :class => 'btn btn-primary lowercase' , :id => 'save_store_item'  %>
  </p>
<% end %>