<%= form_for ([@store, @store_item]) do |f| %>
  <p class = "form-group">
    <%= f.label :name,  "Name"  %><br>
    <%= f.text_field :name, :class => 'form-control' , :required => true   %>
  </p>             
  <p class = "form-group">
    <%= f.label :description,  "Description"  %><br>
    <%= f.text_field :description, :class => 'form-control' , :required => true   %>
  </p>             
  <p class = "form-group">
    <%= f.label :thc,  "THC %"  %><br>
    <!-- validates %, 0-99 -->
    <%= f.text_field :thc, :class => 'form-control' , :pattern => '(?!^0*$)(?!^0*\.0*$)^\d{1,2}(\.\d{1,2})?$' , :id => 'thc-percent' %>
  </p>             
  <p class = "form-group">
    <%= f.label :cbd,  "CBD %"  %><br>
    <!-- validates %, 0-99 -->
    <%= f.text_field :cbd, :class => 'form-control' , :pattern => '(?!^0*$)(?!^0*\.0*$)^\d{1,2}(\.\d{1,2})?$' , :id => 'cbd-percent' %>
  </p>             
  <p class = "form-group">
    <%= f.label :cbn,  "CBN %"  %><br>
    <!-- validates %, 0-99 -->
    <%= f.text_field :cbn, :class => 'form-control' , :pattern => '(?!^0*$)(?!^0*\.0*$)^\d{1,2}(\.\d{1,2})?$' , :id => 'cbn-percent' %>
  </p>             
  

  <p class = "form-group pull-right">               
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit :class => 'btn btn-primary' , :id => 'save_store_item'%>
  </p>
<% end %>