
<div class="item-tab-content-container">
	<span class="item-popup-item-name">
  		<%= @store_item.name %>
  	</span>  	
	  	
  						
	
	<%= render partial: 'ses/store_item_price_table', locals: {
							itemcategory: @store_item.maincategory,
							costonegram: @store_item.costonegram,
							costeighthoz: @store_item.costeighthoz,
							costquarteroz: @store_item.costquarteroz,
							costhalfoz: @store_item.costhalfoz,
							costoneoz: @store_item.costoneoz,
							costhalfgram: @store_item.costhalfgram,
							costperunit: @store_item.costperunit
						} %>	
	
	<div class="star-rank" >
		<%= render partial: 'layouts/stars', locals: {score: @store_item.stars} %>						
	</div>
	
	
	<span class="meta-and-badges-container">	
		<%= render partial: 'store_items/store_item_meta_data', locals: {
								store_id: @store_item.store.id,
								store_name: @store_item.store.name,
								strain: @store_item.strain,
								maincategory: @store_item.maincategory,
								subcategory: @store_item.subcategory
							} %>
		<%= render partial: 'store_items/badges', locals: {
								cultivation: @store_item.cultivation,
								dogo: @store_item.dogo,
								topshelf: @store_item.topshelf,
								privatereserve: @store_item.privatereserve,
								organic: @store_item.organic,
								sugarfree: @store_item.sugarfree,
								glutenfree: @store_item.glutenfree,
								supersize: @store_item.supersize
							} %>
<!-- activate badge tooltips -->
<script>
  $('.badge').hover(
    function(e){
      e.preventDefault();
      $(this).tooltip({ 
        html : true,
        placement : "bottom"
      }).tooltip('show')
    },
      function(e){
        $(this).tooltip('hide')
      }

  );
</script>
		
	</span>
    
	<% if !@store_item.promo.blank? %>
	<div class="search-result-item-promo pull-right">								
		<%= @store_item.promo %>
	</div>
	<% end %>

	<div style="clear:both;"></div>
	<hr/>
	<div class="row">											 
		<div class="col-md-6">
			<h3>item description:</h3>
		</div>
		<div class="col-md-6">
			<h3>lab info:</h3>
		</div>
	</div>	
	<div class="row">											 
		<div class="col-md-6">			
			<div id="item-description">					
				<% if @store_item.description && !@store_item.description.empty? %>
					<p><%= raw @store_item.description %>
					</p>
				<% else %>
					none.
				<% end %>			
			</div>
			
		</div>
		<div class="col-md-6">
			<!-- Native sliders that are resetted correctly -->
			<table class="item-lab-sliders">
				<tr>
					<th>
						thc%
					</th>
					<th>
						cbd%
					</th>
					<th>
						cbn%
					</th>
				</tr>
				<tr>
					<td>
						<% if @store_item.thc.blank? 
								thc = 0 
						   else
						   		thc = @store_item.thc
						   end %>
						<input type="range" min="0" max="50" value="<%= thc%>" disabled="true" class="vertical" orient="vertical">						
						<span class="lab-value" style="bottom: <%= thc * 4 %>px;"><%= thc %>%</span>
					</td>
					<td>
						<% if @store_item.cbd.blank?
								cbd = 0
							else
								cbd = @store_item.cbd
							end %>
						<input type="range" min="0" max="50" value="<%= cbd %>" disabled="true" class="vertical" orient="vertical">  
						<span class="lab-value" style="bottom: <%= cbd * 4 %>px;"><%= cbd %>%</span>
					</td>
					<td>
						<% if @store_item.cbn.blank?
								cbn = 0
							else 
								cbn = @store_item.cbn
							end %>
						<input type="range" min="0" max="50" value="<%= cbn %>" disabled="true" class="vertical" orient="vertical">  
						<span class="lab-value" style="bottom: <%= cbn * 4 %>px;"><%= cbn %>%</span>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<hr/>

	<% 
		top_review = @store_item.store_item_reviews.sort_by {|review| review.sum_votes}.reverse.first
	%>
	<% if top_review %>
		<h3>top review</h3>
		<div class="item-review">	
			<table class = "item-review-display-and-comment-vote-controls">
				<tr>
					<td>				
						<span class="feed-item-icon-container">
							<%= render partial: 'profile/profile_image', locals: {user: top_review.user} %>
						</span>
					</td>
					<td>				
						<%= link_to top_review.user.username , activity_profile_path(top_review.user), :class => 'user-link', 'data-no-turbolink' => true %>						
						<small> <%= time_ago_in_words(top_review.created_at) %> ago</small>			
						<span style="float:right;">
							<%= render partial: 'layouts/stars', locals: {score: top_review.stars} %>						
						</span>
					</td>	
				</tr>		
				<tr>
					<td>					
					</td>
					<td class="review-content">
						<%= top_review.review %>
						<div id="read-only-comments_for_item_review_<%= top_review.id %>" class="item-review-comments">						
							<% top_review.store_item_review_comments.each do |store_item_review_comment| %>
								<%= render partial: 'store_item_review_comments/store_item_review_comment', locals: {store_item_review_comment: store_item_review_comment} %>
							<% end # comments loop %>	
						</div>
					</td>	
				</tr>
			</table>
		</div>
		</br> 
	<% else %>
		<h3>top review</h3>
		<div class="alert alert-warning fade in">
	      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	      <strong>no reviews yet.</strong> be the first to review this item!
	    </div>
	<% end %>
	
</div>
	