<div class="tab-pane active" id="info">
	
	<span class="item-popup-item-name">
  		<%= @store_item.name %>
  	</span>  	
	  	
  						
	
	<%= render partial: 'ses/store_item_price_table', locals: {
							itemcategory: @store_item.maincategory,
							costonegram: @store_item.costonegram,
							costeighthoz: @store_item.costeighthoz,
							costquarteroz: @store_item.costquarteroz,
							costhalfoz: @store_item.costhalfoz,
							costoneoz: @store_item.costoneoz,
							costhalfgram: @store_item.costhalfgram,
							costperunit: @store_item.costperunit
						} %>	
	
	<div class="star-rank" >
		<%= render partial: 'layouts/stars', locals: {score: @store_item.stars} %>						
	</div>
	
	
	<span class="meta-and-badges-container">	
		<%= render partial: 'store_items/store_item_meta_data', locals: {
								store_id: @store_item.store.id,
								store_name: @store_item.store.name,
								strain: @store_item.strain,
								maincategory: @store_item.maincategory,
								subcategory: @store_item.subcategory
							} %>
		<span class ="search-results-item-badges">
			<%
			badges = [ ]					
				if !(@store_item.cultivation.nil? || @store_item.cultivation.empty?)
					badges.push(@store_item.cultivation)																
				end
				if @store_item.dogo
					badges.push("bogo")
				end
				if @store_item.topshelf
					badges.push("topshelf")
				end
				if @store_item.privatereserve
					badges.push("privatereserve")
				end
				if @store_item.organic
					badges.push("organic")
				end
				if @store_item.sugarfree
					badges.push("sugarfree")
				end
				if @store_item.glutenfree
					badges.push("glutenfree")
				end
				if @store_item.supersize
					badges.push("supersize")
				end


			%>
			<% badges.each do |badge| %>								    
				<span class="badge search-item-badge-<%= badge %>"><%= badge %></span>
			<% end %>
		
		</span>
	</span>
    
	<% if !@store_item.promo.blank? %>
	<div class="search-result-item-promo pull-right">								
		<%= @store_item.promo %>
	</div>
	<% end %>
	<div style="clear:both;"></div>
	<hr />
	<% if @store_item.description && !@store_item.description.empty? %>
		<div id="item-description">
			<h4>description</h4>
			<p><%= raw @store_item.description %>
			</p>
		</div>
	<% end %>

	<% 
		top_review = @store_item.store_item_reviews.sort_by {|review| review.sum_votes}.reverse.first
	%>
	<% if top_review %>
		<h4>top review</h4>
		<div class="item-review">	
			<table class = "item-review-display-and-comment-vote-controls">
				<tr>
					<td>				
						<span class="feed-item-icon-container">
							<%= render partial: 'profile/profile_image', locals: {user: top_review.user} %>
						</span>
					</td>
					<td>				
						<%= link_to top_review.user.username , activity_profile_path(top_review.user), :class => 'user-link', 'data-no-turbolink' => true %>						
						<small> <%= time_ago_in_words(top_review.created_at) %> ago</small>			
						<span style="float:right;">
							<%= render partial: 'layouts/stars', locals: {score: top_review.stars} %>						
						</span>
					</td>	
				</tr>		
				<tr>
					<td>					
					</td>
					<td class="review-content">
						<%= top_review.review %>
						<div id="read-only-comments_for_item_review_<%= top_review.id %>" class="item-review-comments">						
							<% top_review.store_item_review_comments.each do |store_item_review_comment| %>
								<%= render partial: 'store_item_review_comments/store_item_review_comment', locals: {store_item_review_comment: store_item_review_comment} %>
							<% end # comments loop %>	
						</div>
					</td>	
				</tr>
			</table>
		</div>
		</br> 
	<% end %>

	