<div id="bootstrap-alert-on-item-popup-reviews-tab"></div>

<h4 class="item-search-item-name">
		<!-- dvu: we don't use link_to because the link name is too complicated to embed -->
  	<%= @store_item.name %>  	
  	<% if current_user.nil? %>
		<a id="review-item-slide-toggle-button" class = "btn btn-primary pull-right">write a review</a>
  		<script>
  			$("#review-item-slide-toggle-button").click(function() {
  				/** close bootstrap modal first **/
				$('#modal').modal('hide');
				$("#log-in-link").click();	
  			})
			
  		</script>
  	<% else 
  		 canReviewResult = @role_service.canViewWriteReviewButtonForItem(current_user, @store_item) 
			if canReviewResult == true
  			%>
  			<a id="review-item-slide-toggle-button" class = "btn btn-primary pull-right">write a review</a>
  			<% else %>
  				<span class="write-review-button-blocked">
					<!-- <a class="btn btn-default" >Write a Review</a> -->
					<%= link_to 'write a review', new_store_store_review_path(@store) , id: "write-review-button-blocked" , class: "btn btn-default", "data-content"=>"<span id='write-review-blocked-tip'>"+canReviewResult+"</span>" %>
					<script>
						$('#write-review-button-blocked').click(function(e){
						  	e.preventDefault();
						  	$('#write-review-button-blocked').popover({ 
							    html : true,
							    placement : "right"
							}).popover('show');
					
						});
					</script>
				</span>
			<% end #if canReviewResult %>
  			

  	<% end #if current_user.nil? %>
  	<span class="pull-right">
		<%= form_tag(follow_store_store_item_path, method: "post" , :remote => true) do %>			
			<%= button_tag(type: 'submit', class: "btn btn-success follow-store-button ", id: "follow-store-item-button") do %>
				<div class="follow-user-star glyphicon glyphicon-star"></div>
			<% end %>
		<% end %>
		<% if current_user.nil? %>
			<script>						
				$("#follow-store-item-button").click(function(e){
					e.preventDefault();	
					$('#modal').modal('hide');
					$("#log-in-link").click();
				})
			</script>
		<% end %>
	</span>
  	
</h4>

<% if !current_user.nil? %>
	<%= render 'store_item_reviews/form' %>
<% end %>

<div class="star-rank" >
	<span class="glyphicon glyphicon-star"></span>
	<span class="glyphicon glyphicon-star"></span>
	<span class="glyphicon glyphicon-star"></span>
	<span class="glyphicon glyphicon-star"></span>
	<span class="glyphicon glyphicon-star"></span>		
</div>  
<%
	straincat = [ ]
	
	if !(@store_item.strain.nil? || @store_item.strain.empty?)
		strainstr = "strain: #{@store_item.strain}"
		straincat.push(strainstr)
	end	
	if !(@store_item.maincategory.nil? || @store_item.maincategory.empty?)
		categorystr = "category: #{@store_item.maincategory}"
		straincat.push(categorystr)
	end
	if !(@store_item.subcategory.nil? || @store_item.subcategory.empty?)	
		subcatstr = "subcategory: #{@store_item.subcategory}"
		straincat.push(subcatstr)
	end	
%>

<div class="search-result-item-category-strain-meta">
	<%= straincat.join ' | '  %> 
</div>
</br>

<% if @item_reviews.empty? || @item_reviews.count == 0 %>
	<div id="item-popup-no-reviews-yet-prompt">
		
		<div class="alert alert-warning fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <strong>no reviews yet.</strong> be the first to review this item!
       
    </div>
	</div>
<% end %>


<div id="item-popup-review-tab-review-container">
<% @item_reviews.order('updated_at DESC').each do |item_review| 
	
	# for some reason, the write new item review form created from .build creates an unsaved item_review object
	# that will generate nil exceptions if we don't remove it with the following if.
	if !item_review.id.nil?

	%>
	

	<%= render partial: 'store_item_reviews/store_item_review', locals: {store_item_review: item_review} %>
	
	
	<% end %>
<% end %>

</div>