<h4 class="item-search-item-name">
		<!-- dvu: we don't use link_to because the link name is too complicated to embed -->
  	<%= @store_item.name %>
  	<% if current_user.nil? %>
		<a id="review-item-slide-toggle-button" class = "btn btn-primary pull-right">write a review</a>
  		<script>
  			$("#review-item-slide-toggle-button").click(function() {
  				/** close bootstrap modal first **/
				$('#modal').modal('hide');
				$("#log-in-link").click();	
  			})
			
  		</script>
  	<% else 
  		 canReviewResult = @role_service.canViewWriteReviewButtonForItem(current_user, @store_item) 
			if canReviewResult == true
  			%>
  			<a id="review-item-slide-toggle-button" class = "btn btn-primary pull-right">write a review</a>
  			<% else %>
  				<span class="write-review-button-blocked">
					<!-- <a class="btn btn-default" >Write a Review</a> -->
					<%= link_to 'write a review', new_store_store_review_path(@store) , id: "write-review-button-blocked" , class: "btn btn-default", "data-content"=>"<span id='write-review-blocked-tip'>"+canReviewResult+"</span>" %>
					<script>
						$('#write-review-button-blocked').click(function(e){
						  	e.preventDefault();
						  	$('#write-review-button-blocked').popover({ 
							    html : true,
							    placement : "right"
							}).popover('show');
					
						});
					</script>
				</span>
			<% end #if canReviewResult %>
  			

  	<% end #if current_user.nil? %>
  	
</h4>

<% if !current_user.nil? %>
	<%= render 'store_item_reviews/form' %>
<% end %>

<div class="star-rank" >
	<span class="glyphicon glyphicon-star"></span>
	<span class="glyphicon glyphicon-star"></span>
	<span class="glyphicon glyphicon-star"></span>
	<span class="glyphicon glyphicon-star"></span>
	<span class="glyphicon glyphicon-star"></span>		
</div>  
<%
	straincat = [ ]
	
	if !(@store_item.strain.nil? || @store_item.strain.empty?)
		strainstr = "strain: #{@store_item.strain}"
		straincat.push(strainstr)
	end	
	if !(@store_item.maincategory.nil? || @store_item.maincategory.empty?)
		categorystr = "category: #{@store_item.maincategory}"
		straincat.push(categorystr)
	end
	if !(@store_item.subcategory.nil? || @store_item.subcategory.empty?)	
		subcatstr = "subcategory: #{@store_item.subcategory}"
		straincat.push(subcatstr)
	end	
%>

<div class="search-result-item-category-strain-meta">
	<%= straincat.join ' | '  %> 
</div>
</br>

<% if @item_reviews.empty? || @item_reviews.count == 0 %>
	<div class="store-review">
		
		<div class="alert alert-warning fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <strong>no reviews yet.</strong> be the first to review this item!
       
    </div>
	</div>
<% end %>



<% @item_reviews.each do |item_review| 
	
	# for some reason, the write new item review form created from .build creates an unsaved item_review object
	# that will generate nil exceptions if we don't remove it with the following if.
	if !item_review.id.nil?

	%>
	<div class="store-review">
		<h4>			
			<%= item_review.user.username %>
			<small><%= time_ago_in_words(item_review.created_at) %> ago</small>			
			<ul class = "store-star-rank" style="float:right;" star-value="<%= item_review.stars %>">			
			<% (1..item_review.stars).each do |i| %>
				<li class="rating_star">
					<span class="glyphicon glyphicon-star"></span>
				</li>
			<% end %>
			<% darkstars = 5 - item_review.stars
				(1..darkstars).each do |i| %>
				<li class="rating_star off">
					<span class="glyphicon glyphicon-star"></span>
				</li>
			<% end %>

			</ul>			
		</h4>			

		<table>
			<tr>
				<td>					
					<div class="btn-group-vertical review-vote-controls">		
						<%= form_for ([@store, @store_item, item_review, item_review.store_item_review_votes.build]), :remote => true, :html => { :id => "new_upvote_on_#{item_review.id}" } do |f| %>
							<%= f.hidden_field :vote, :value => "1" %> 
							<%= button_tag(type: 'submit', class: "btn btn-default upvotebutton") do %>
 								<div class="glyphicon glyphicon-chevron-up"></div>
							<% end %>

						<% end %>
						<div> 
							<div class="review-votes" id="<%=item_review.id%>_vote_sum"><%= item_review.sum_votes %> </div>
						</div>
						
						<%= form_for ([@store, @store_item, item_review, item_review.store_item_review_votes.build]), :remote => true, :html => { :id => "new_downvote_on_#{item_review.id}" } do |f| %>
							<%= f.hidden_field :vote, :value => "-1" %> 
							<%= button_tag(type: 'submit', class: "btn btn-default downvotebutton") do %>
 								<div class="glyphicon glyphicon-chevron-down"></div>
							<% end %>
						<% end %>
					</div>
				</td>
				<td class="review-content">
					<%= item_review.review %>
				</td>	
			</tr>
		</table>

		<div id="comments_for_review_<%= item_review.id %>" class="store-review-comments">						
			<!-- dvu: WARNING: be sure to change this template in ajax response as well! -->
			<% item_review.store_item_review_comments.each do |store_item_review_comment| %>
				<% 
					if @store.email == store_item_review_comment.user.email						
						@ownerstyle = "owner-store-review-comment"
						@storeownercomment = true
					else 
						@ownerstyle = ""
						@storeownercomment = false
					end
				%>
				<div id="comment_<%= store_item_review_comment.id %>" class="store-review-comment <%=@ownerstyle%>" >
					<a href="#"><%= store_item_review_comment.user.username %></a>&nbsp
					<% if @storeownercomment %>
						<span class="badge owner-badge">store owner</span>&nbsp
					<% end %>

					<span class="store-review-comment-ago"><%= time_ago_in_words(store_item_review_comment.created_at) %> ago</span><br/>
					<%= store_item_review_comment.comment %>
				</div>
			<% end %>			
		</div>
		<% if current_user.nil? %>
			<!-- maybe just close modal and click login button -->
			<br/>
			<a id="login-to-comment-on-item-review">log in to comment </a>
			<script>
				$("#login-to-comment-on-item-review").click(function(){
					$('#modal').modal('hide');
					$("#log-in-link").click();
				})
			</script>

		<% else %>
			<%= form_for ([@store, @store_item, item_review, item_review.store_item_review_comments.build]), :remote => true, :html => { :id => "new_comment_on_#{item_review.id}" , :class=> "new-store-review-comment-form"} do |f| %>
				<%= f.text_area :comment, :class => 'form-control new-item-review-comment-input', :required => true, :rows => 1 %>
				<%= f.submit 'post comment', :class => 'btn btn-primary lowercase pull-right save-new-store-review-comment btn-sm' , :id => "save_comment_on_#{item_review.id}"  %>
			<% end %>		
		<% end %>
		

	</div> 
	<% end %>
<% end %>

