<table class="search-item-results-meta-table">
	<tr>
		<td style="vertical-align:top;">													
			<span class="item-results-field-type">shop info:</span>													
		</td>
		<td>			
			<a class="search-results-store-links" href="<%= store_path(store_id) %>" data-no-turbolink='true' >
				<%= store_name %>
			</a>	
			<% if store_deliveryservice == true %>											
				<span class="fa-stack fa-lg store-store-delivery-icons-search-and-popup">						  
				  <i class="fa fa-truck fa-stack-1x fa"></i>
				</span>									
			<% else %>
				<span class="fa-stack fa-lg store-store-delivery-icons-search-and-popup">						  
				  <i class="fa fa-home fa-stack-1x fa"></i>
				</span>				
			<% end %>	
		</td>
	</tr>

	<% if !strain.blank? %>									
	<tr>
		<td>
			<span class="item-results-field-type">strain:</span>
		</td>
		<td>
			<%= strain %>
		</td>
	</tr>
	<% end %>

	<% if !maincategory.blank? %>									
	<tr>
		<td>
			<span class="item-results-field-type">category:</span>
		</td>
		<td>
			<%= maincategory %>
		</td>
	</tr>
	<% end %>

	<% if !subcategory.blank? %>									
	<tr>
		<td>
			<span class="item-results-field-type">subcategory:</span>
		</td>
		<td>
			<%= subcategory %>
		</td>
	</tr>
	<% end %>

	<% if !usetype.blank? %>									
	<tr>
		<td>
			<span class="item-results-field-type">use:</span>
		</td>
		<td>
			<%= usetype %>
		</td>
	</tr>
	<% end %>

</table>