


<div class="item-tab-content-container">
	<table id="store-header-on-item-modal">
		<tr>
			<td class="item-img-td">
				<%= render partial: 'stores/store_image', locals: {store: @store} %>
			</td>
			<td>
				<h4 class="item-pop-up-store-name inline-header">
					<a href="<%= store_path(@store.id)%>" data-no-turbolink='true' > <%= @store.name %></a>								
					<small>
						<%= @store_item.store.promo %>
					</small>
				</h4>
				<% if !@store.facebook.blank? %>						
					<a id="facebook" href="<%= @urlservice.url_with_protocol(@store.facebook) %>">
						<span class="fa-stack fa store-header-icons-item-modal">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				<% end %>
				<% if !@store.twitter.blank? %>						
					<a id="twitter" href="<%= @urlservice.url_with_protocol(@store.twitter) %>">
						<span class="fa-stack fa store-header-icons-item-modal">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				<% end %>	
				<% if !@store.instagram.blank? %>						
					<a id="instagram" href="<%= @urlservice.url_with_protocol(@store.instagram) %>">
						<span class="fa-stack fa store-header-icons-item-modal">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				<% end %>
			</td>
		</tr>
	</table>  	

	<div class="star-rank" >
		<%= render partial: 'layouts/stars', locals: {score: @store.stars} %>						
	</div>  
	<div class="based-on" style="margin-top:10px;">
			<% if @store.store_reviews.count == 0 %>
				0 reviews
			<% else %>
				based on <%= @store.store_reviews.count %> reviews
			<% end %>
		</div>
	<br/>
	
	<table id="item-popup-store-details">
		<tr>
			<td class="store-info" style="vertical-align:top;">
				<h4 class = "inline-header">business info</h4>
				<br/><br/>
				<address>				
					<span id="addressline1"><%= @store.addressline1  %></span>
						<br>
					<% if  @store.addressline2 && !@store.addressline2.empty?  %>
						<span id="addressline2"><%= @store.addressline2  %></span>
						<br>
					<% end %>	
					<span id="city"><%= @store.city  %></span>, 
					<span id="state"><%= @store.state  %></span>
					<span id="zip"><%= @store.zip  %></span>
					 <br/>
					 <br/>
					 <% if !@store.website.blank? %>						
						<i class="glyphicon glyphicon-home"></i>					
						<a id="website" href="<%= @urlservice.url_with_protocol(@store.website) %>">
							<%= @store.website  %>
						</a>
						<br />
					<% end %>				 
					 <% if !@store.phonenumber.blank? %>											 
						 <i class="glyphicon glyphicon-earphone"></i>					
						 <span id="phonenumber"><%= @store.phonenumber  %></span>
						 <br />
					 <% end %>
					 <% if !@store.email.blank? %>				 	
						 <i class="glyphicon glyphicon-envelope"></i>					
						 <span id="email"><%= @store.email  %></span>
						 <br />
					<% end %>
					 
				</address>
			</td>
			<td valign = "top">

				<div class="store-map-loc">		
					<div id="gmap_canvas_item_popup"></div>
				</div>

			</td>
		</tr>
	</table>
	<hr/>

	<div class="row">											 
		<div class="col-md-8">
			<h4 class = "inline-header">description </h4>
			<div id="description" class = "store-description-on-modal">				
				<% if !@store.description.blank? %>
					<div id="store-description-on-modal" class="hideStoreDescriptionOnModal">
						<%= raw @store.description %>													    
					</div>
					<% if @store.description.length > 800 %>
						<div class="show-more">
					        <a elementToExpand="#store-description-on-modal" hideClass="hideStoreDescriptionOnModal" showClass="showStoreDescriptionOnModal" >show more</a>
					    </div>
				    <% end %>
				<% else %>
					none.
				<% end %>
			</div> 
		</div>

		<div class="col-md-4">
			<div class="center">
				<%= link_to 'VIEW MENU', store_path(@store), class: 'btn btn-primary' , id: "view-store-button" %>
			</div>
			<hr/>
			<h4>hours</h4>
			<table id="storehours">			
					<tr>
						<td class="day">sunday</td>
						<td class="store-hours-text" id="sunday-hours">
							<% if @store.sundayclosed %>
								Closed					
							<% else %>
							<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourssundayopenhour, @store.storehourssundayopenminute ) %> -
							<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourssundayclosehour, @store.storehourssundaycloseminute ) %>		
							<% end %>
						</td>
						<td id="store-status-0" class="hours-current-status"></td>
					</tr>				
					<tr>
						<td class="day">monday</td>
						<td class="store-hours-text" id="monday-hours">
							<% if @store.mondayclosed %>
								Closed					
							<% else %>
							<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursmondayopenhour, @store.storehoursmondayopenminute ) %> -
							<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursmondayclosehour, @store.storehoursmondaycloseminute ) %>
							<% end %>
						</td>
						<td id="store-status-1" class="hours-current-status"></td>
					</tr>
					<tr>
						<td class="day">tuesday</td>
						<td class="store-hours-text" id="tuesday-hours">
							<% if @store.tuesdayclosed %>
								Closed					
							<% else %>					
							<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourstuesdayopenhour, @store.storehourstuesdayopenminute ) %> -
							<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourstuesdayclosehour, @store.storehourstuesdaycloseminute ) %>
							<% end %>
						</td>
						<td id="store-status-2" class="hours-current-status"></td>
					</tr>
					<tr>
						<td class="day">wednesday</td>
						<td class="store-hours-text" id="wednesday-hours">
							<% if @store.wednesdayclosed %>
								Closed					
							<% else %>					
							<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourswednesdayopenhour, @store.storehourswednesdayopenminute ) %> -
							<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourswednesdayclosehour, @store.storehourswednesdaycloseminute ) %>
							<% end %>
						</td>
						<td id="store-status-3" class="hours-current-status"></td>
					</tr>
					<tr>
						<td class="day">thursday</td>
						<td class="store-hours-text" id="thursday-hours">
							<% if @store.thursdayclosed %>
								Closed					
							<% else %>					
							<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursthursdayopenhour, @store.storehoursthursdayopenminute ) %> -
							<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursthursdayclosehour, @store.storehoursthursdaycloseminute ) %>
							<% end %>
						</td>
						<td id="store-status-4" class="hours-current-status"></td>
					</tr>
					<tr>
						<td class="day">friday</td>
						<td class="store-hours-text" id="friday-hours">
							<% if @store.fridayclosed %>
								Closed					
							<% else %>										
							<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursfridayopenhour, @store.storehoursfridayopenminute ) %> -
							<%= @tds.formatMilitaryTimeAsAMPM(@store.storehoursfridayclosehour, @store.storehoursfridaycloseminute ) %>
							<% end %>
						</td>
						<td id="store-status-5" class="hours-current-status"></td>
					</tr>
					<tr>
						<td class="day">saturday</td>
						<td class="store-hours-text" id="saturday-hours">
							<% if @store.saturdayclosed %>
								Closed					
							<% else %>										
							<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourssaturdayopenhour, @store.storehourssaturdayopenminute ) %> -
							<%= @tds.formatMilitaryTimeAsAMPM(@store.storehourssaturdayclosehour, @store.storehourssaturdaycloseminute ) %>
							<% end %>
						</td>
						<td id="store-status-6" class="hours-current-status"></td>
					</tr>
				</table>
				<hr/>
				<h4 class = "inline-header">first time patient deals </h4>
				<p id="first-time-patient-deals">
					<% if  @store.firsttimepatientdeals && !@store.firsttimepatientdeals.empty?  %>
						</br>
						<%= raw @store.firsttimepatientdeals %>
					<% else %>
						</br>
						none.
					<% end %>
				</p>
		</div><!-- right col -->
	</div><!-- row end -->
	
	

	
	
</div>


<script type="text/javascript">
	var map;
			SW = {};
			SW.codeAddress = function () {
			    //In this case it gets the address from an element on the page, but obviously you  could just pass it to the method instead

			    geocoder = new google.maps.Geocoder();
			    //var address = "7110 Rock Valley Court, San Diego, CA 92122";
			    var address = "<%= escape_javascript @store.address %>";

			    geocoder.geocode( { 'address': address}, function(results, status) {
			      if (status == google.maps.GeocoderStatus.OK) {
			        //In this case it creates a marker, but you can get the lat and lng from the location.LatLng
			        console.log(results[0].geometry.location);
					var myOptions = {
						zoom:15,
						center: new google.maps.LatLng(results[0].geometry.location),
						mapTypeId: google.maps.MapTypeId.ROADMAP
					}
			        map = new google.maps.Map(document.getElementById("gmap_canvas_item_popup"), myOptions);
			        map.setCenter(results[0].geometry.location);
			        var marker = new google.maps.Marker({
			            map: map, 
			            position: results[0].geometry.location,				            
			        });
			        
					// infowindow = new google.maps.InfoWindow
					// 	({
					// 		content:"<span class='gmap'><%= @store.name  %></span>" 
					// 	});
					// google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});

					// infowindow.open(map,marker);
					//dvu: have to fire this on bootstrap modal
					console.log('resizing gmap');
					google.maps.event.trigger(map, 'resize');
					
			      } else {
			        //breaking selenium?
			        //alert("Geocode was not successful for the following reason: " + status);
			      }
			    });
			  }
		google.maps.event.addDomListener(window, "load", codeAddress);

		
// $('#modal').on('shown', function () {
// 	console.log('shown triggered');
//     google.maps.event.trigger(map, "resize");
// });		

$(".show-more a").on("click", function() {
    var $this = $(this);            
    var element = $this.attr("elementToExpand")
    var hideClass = $this.attr("hideClass")            
    var showClass = $this.attr("showClass")          
    var $content = $(element);
    var linkText = $this.text().toUpperCase();    
    
    if(linkText === "SHOW MORE"){
        console.log('showing more');             
        console.log($content);
        $content.switchClass(hideClass, showClass, 0);
    } 

    //$this.text(linkText);
    $this.remove();
});

</script>

