<div class="modal-dialog">
  <div class="modal-content">
    <!-- <div class="modal-header"> -->
	<ul class="nav nav-tabs">
  		<li class="active"><a href="#info" data-toggle="tab">Info</a></li>
  		<li><a href="#reviews" data-toggle="tab">Reviews</a></li>  
	</ul>

      
    <!-- </div> -->
    <div class="modal-body">
	<h4 class="modal-title" id="myModalLabel"><%= @store_item.name %>
		<div class="star-rank">
			<span class="glyphicon glyphicon-star"></span>
			<span class="glyphicon glyphicon-star"></span>
			<span class="glyphicon glyphicon-star"></span>
			<span class="glyphicon glyphicon-star"></span>
			<span class="glyphicon glyphicon-star"></span>		
		</div>      	
    	
      </h4>          
    	<!-- Nav tabs -->

	<!-- Tab panes -->
	<div id="item-preview-tab-content" class="tab-content">
	  	<div class="tab-pane active" id="info">
			<br/>
			<p><%= raw @store_item.description %>
			</p>
			<h4 class="modal-title" id="myModalLabel">Top Review
				<div class="star-rank">
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>		
				</div>      			    	
	      	</h4>          
	      	<div id="top-review">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum metus quam, non dapibus metus molestie non. Proin vel metus eget odio rutrum euismod. Aenean quam justo, tempus et varius vel, pulvinar adipiscing lorem. Pellentesque eget nisi vel neque facilisis laoreet vel vel mi. Cras tempor nibh id augue gravida commodo.
	      	</div>
		    
			<h4>Lab Information</h4>          
			  <table id="item-preview-lab-information" class="table table-bordered">
			  	<tr>
			  		<th>THC %
			  		</th>
					<th>CBD %
			  		</th>			  		
					<th>CBN %
			  		</th>			  		
			  	</tr>
			  	<tr>			  		
			  		<td>
			  			<% if  @store_item.thc %>
					    	<%= @store_item.thc %>
					    <% else %>
					    	None.
					    <% end %>
					</td>
					<td>												    					    
					    <% if  @store_item.cbd %>
					    	<%= @store_item.cbd %>
					    <% else %>
					    	None.
					    <% end %>					    						
					</td>
					<td>
					    <% if  @store_item.cbn %>
					    	<%= @store_item.cbn %>
					    <% else %>
					    	None.
					    <% end %>					    						
					</td>  
			  	</tr>
			  </table>
			  <h4>Pricing</h4>
			  <table id="price-table" class="table table-bordered">
				 <tr>
				 	<th>.5 g</th>
				 	<th>1 g</th>
				 	<th>1/8 oz</th>
				 	<th>1/4 oz</th>
				 	<th>1/2 oz</th>
				 	<th>1 oz</th>
				 </tr>
				 <tr>
				 	<td>
					    <%= @store_item.costhalfgram %>
					</td>
				 	<td>
				 		<%= @store_item.costonegram %>
				 	</td>
				 	<td>
				 		<%= @store_item.costeighthoz %>
				 	</td>
				 	<td>
				 		<%= @store_item.costquarteroz %>
				 	</td>
				 	<td>
				 		<%= @store_item.costhalfoz %>
				 	</td>
				 	<td>
				 		<%= @store_item.costoneoz %>
				 	</td>
				  </tr>
				</table>  	

			  <p class = "form-group" id="dogo">
			    <h4>DOGO</h4>
	  	</div>
		<div class="tab-pane" id="reviews">
			<br/>
			No reviews yet!
		</div>  
	</div><!-- item-preview-tab-content -->


    <p class = "form-group pull-right">               
		<button id="cancel-button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	
	</p>
    <div class="simple-weed-modal-footer">
    </div>  
  </div> <!-- modal-content -->
</div>    
<script>
//be careful with css selector.  If you remove .nav-tabs, it'll disable all the links in the tab panels.
$('#item-preview-tab-content .nav-tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')  
})
</script>
