<% 	
	@role_service = Simpleweed::Security::Roleservice.new
	is_store_owner = @role_service.isUserStoreOwnerOf(store_review_comment.user,store_review_comment.store_review.store)

	if is_store_owner
		@ownerstyle = "owner-store-review-comment"
		@storeownercomment = true
	else 
		@ownerstyle = ""
		@storeownercomment = false
	end
%>
<div id="comment_<%= store_review_comment.id %>" class="store-review-comment <%=@ownerstyle%>" >	
	<%= link_to store_review_comment.user.username , activity_profile_path(store_review_comment.user), :class => 'user-link', 'data-no-turbolink' => true %> &nbsp							
	<% if @storeownercomment %>
		<span class="badge owner-badge">store owner</span>&nbsp
	<% end %>

	<span class="store-review-comment-ago"><%= time_ago_in_words(store_review_comment.created_at) %> ago</span><br/>
	<%= store_review_comment.comment %>
</div>