<% 
	
	@store = store_review_comment.store_review.store


	if @store.email == store_review_comment.user.email						
		@ownerstyle = "owner-store-review-comment"
		@storeownercomment = true
	else 
		@ownerstyle = ""
		@storeownercomment = false
	end
%>
<div id="comment_<%= store_review_comment.id %>" class="store-review-comment <%=@ownerstyle%>" >
	<a href="#"><%= store_review_comment.user.username %></a>&nbsp
	<% if @storeownercomment %>
		<span class="badge owner-badge">store owner</span>&nbsp
	<% end %>

	<span class="store-review-comment-ago"><%= time_ago_in_words(store_review_comment.created_at) %> ago</span><br/>
	<%= store_review_comment.comment %>
</div>