<div class = "item-search-result-container" latitude="<%= item.stored(:store_latitude) %>" longitude="<%= item.stored(:store_longitude) %>" store-name="<%= item.stored(:store_name) %>" 
								item-name="<%= item.stored(:name) %>">
		<div class = "image-and-meta-container">
			<table>
				<tr>
					<td class="image-td" valign="top">
						<%= counter %>
					</td>

					<td class="item-search-result-meta">
						<!-- dvu: we don't use link_to because the link name is too complicated to embed -->
					  	<span class="store-item-name-container">
					  	<a class="item-search-item-name-main-page" data-remote="<%= store_store_item_path(item.stored(:store_id), item.stored(:id)) %>" data-target="#modal" data-toggle="modal" 
					  		href="<%= store_store_item_path(item.stored(:store_id), item.stored(:id)) %>" >
							<% if item.highlights(:name).size == 0 %>								
								<!-- have to do because just loading directly renders brackets and newlines -->
								<% item.stored(:name).each do |word| %>
									<%= word %>
								<% end %>
							<% end %>
							<% item.highlights(:name).each do |highlight| %>								    
							    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
						    <% end %>
						</a>						
						</span>
						
 						<%= render partial: 'ses/store_item_price_table', locals: {
							itemcategory: item.stored(:maincategory),
							costonegram: item.stored(:costonegram),
							costeighthoz: item.stored(:costeighthoz),
							costquarteroz: item.stored(:costquarteroz),
							costhalfoz: item.stored(:costhalfoz),
							costoneoz: item.stored(:costoneoz),
							costhalfgram: item.stored(:costhalfgram),
							costperunit: item.stored(:costperunit)
						} %>

						<div class="star-rank" >
							<%= render partial: 'layouts/stars', locals: {score: item.stored(:stars)} %>
						</div>
						
						
							<%
								full_store_name = item.stored(:store_name).join(" ")
								
							%>

						<span class="meta-and-badges-container">	
							<%= render partial: 'store_items/store_item_meta_data', locals: {
								store_id: item.stored(:store_id),
								store_name: full_store_name,
								strain: item.stored(:strain),
								maincategory: item.stored(:maincategory),
								subcategory: item.stored(:subcategory)
							} %>
							
							<%= render partial: 'store_items/badges', locals: {
								cultivation: item.stored(:cultivation),
								dogo: item.stored(:dogo),
								topshelf: item.stored(:topshelf),
								privatereserve: item.stored(:privatereserve),
								organic: item.stored(:organic),
								sugarfree: item.stored(:sugarfree),
								glutenfree: item.stored(:glutenfree),
								supersize: item.stored(:supersize)
							} %>



							
							
						</span>
				
							<% if !item.highlights(:promo).nil? && !item.stored(:promo).nil? && !item.stored(:promo)[0].blank? %>
							<span class="search-result-item-promo pull-right">													
									<% if item.highlights(:promo).size == 0 %>
										<!-- have to do because just loading directly renders brackets and newlines -->
										<% item.stored(:promo).each do |word| %>
											<%= word %>
										<% end %>
									<% end %>
									<% item.highlights(:promo).each do |highlight| %>								    
									    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
								    <% end %>							
							</span>
							<% end %>	

							<!-- thc : <%= item.stored(:thc) %> | cbd : <%= item.stored(:cbd) %> | cbn : <%= item.stored(:cbn) %> 
							</br> -->
							
							<!-- DON'T DELETE!  
							<% if  item.stored(:description) && !item.stored(:description).empty?  %>
								<div class="item-search-item-description">									
									<% if item.highlights(:description).size == 0 %>										
										<% item.stored(:description).each do |word| %>
											<%= word %>
										<% end %>
									<% end %>
									<% item.highlights(:description).each do |highlight| %>								    
									    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
								    <% end %>
								</div>								
							<% end %>
							-->
							
							
						
						
					</td>
				</tr>
			</table>
		</div>
	</div>