<%
	
	case itemcategory
		# ['flower', 'concentrate', 'edible', 'pre-roll', 'other', 'accessory']
		when "flower"
			%>
			<table class= "pull-right search-results-item-price-table">
				<tr class="price-table-header-row">												
					<th>1g</th>
					<th>1/8oz</th>
					<th>1/4oz</th>
					<th>1/2oz</th>
					<th>1oz</th>
				</tr>
				<tr class="price-table-price-row">												
					<td <% if @filterpriceby == "gram" %>
							class = "highlight"
						<% end %>
					>
						<%= costonegram %>
					</td>
					<td <% if @filterpriceby == "eighth" %>
							class = "highlight"
						<% end %>
					>
						<%= costeighthoz %>						
					</td>
					<td <% if @filterpriceby == "quarteroz" %>
							class = "highlight"
						<% end %>
					>
						<%= costquarteroz %>
					</td>
					<td <% if @filterpriceby == "halfoz" %>
							class = "highlight"
						<% end %>
					>
						<%= costhalfoz %>
					</td>
					<td <% if @filterpriceby == "oz" %>
							class = "highlight"
						<% end %>
					>
						<%= costoneoz %>
					</td>
				</tr>
			</table>
			<%	
		when "concentrate"
			%>
			<table class= "pull-right search-results-item-price-table" style="width: 165px !important">
				<tr class="price-table-header-row">					
					<th>1/2g</th>
					<th>1g</th>
					<th>1/8oz</th>												
				</tr>
				<tr class="price-table-price-row">					
					<td <% if @filterpriceby == "halfgram" %>
							class = "highlight"
						<% end %>
					>
						<%= costhalfgram %>
					</td>
					<td <% if @filterpriceby == "gram" %>
							class = "highlight"
						<% end %>
					>
						<%= costonegram %>
					</td>
					<td <% if @filterpriceby == "eighth" %>
							class = "highlight"
						<% end %>
					>
						<%= costeighthoz %>
					</td>
																
				</tr>
			</table>
			<%	
		else
			%>			
			<table class= "pull-right search-results-item-price-table" style="width: 55px !important">
				<tr class="price-table-header-row">
					<th>each</th>												
				</tr>
				<tr class="price-table-price-row">
					<td <% if @filterpriceby == "gram" %>
							class = "highlight"
						<% end %>
					>
						<%= costperunit %>
					</td>
					
				</tr>
			</table>
			<%		
		#switch
		end %>
	