<div class = "item-search-result-container" latitude="<%= item.stored(:store_latitude) %>" longitude="<%= item.stored(:store_longitude) %>" store-name="<%= item.stored(:store_name) %>" 
								item-name="<%= item.stored(:name) %>">
		<div class = "image-and-meta-container">
			<table>
				<tr>
					<td class="image-td" valign="top">
						<% if item.stored(:image_url).blank? %>	
							<span class="glyphicon glyphicon-leaf user-pic"></span>		    				
						<% else %>	
							<img class="user-pic-borderless" width="40px" height="40px" src = "http:<%= item.stored(:image_url) %>"></img>	
						<% end %>
					</td>

					<td class="item-search-result-meta">
						<h2 >
							<!-- dvu: we don't use link_to because the link name is too complicated to embed -->
						  	<span class="store-item-name-container">
						  	<a class="item-search-item-name-main-page" data-remote="<%= store_store_item_path(item.stored(:store_id), item.stored(:id)) %>" data-target="#modal" data-toggle="modal" 
						  		href="<%= store_store_item_path(item.stored(:store_id), item.stored(:id)) %>" >
								<% if item.highlights(:name).size == 0 %>								
									<!-- have to do because just loading directly renders brackets and newlines -->
									<% item.stored(:name).each do |word| %>
										<%= word %>
									<% end %>
								<% end %>
								<% item.highlights(:name).each do |highlight| %>								    
								    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
							    <% end %>
							</a>						
							</span>
							<%= render partial: 'ses/store_item_price_table', locals: {item: item} %>			  


														
						</h2>
						<div class="star-rank" >
							<%= render partial: 'layouts/stars', locals: {score: item.stored(:stars)} %>
						</div>
						
						<div>
							<table class="search-item-results-meta-table">
								<tr>
									<td>										
										
											<span class="item-results-field-type">shop info:</span>
																	
										
									</td>
									<td>
										<a class="search-results-store-links" href="<%= store_path(item.stored(:store_id))%>" data-no-turbolink='true' >
											<% if item.highlights(:store_name).size == 0 %>
												<!-- have to do because just loading directly renders brackets and newlines -->
												<% item.stored(:store_name).each do |word| %>
													<%= word %>
												<% end %>
											<% end %>
											<% item.highlights(:store_name).each do |highlight| %>								    
											    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
										    <% end %>							
										</a>	
									</td>
								</tr>

								<% if !(item.stored(:strain).blank?) %>									
								<tr>
									<td>
										<span class="item-results-field-type">strain:</span>
									</td>
									<td>
										<%= item.stored(:strain) %>
									</td>
								</tr>
								<% end %>

								<% if !(item.stored(:maincategory).blank?) %>									
								<tr>
									<td>
										<span class="item-results-field-type">category:</span>
									</td>
									<td>
										<%= item.stored(:maincategory) %>
									</td>
								</tr>
								<% end %>

								<% if !(item.stored(:subcategory).blank?) %>									
								<tr>
									<td>
										<span class="item-results-field-type">subcategory:</span>
									</td>
									<td>
										<%= item.stored(:subcategory) %>
									</td>
								</tr>
								<% end %>

							</table>
							
							

							<!-- thc : <%= item.stored(:thc) %> | cbd : <%= item.stored(:cbd) %> | cbn : <%= item.stored(:cbn) %> 
							</br> -->
							<div class="search-result-item-promo">								
								<% if !item.highlights(:promo).nil? && !item.stored(:promo).nil? %>
									<% if item.highlights(:promo).size == 0 %>
											<!-- have to do because just loading directly renders brackets and newlines -->
											<% item.stored(:promo).each do |word| %>
												<%= word %>
											<% end %>
										<% end %>
										<% item.highlights(:promo).each do |highlight| %>								    
										    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
									    <% end %>							
								<% end %>
							</div>


							<% if  item.stored(:description) && !item.stored(:description).empty?  %>
								<div class="item-search-item-description">
									<!-- if there are no highlight matches, nothing is rendered without this -->
									<% if item.highlights(:description).size == 0 %>
										<!-- have to do because just loading directly renders brackets and newlines -->
										<% item.stored(:description).each do |word| %>
											<%= word %>
										<% end %>
									<% end %>
									<% item.highlights(:description).each do |highlight| %>								    
									    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
								    <% end %>
								</div>								
							<% end %>
							
							

						</div>
						<div class ="search-results-item-badges">
							<%
							badges = [ ]
								# if item.stored(:og)
								# 	badges.push("og")
								# end
								# if item.stored(:kush)
								# 	badges.push("kush")
								# end
								# if item.stored(:haze)
								# 	badges.push("haze")
								# end
								if !(item.stored(:cultivation).nil? || item.stored(:cultivation).empty?)
									badges.push(item.stored(:cultivation))																
								end
								if item.stored(:dogo)
									badges.push("bogo")
								end
								if item.stored(:topshelf)
									badges.push("topshelf")
								end
								if item.stored(:privatereserve)
									badges.push("privatereserve")
								end
								if item.stored(:organic)
									badges.push("organic")
								end
								if item.stored(:sugarfree)
									badges.push("sugarfree")
								end
								if item.stored(:glutenfree)
									badges.push("glutenfree")
								end
								if item.stored(:supersize)
									badges.push("supersize")
								end


							%>
							<% badges.each do |badge| %>								    
								<span class="badge search-item-badge-<%= badge %>"><%= badge %></span>
							<% end %>
							
						</div>
					</td>
				</tr>
			</table>
		</div>
<!-- 		<div class="glyphicon glyphicon-user item-search-user-logo"></div>
		<span>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ornare ante id sapien ullamcorper, vel pharetra nulla pulvinar. Nullam orci est, dapibus sit amet risus in, ultricies mattis turpis. Aliquam laoreet cursus libero, sed porta est auctor quis. Integer leo nibh, ultricies 
		</span> -->
	</div>