<div class = "item-search-result-container" latitude="<%= item.stored(:store_latitude) %>" longitude="<%= item.stored(:store_longitude) %>" store-name="<%= item.stored(:store_name) %>" 
								item-name="<%= item.stored(:name) %>">
		<div class = "image-and-meta-container">
			<table>
				<tr>
					<td class="image-td" valign="top">
						<% if item.stored(:image_url).blank? %>	
							<span class="glyphicon glyphicon-leaf user-pic"></span>		    				
						<% else %>	
							<img class="user-pic-borderless" width="40px" height="40px" src = "http:<%= item.stored(:image_url) %>"></img>	
						<% end %>
					</td>


					<td class="item-search-result-meta">
						<h2 >
							<!-- dvu: we don't use link_to because the link name is too complicated to embed -->
						  	<a class="item-search-item-name" data-remote="<%= store_store_item_path(item.stored(:store_id), item.stored(:id)) %>" data-target="#modal" data-toggle="modal" 
						  		href="<%= store_store_item_path(item.stored(:store_id), item.stored(:id)) %>" >
								<% if item.highlights(:name).size == 0 %>								
									<!-- have to do because just loading directly renders brackets and newlines -->
									<% item.stored(:name).each do |word| %>
										<%= word %>
									<% end %>
								<% end %>
								<% item.highlights(:name).each do |highlight| %>								    
								    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
							    <% end %>
							</a>						
						
							<%
							if !(item.stored(:maincategory).nil? || item.stored(:maincategory).empty?)
								itemcategory = item.stored(:maincategory)
								case itemcategory
									# ['flower', 'concentrate', 'edible', 'pre-roll', 'other', 'accessory']
									when "flower"
										%>
										<table class= "small pull-right search-results-item-price-table">
											<tr>												
												<th>1g</th>
												<th>1/8oz</th>
												<th>1/4oz</th>
												<th>1/2oz</th>
												<th>1oz</th>
											</tr>
											<tr>												
												<td <% if @filterpriceby == "gram" %>
														class = "highlight"
													<% end %>
												>
													<%= item.stored(:costonegram) %>
												</td>
												<td <% if @filterpriceby == "eighth" %>
														class = "highlight"
													<% end %>
												>
													<%= item.stored(:costeighthoz) %>
												</td>
												<td <% if @filterpriceby == "quarteroz" %>
														class = "highlight"
													<% end %>
												>
													<%= item.stored(:costquarteroz) %>
												</td>
												<td <% if @filterpriceby == "halfoz" %>
														class = "highlight"
													<% end %>
												>
													<%= item.stored(:costhalfoz) %>
												</td>
												<td <% if @filterpriceby == "oz" %>
														class = "highlight"
													<% end %>
												>
													<%= item.stored(:costoneoz) %>
												</td>
											</tr>
										</table>
										<%	
									when "concentrate"
										%>
										<table class= "small pull-right search-results-item-price-table">
											<tr>
												<th></th>
												<th></th>
												<th>1/2g</th>
												<th>1g</th>
												<th>1/8oz</th>												
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td <% if @filterpriceby == "halfgram" %>
														class = "highlight"
													<% end %>
												>
													<%= item.stored(:costhalfgram) %>
												</td>
												<td <% if @filterpriceby == "gram" %>
														class = "highlight"
													<% end %>
												>
													<%= item.stored(:costonegram) %>
												</td>
												<td <% if @filterpriceby == "eighth" %>
														class = "highlight"
													<% end %>
												>
													<%= item.stored(:costeighthoz) %>
												</td>
																							
											</tr>
										</table>
										<%	
									else
										%>
										<table class= "small pull-right search-results-item-price-table">
											<tr>
												<th></th>
												<th></th>
												<th></th>
												<th></th>												
												<th>each</th>												
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td></td>
												<td></td>				
												<td <% if @filterpriceby == "gram" %>
														class = "highlight"
													<% end %>
												>
													<%= item.stored(:costperunit) %>
												</td>
												
											</tr>
										</table>
										<%		
									#switch
									end %>
								<% end #if %>


														
						</h2>
						<div class="star-rank" >
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>		
						</div>
						<div class ="search-results-item-badges">
							<%
							badges = [ ]
								# if item.stored(:og)
								# 	badges.push("og")
								# end
								# if item.stored(:kush)
								# 	badges.push("kush")
								# end
								# if item.stored(:haze)
								# 	badges.push("haze")
								# end
								if !(item.stored(:cultivation).nil? || item.stored(:cultivation).empty?)
									badges.push(item.stored(:cultivation))																
								end
								if item.stored(:dogo)
									badges.push("bogo")
								end
								if item.stored(:topshelf)
									badges.push("topshelf")
								end
								if item.stored(:privatereserve)
									badges.push("privatereserve")
								end
								if item.stored(:organic)
									badges.push("organic")
								end
								if item.stored(:sugarfree)
									badges.push("sugarfree")
								end
								if item.stored(:glutenfree)
									badges.push("glutenfree")
								end
								if item.stored(:supersize)
									badges.push("supersize")
								end


							%>
							<% badges.each do |badge| %>								    
								<span class="badge search-item-badge-<%= badge %>"><%= badge %></span>
							<% end %>
							
						</div>
						<div>
							<div class="search-result-item-available-at">
								shop info:
								<a href="<%= store_path(item.stored(:store_id))%>" data-no-turbolink='true' >
									<% if item.highlights(:store_name).size == 0 %>
										<!-- have to do because just loading directly renders brackets and newlines -->
										<% item.stored(:store_name).each do |word| %>
											<%= word %>
										<% end %>
									<% end %>
									<% item.highlights(:store_name).each do |highlight| %>								    
									    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
								    <% end %>							
								</a>							
							</div>

							</br>
							<%
								straincat = [ ]
								
								if !(item.stored(:strain).nil? || item.stored(:strain).empty?)
									strainstr = "strain: #{item.stored(:strain)}"
									straincat.push(strainstr)
								end	
								if !(item.stored(:maincategory).nil? || item.stored(:maincategory).empty?)
									categorystr = "category: #{item.stored(:maincategory)}"
									straincat.push(categorystr)
								end
								if !(item.stored(:subcategory).nil? || item.stored(:subcategory).empty?)	
									subcatstr = "subcategory: #{item.stored(:subcategory)}"
									straincat.push(subcatstr)
								end	
							%>

							<div class="search-result-item-category-strain-meta">
								<%= straincat.join ' | '  %> 
							</div>

							
							<%
								lab = []
								if !(item.stored(:thc).nil? )
									thcstr = "thc: #{item.stored(:thc)}"
									lab.push(thcstr)
								end
								if !(item.stored(:cbd).nil? )
									cbdstr = "cbd: #{item.stored(:cbd)}"
									lab.push(cbdstr)
								end
								if !(item.stored(:cbn).nil? )
									cbnstr = "cbn: #{item.stored(:cbn)}"
									lab.push(cbnstr)
								end
							%>

							<div class="search-result-item-lab-meta">
								<%= lab.join ' | '	 %>
							</div>

							<!-- thc : <%= item.stored(:thc) %> | cbd : <%= item.stored(:cbd) %> | cbn : <%= item.stored(:cbn) %> 
							</br> -->
							<div class="search-result-item-promo">								
								<% if !item.highlights(:promo).nil? && !item.stored(:promo).nil? %>
									<% if item.highlights(:promo).size == 0 %>
											<!-- have to do because just loading directly renders brackets and newlines -->
											<% item.stored(:promo).each do |word| %>
												<%= word %>
											<% end %>
										<% end %>
										<% item.highlights(:promo).each do |highlight| %>								    
										    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
									    <% end %>							
								<% end %>
							</div>


							<% if  item.stored(:description) && !item.stored(:description).empty?  %>
								<div class="item-search-item-description">
									<!-- if there are no highlight matches, nothing is rendered without this -->
									<% if item.highlights(:description).size == 0 %>
										<!-- have to do because just loading directly renders brackets and newlines -->
										<% item.stored(:description).each do |word| %>
											<%= word %>
										<% end %>
									<% end %>
									<% item.highlights(:description).each do |highlight| %>								    
									    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
								    <% end %>
								</div>								
							<% end %>
							
							

						</div>
					</td>
				</tr>
			</table>
		</div>
<!-- 		<div class="glyphicon glyphicon-user item-search-user-logo"></div>
		<span>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ornare ante id sapien ullamcorper, vel pharetra nulla pulvinar. Nullam orci est, dapibus sit amet risus in, ultricies mattis turpis. Aliquam laoreet cursus libero, sed porta est auctor quis. Integer leo nibh, ultricies 
		</span> -->
	</div>