<table class="search-item-results-meta-table">
	<% if  group.hits[0].stored(:store_addressline1) && !group.hits[0].stored(:store_addressline1).empty?  %>
		<tr>
			<td >													
				<span class="item-results-field-type">address:</span>													
			</td>
			<td>			
				<% group.hits[0].stored(:store_addressline1).each do |word| %>
					<%= word %>				
				<% end %>
			</td>
		</tr>
	<% end %>
	<% if  group.hits[0].stored(:store_city) && !group.hits[0].stored(:store_city).empty?  %>									
		<tr>
			<td>
				<span class="item-results-field-type">city:</span>
			</td>
			<td>
				<% group.hits[0].stored(:store_city).each do |word| %>					
					<%= word %>					
				<% end %>
			</td>
		</tr>
	<% end %>

	<% if  group.hits[0].stored(:store_phonenumber) && !group.hits[0].stored(:store_phonenumber).empty?  %>							
		<tr>
			<td>
				<span class="item-results-field-type">phone:</span>
			</td>
			<td>
				<% group.hits[0].stored(:store_phonenumber).each do |word| %>
					<%= word %>
				<% end %>
			</td>
		</tr>
	<% end %>

</table>


<!-- store address 
			<% if  group.hits[0].stored(:store_addressline1) && !group.hits[0].stored(:store_addressline1).empty?  %>
				<% group.hits[0].stored(:store_addressline1).each do |word| %>
					<%= word %>
				<% end %>								
			<% end %>
			
			<% if  group.hits[0].stored(:store_addressline2) && !group.hits[0].stored(:store_addressline2).empty?  %>
				<% group.hits[0].stored(:store_addressline2).each do |word| %>
					<%= word %>
				<% end %>								
			<% end %>
			
			<% if  group.hits[0].stored(:store_city) && !group.hits[0].stored(:store_city).empty?  %>
				<% group.hits[0].stored(:store_city).each do |word| %>
					<div class="search-store-result-label">city:</div>
						<%= word %>					
				<% end %>
			<% end %>
			<% if  group.hits[0].stored(:store_state) && !group.hits[0].stored(:store_state).empty?  %>
				<% group.hits[0].stored(:store_state).each do |word| %>
					<%= word %>
				<% end %>
			<% end %>
			<% if  group.hits[0].stored(:store_zip) && !group.hits[0].stored(:store_zip).empty?  %>
				<% group.hits[0].stored(:store_zip).each do |word| %>
					<%= word %>
				<% end %>
			<% end %>
			</br>
			<% if  group.hits[0].stored(:store_phonenumber) && !group.hits[0].stored(:store_phonenumber).empty?  %>
				<% group.hits[0].stored(:store_phonenumber).each do |word| %>
					<%= word %>
				<% end %>
			<% end %>
-->