<% content_for :head do %>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>			
	<!-- info box -->
	<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>

<% end %>

<div id="item-search-results-map"></div>
			
<script type="text/javascript">
var g_map;
// var g_infowindow = new google.maps.InfoWindow();

function codeAddress() {
    //In this case it gets the address from an element on the page, but obviously you  could just pass it to the method instead

    geocoder = new google.maps.Geocoder();
    //var address = "7110 Rock Valley Court, San Diego, CA 92122";
    var address = "la, ca";

    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        //In this case it creates a marker, but you can get the lat and lng from the location.LatLng
        console.log(results[0].geometry.location);
		var myOptions = {
			zoom:15,
			center: new google.maps.LatLng(results[0].geometry.location),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
        g_map = new google.maps.Map(document.getElementById("item-search-results-map"), myOptions);
        g_map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: g_map, 
            position: results[0].geometry.location,				            
        });
        						
      } else {
      	//breaking selenium?
        //alert("Geocode was not successful for the following reason: " + status);
      }
    });
	}
google.maps.event.addDomListener(window, "load", codeAddress);


</script>
<div class="infobox-wrapper">
    <div id="infobox">
        The contents of your info box. It's very easy to create and customize.
    </div>
</div>

<% 

if !@store_items || @store_items.empty? %>
	<div class="alert alert-warning">
	    <strong>Sorry!</strong> Your search returned 0 results.
	</div>
<% end %>
<% @store_items.each do |item| %>
	<div class = "item-search-result-container" latitude="<%= item.stored(:store_latitude) %>" longitude="<%= item.stored(:store_longitude) %>" store-name="<%= item.stored(:store_name) %>" 
								item-name="<%= item.stored(:name) %>">
		<div class = "image-and-meta-container">
			<table>
				<tr>
					<td class="image-td" valign="top">
						<% imagename = 'weed'+ rand(1..3).to_s + '.jpg' %>
						<%= image_tag imagename, :class => "item-search-result-image" %>
					</td>


					<td class="item-search-result-meta">
						<h4 class="item-search-item-name">
							<!-- dvu: we don't use link_to because the link name is too complicated to embed -->
						  	<a data-remote="<%= store_store_item_path(item.stored(:store_id), item.stored(:id)) %>" data-target="#modal" data-toggle="modal" 
						  		href="<%= store_store_item_path(item.stored(:store_id), item.stored(:id)) %>" >
								<% if item.highlights(:name).size == 0 %>								
									<!-- have to do because just loading directly renders brackets and newlines -->
									<% item.stored(:name).each do |word| %>
										<%= word %>
									<% end %>
								<% end %>
								<% item.highlights(:name).each do |highlight| %>								    
								    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
							    <% end %>
							</a>

							<div class="star-rank" style="float:right;">
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>		
							</div>
						</h4>
						<div>
							available at 
							<a href="<%= store_path(item.stored(:store_id))%>" data-no-turbolink='true' >
								<% if item.highlights(:store_name).size == 0 %>
									<!-- have to do because just loading directly renders brackets and newlines -->
									<% item.stored(:store_name).each do |word| %>
										<%= word %>
									<% end %>
								<% end %>
								<% item.highlights(:store_name).each do |highlight| %>								    
								    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
							    <% end %>							
							</a>							
							
						    <br/>
<!-- 							<a href="#" class = "item-map-toggle"  data-no-turbolink='true' latitude="<%= item.stored(:store_latitude) %>" longitude="<%= item.stored(:store_longitude) %>" store-name="<%= item.stored(:store_name) %>" 
								item-name="<%= item.stored(:name) %>"
								>map</a>
 -->

						    <!-- store address -->
						    </br>
						    
							<% if  item.stored(:store_addressline1) && !item.stored(:store_addressline1).empty?  %>
								<% item.stored(:store_addressline1).each do |word| %>
									<%= word %>
								<% end %>								
							<% end %>
							<% if  item.stored(:store_addressline2) && !item.stored(:store_addressline2).empty?  %>
								<% item.stored(:store_addressline2).each do |word| %>
									<%= word %>
								<% end %>								
							<% end %>
							<% if  item.stored(:store_city) && !item.stored(:store_city).empty?  %>
								<% item.stored(:store_city).each do |word| %>
									<%= word %>
								<% end %>
							<% end %>
							<% if  item.stored(:store_state) && !item.stored(:store_state).empty?  %>
								<% item.stored(:store_state).each do |word| %>
									<%= word %>
								<% end %>
							<% end %>
							<% if  item.stored(:store_zip) && !item.stored(:store_zip).empty?  %>
								<% item.stored(:store_zip).each do |word| %>
									<%= word %>
								<% end %>
							<% end %>
							</br>
							<% if  item.stored(:store_phonenumber) && !item.stored(:store_phonenumber).empty?  %>
								<% item.stored(:store_phonenumber).each do |word| %>
									<%= word %>
								<% end %>
							<% end %>



							</br>
							<%= item.stored(:category) %></br>							
							thc : 5.2% | cbd : 46.3% | cbn : 23.7%
							</br>
							halfgram: <%= item.stored(:costhalfgram) %> | gram: <%= item.stored(:costonegram) %> | eighth:<%= item.stored(:costeighthoz) %> | quarterounce:<%= item.stored(:costquarteroz) %> | halfounce:<%= item.stored(:costhalfoz) %> | ounce:<%= item.stored(:costoneoz) %>

							<% if  item.stored(:description) && !item.stored(:description).empty?  %>
								<div class="item-search-item-description">
									<!-- if there are no highlight matches, nothing is rendered without this -->
									<% if item.highlights(:description).size == 0 %>
										<!-- have to do because just loading directly renders brackets and newlines -->
										<% item.stored(:description).each do |word| %>
											<%= word %>
										<% end %>
									<% end %>
									<% item.highlights(:description).each do |highlight| %>								    
									    <%= raw highlight.format  { |word| "<span class='highlight'> #{word} </span>"  } %>
								    <% end %>
								</div>								
							<% end %>
							
							

						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="glyphicon glyphicon-user item-search-user-logo"></div>
		<span>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ornare ante id sapien ullamcorper, vel pharetra nulla pulvinar. Nullam orci est, dapibus sit amet risus in, ultricies mattis turpis. Aliquam laoreet cursus libero, sed porta est auctor quis. Integer leo nibh, ultricies 
		</span>
	</div>

<% end %> 


<script>
//http://stackoverflow.com/questions/7616666/google-maps-api-v3-custom-styles-for-infowindow
var g_infobox = new InfoBox({
         content: document.getElementById("infobox"),
         disableAutoPan: false,
         maxWidth: 150,
         pixelOffset: new google.maps.Size(-140, 0),
         zIndex: 3000,
         boxStyle: {
            background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/examples/tipbox.gif') no-repeat",
            opacity: 0.75,
            width: "280px"
        },
        closeBoxMargin: "12px 4px 2px 2px",
        closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif",
        infoBoxClearance: new google.maps.Size(1, 1)
    });

$( ".item-search-result-container" ).hover(function(e) {
	$(this).addClass('search-item-hover-focus');

	e.preventDefault();
	lat = $( this ).attr('latitude')
	long = $( this ).attr('longitude')
	storename_unscrubbed = $( this ).attr('store-name')
	itemname_unscrubbed = $( this ).attr('item-name')
	
	storename = storename_unscrubbed.replace(/\[\"/g , "");
	storename = storename.replace(/\"\]/g , "");
	itemname = itemname_unscrubbed.replace(/\[\"/g , "");
	itemname = itemname.replace(/\"\]/g , "");	

	// var image = './assets/leaf.png';
	var image = '<%= asset_path 'leaf.png' %>';
	var loc = new google.maps.LatLng(lat,long)
	marker = new google.maps.Marker({
	    	position: loc,
	        map: g_map,
	        icon: image
		});

	//g_map.setCenter(marker.getPosition());
	g_map.panTo(marker.getPosition())
	$("#infobox").html(itemname + ' @ ' + storename);
	g_infobox.open(g_map, marker);

	}
	, 
	function() {
	$(this).removeClass('search-item-hover-focus');
	}
);



</script>