
<% content_for :head do %>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>		
	<style>
		/** have to add margin on this page, b/c it doesn't have the normal app layout and the header will cover the message up **/
		.alert {
			margin-top:77px;
			margin-bottom:0px !important;
		}
	</style>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<% javascript_include_tag "jquery.fullPage.min.js" %>
	<% javascript_include_tag "jquery.slimscroll.min.js" %>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				anchors: ['welcome', 'explore', 'share', 'follow', 'business'],
				sectionsColor: ['#FFFFFF', '#FFFFFF', '#386C8F'],
				navigation: true,
				navigationPosition: 'right',
				navigationTooltips: ['First page', 'Second page', 'Third and last page'],
				resize:false
			});
		});

		$(document).ready(function() {
			$("#take-tour-button").click(function() {
				console.log("scroll");
				// Create a new jQuery.Event object with specified event properties.
				var e = jQuery.Event( "DOMMouseScroll",{delta: -650} );

				// trigger an artificial DOMMouseScroll event with delta -650
				jQuery( "section1" ).trigger( e );
			})
		});
		
	</script>



<% end %>


	
<div id="fullpage">
	<div class="section " id="section0">
		<div class="intro">
			
			<div class="welcome-header">
				<div class="welcome-h1">					
					welcome to simpleweed
				</div>
			</div>
			<div class="welcome-paragraph">
				<div class="welcome-paragraph-text">
				simpleweed is a marijuana discovery engine and social community made for today's medical and recreational marijuana connoisseur.
				</div>
			</div>
			
			
			<a id="take-tour-button" href="#explore" class="active btn btn-default btn-lg take-tour-button">TAKE A TOUR</a>

		</div>
	</div>
	<div class="section" id="section1">
	    <div class="slide" id="slide1">
			<div class="intro">
				<div class="welcome-header">
					<div class="welcome-h1">					
						explore
					</div>
				</div>
				<div class="welcome-paragraph">
					<div class="welcome-paragraph-text">
					discover new strains and products near you by searching for any keywords.  looking for something specific?  use our advanced search filters to find exactly what you want.
					</div>
				</div>				
			</div>
		</div>

	    
	</div>
	<div class="section" id="section2">
		<div class="intro">
			<div class="homepage-spacer"></div>
				<div class="welcome-header">
					<div class="welcome-h1">					
						share
					</div>
				</div>
				<div class="welcome-paragraph">
					<div class="welcome-paragraph-text">
					learn from the community or share your own experiences by writing reviews and posting your favorite links, articles, photos and more.
					</div>
				</div>				
				
		</div>
	</div>

	<div class="section" id="section3">
		<div class="intro">
			<div class="homepage-spacer"></div>
				<div class="welcome-header">
					<div class="welcome-h1">					
						follow
					</div>
				</div>
				<div class="welcome-paragraph">
					<div class="welcome-paragraph-text">
					follow your favorite dispensaries, items, community posts, and users to receive instant alerts when any update or activity is detected.
					</div>
				</div>				

		</div>
	</div>

	<div class="section" id="section4">
		<div class="intro">
			<div class="homepage-spacer"></div>
				<div class="business-header">
					<div class="business-h1">					
						dispensaries
					</div>
				</div>
				<div class="business-paragraph">
					<div class="business-paragraph-text">
					get discovered and gain new fans by listing your dispensary and menu for free.  we have over 2,500 dispensaries already listed on simpleweed.  find your listing and claim it today, or create a new listing.
					</div>
				</div>				
				<div class="business-icon-section">
					<div class="business-icons">
						<table class="business-feature-table">
							<tr>
								<td>
									<%= image_tag("metadata.png")  %>          
								</td>
								<td>
									<div class="business-feature-label">metadata</div>
									dispensaries and items are searchable by over 20 different attributes that increases your exposure and viewability.
								</td>
								<td>
									<%= image_tag("equaloppty.png")  %>
								</td>
								<td>
									<div class="business-feature-label">equal opportunity</div>
									we do not manipulate search rankings or ratings, or issue absurdly big map markers for dispensaries that pay more.
								</td>
							</tr>
							<tr>
								<td>
									<%= image_tag("searchability.png")  %>
								</td>
								<td>
									<div class="business-feature-label">searchability</div>
									everything on your dispensary profile is searchable, including your first-time patient deals.
								</td>
								<td>
									<%= image_tag("simpleprice.png")  %>
								</td>
								<td>
									<div class="business-feature-label">simple pricing</div>
									choose from our three packages: free ($0), basic ($79), or plus ($349).
								</td>
							</tr>
							<tr>
								<td>
									<%= image_tag("alerts.png")  %>
								</td>
								<td>
									<div class="business-feature-label">member alerts</div>
									users who follow your dispensary or items will receive automatic alerts when an update, like price change, is detected.
								</td>
								<td>
									<%= image_tag("claim.png")  %>
								</td>
								<td>
									<div class="business-feature-label">claim or create</div>
									claim your listing today by searching for your dispensary's page.  don't see your business listed?  email us today!
								</td>
							</tr>
						</table>
						
					</div>
				</div> <!-- business icon section -->

				<div class="homepage-footer">
					<a id="hp-facebook" href="https://www.facebook.com/simpleweed">
						<span class="fa-stack fa store-header-icons">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i style="color:black;" class="fa fa-facebook fa-stack-1x"></i>
						</span>
					</a>					
					<a id="hp-twitter" href="https://twitter.com/simpleweed">
						<span class="fa-stack fa store-header-icons">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i style="color:black;" class="fa fa-twitter fa-stack-1x"></i>
						</span>
					</a>					
					<a id="hp-mail-link" href="mailto:support@simpleweed.org">
						<span class="fa-stack fa store-header-icons">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i style="color:black;" class="fa fa-envelope fa-stack-1x"></i>
						</span>
					</a>					
					
					<span class="home-page-allrights">
						simpleweed, llc. 2014.  all rights reserved.
					</span>

					<span class="homepage-tos-privacy-links">
						<%= link_to "terms of service", terms_of_service_path %> | <%= link_to "privacy policy", privacy_policy_path %>
					</span>
				</div>
		</div>
	</div>

</div>
	

	