<%= form_for @store do |f| %>
  <p class = "form-group">
    <%= f.label :name,  "Name"  %><br>
    <%= f.text_field :name, :class => 'form-control' , :required => true   %>
  </p>             
  <p class = "form-group">
    <%= f.label :addressline1, "Address Line 1" %><br>
    <%= f.text_field :addressline1, :class => 'form-control'  ,:required => true %>
  </p>
  <p class = "form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, :class => 'form-control'  ,:required => true %>
  </p>
  <p class = "form-group">
    <%= f.label :state, "State" %><br>
    <%= f.text_field :state, :class => 'form-control'  ,:required => true %>
  </p>
  <p class = "form-group">
    <%= f.label :zip, "Zip Code" %><br>
    <%= f.text_field :zip, :class => 'form-control'  ,:required => true %>
  </p>
  <p class = "form-group">
    <%= f.label :phonenumber, "Phone Number" %><br>
    <%= f.text_field :phonenumber, :class => 'form-control'  ,:required => true %>
  </p>
  
  <h3>Daily Specials</h3>
  <p class = "form-group">
    <%= f.label :dailyspecialsmonday, "Monday" %><br>
    <%= f.text_field :dailyspecialsmonday, :class => 'form-control'  ,:required => true %>
  </p>
  <p class = "form-group">
    <%= f.label :dailyspecialstuesday, "Tuesday" %><br>
    <%= f.text_field :dailyspecialstuesday, :class => 'form-control'  ,:required => true %>
  </p>
  <p class = "form-group">
    <%= f.label :dailyspecialswednesday, "Wednesday" %><br>
    <%= f.text_field :dailyspecialswednesday, :class => 'form-control'  ,:required => true %>
  </p>
  <p class = "form-group">
    <%= f.label :dailyspecialsthursday, "Thursday" %><br>
    <%= f.text_field :dailyspecialsthursday, :class => 'form-control'  ,:required => true %>
  </p>
  <p class = "form-group">
    <%= f.label :dailyspecialsfriday, "Friday" %><br>
    <%= f.text_field :dailyspecialsfriday, :class => 'form-control'  ,:required => true %>
  </p>
  <p class = "form-group">
    <%= f.label :dailyspecialssaturday, "Saturday" %><br>
    <%= f.text_field :dailyspecialssaturday, :class => 'form-control'  ,:required => true %>
  </p>
  <p class = "form-group">
    <%= f.label :dailyspecialssunday, "Sunday" %><br>
    <%= f.text_field :dailyspecialssunday, :class => 'form-control'  ,:required => true %>
  </p>
  

  <p class = "form-group pull-right">               
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit :class => 'btn btn-primary' , :id => 'save_store'%>
  </p>
<% end %>