<%= form_for @store do |f| %>
  <p class = "form-group">
    <%= f.label :name,  "Name"  %><br>
    <%= f.text_field :name, :class => 'form-control' , :required => true   %>
  </p>             
  <p class = "form-group">
    <%= f.label :addressline1, "Address Line 1" %><br>
    <%= f.text_field :addressline1, :class => 'form-control'  ,:required => true %>
  </p>
  <p class = "form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, :class => 'form-control'  ,:required => true %>
  </p>
  <p class = "form-group">
    <%= f.label :state, "State" %><br>
    <%= f.text_field :state, :class => 'form-control'  ,:required => true %>
  </p>
  <p class = "form-group">
    <%= f.label :zip, "Zip Code" %><br>
    <%= f.text_field :zip, :class => 'form-control'  ,:required => true %>
  </p>
  <p class = "form-group">
    <%= f.label :phonenumber, "Phone Number" %><br>
    <%= f.text_field :phonenumber, :class => 'form-control'  ,:required => true %>
  </p>
  
  <h3>Daily Specials</h3>
  <p class = "form-group">
    <%= f.label :dailyspecialsmonday, "Monday" %><br>
    <%= f.text_field :dailyspecialsmonday, :class => 'form-control'   %>
  </p>
  <p class = "form-group">
    <%= f.label :dailyspecialstuesday, "Tuesday" %><br>
    <%= f.text_field :dailyspecialstuesday, :class => 'form-control'   %>
  </p>
  <p class = "form-group">
    <%= f.label :dailyspecialswednesday, "Wednesday" %><br>
    <%= f.text_field :dailyspecialswednesday, :class => 'form-control'  %>
  </p>
  <p class = "form-group">
    <%= f.label :dailyspecialsthursday, "Thursday" %><br>
    <%= f.text_field :dailyspecialsthursday, :class => 'form-control'   %>
  </p>
  <p class = "form-group">
    <%= f.label :dailyspecialsfriday, "Friday" %><br>
    <%= f.text_field :dailyspecialsfriday, :class => 'form-control'   %>
  </p>
  <p class = "form-group">
    <%= f.label :dailyspecialssaturday, "Saturday" %><br>
    <%= f.text_field :dailyspecialssaturday, :class => 'form-control'  %>
  </p>
  <p class = "form-group">
    <%= f.label :dailyspecialssunday, "Sunday" %><br>
    <%= f.text_field :dailyspecialssunday, :class => 'form-control'   %>
  </p>
  <h3>Dispensary Features</h3>
  <p class = "form-group">
    <%= f.label :acceptscreditcards, "Accepts Credit Cards" %><br>
    <%= f.check_box :acceptscreditcards, {}, "true","false" %>
  </p>
  <p class = "form-group">
    <%= f.label :atmaccess, "ATM Access" %><br>
    <%= f.check_box :atmaccess, {}, "true","false" %>
  </p>
  <p class = "form-group">
    <%= f.label :automaticdispensingmachines, "Atuomatic Dispensing Machines" %><br>
    <%= f.check_box :automaticdispensingmachines, {}, "true","false" %>
  </p>
  <p class = "form-group">
    <%= f.label :deliveryservice, "Delivery Service" %><br>
    <%= f.check_box :deliveryservice, {}, "true","false" %>
  </p>
<!--   <p class = "form-group">
    <%= f.label :firsttimepatientdeals, "First Time Patient Deals" %><br>
    <%= f.check_box :firsttimepatientdeals, {}, "true","false" %>
  </p>
 -->  
 <p class = "form-group">
    <%= f.label :handicapaccess, "Handicap Access" %><br>
    <%= f.check_box :handicapaccess, {}, "true","false" %>
  </p>
  <p class = "form-group">
    <%= f.label :loungearea, "Lounge Area" %><br>
    <%= f.check_box :loungearea, {}, "true","false" %>
  </p>
  <p class = "form-group">
    <%= f.label :petfriendly, "Pet Friendly" %><br>
    <%= f.check_box :petfriendly, {}, "true","false" %>
  </p>
  <p class = "form-group">
    <%= f.label :securityguard, "Security Guard" %><br>
    <%= f.check_box :securityguard, {}, "true","false" %>
  </p>


  <p class = "form-group pull-right">               
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit :class => 'btn btn-primary' , :id => 'save_store'%>
  </p>
<% end %>