<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel"><%= @store.name %></h4>      
      	</div>
        <div class="modal-body">
			<p id="name">
			  	<strong>Name:</strong>			  	
			  	<%= @store.name %>
			</p>
			<p id="addressline1">
				<strong>Address Line 1:</strong>
				<%= @store.addressline1  %>
			</p>
			<p id="city">
				<strong>City:</strong>
				<%= @store.city  %>
			</p>
			<p id="state">
				<strong>State:</strong>
				<%= @store.state  %>
			</p>
			<p id="zip">
				<strong>Zip:</strong>
				<%= @store.zip  %>
			</p>
			<p id="phonenumber">
				<strong>Phone Number:</strong>
				<%= @store.phonenumber  %>
			</p>
			<h3>Daily Specials</h3>
			<p class = "form-group">
				<strong>Monday:</strong>
			    <%= @store.dailyspecialsmonday %>
			</p>
			<p class = "form-group">
				<strong>Tuesday:</strong>
			    <%= @store.dailyspecialstuesday %>
			</p>
			<p class = "form-group">
				<strong>Wednesday:</strong>
			    <%= @store.dailyspecialswednesday %>
			</p>
				<p class = "form-group">
				<strong>Thursday:</strong>
			    <%= @store.dailyspecialsthursday %>
			</p>
			<p class = "form-group">
				<strong>Friday:</strong>
			    <%= @store.dailyspecialsfriday %>
			</p>
			<p class = "form-group">
				<strong>Saturday:</strong>
			    <%= @store.dailyspecialssaturday %>
			</p>
			<p class = "form-group">
				<strong>Sunday:</strong>
			    <%= @store.dailyspecialssunday %>
			</p>
			<h3>Dispensary Features</h3>
			<p class = "form-group">
				<strong>Accepts Credit Card</strong>			    
			    <%= check_box_tag :acceptscreditcards , 1 , @store.acceptscreditcards ? true : false, disabled: true %>
			</p>
			<p class = "form-group">
				<strong>ATM Access</strong>			    
			    <%= check_box_tag :atmaccess , 1 , @store.atmaccess ? true : false, disabled: true %>
			</p>
			<p class = "form-group">
				<strong>Automatic Dispensing Machines</strong>			    
			    <%= check_box_tag :automaticdispensingmachines , 1 , @store.automaticdispensingmachines ? true : false, disabled: true %>
			</p>
			<p class = "form-group">
				<strong>Delivery Service</strong>			    
			    <%= check_box_tag :deliveryservice , 1 , @store.deliveryservice ? true : false, disabled: true %>
			</p>
			<p class = "form-group">
				<strong>First Time Patient Deals</strong>			    
			    <%= check_box_tag :firsttimepatientdeals , 1 , @store.firsttimepatientdeals ? true : false, disabled: true %>
			</p>
			<p class = "form-group">
				<strong>Handicap Access</strong>			    
			    <%= check_box_tag :handicapaccess , 1 , @store.handicapaccess ? true : false, disabled: true %>
			</p>
			<p class = "form-group">
				<strong>Lounge Area</strong>			    
			    <%= check_box_tag :loungearea , 1 , @store.loungearea ? true : false, disabled: true %>
			</p>
			<p class = "form-group">
				<strong>Pet Friendly</strong>			    
			    <%= check_box_tag :petfriendly , 1 , @store.petfriendly ? true : false, disabled: true %>
			</p>
			<p class = "form-group">
				<strong>Security Guard</strong>			    
			    <%= check_box_tag :securityguard , 1 , @store.securityguard ? true : false, disabled: true %>
			</p>



			  
		</div> <!-- modal-body -->
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<%= link_to 'Edit Store', edit_admin_store_path(@store), class: 'btn btn-primary' , id: "edit_store" %>
			<%= link_to 'Delete', admin_store_path(@store), class: 'btn btn-danger',
			                    method: :delete, data: { confirm: 'Are you sure?' } , id: "delete_store" %>
		</div> <!-- modal-footer -->
    </div>
</div>    