<% if activity.trackable
	@store_item_review = activity.trackable.store_item_review
	@store = @store_item_review.store_item.store
 %>

<table class="feed-item-table">
	<tr>
		<td class = "feed-item-avatar" valign = "top">
			<span class="glyphicon glyphicon-user user-pic-feed-item"></span>
		</td>
		<td class="feed-item-title-and-body">
			<div class="item-feed-title">				
				<%= link_to activity.trackable.user.username , activity_profile_path(activity.trackable.user), :class => 'user-link', 'data-no-turbolink' => true %>
				<span> commented on the review of</span>
				<a class="item-search-item-name" data-remote="<%= store_store_item_path(activity.trackable.store_item_review.store_item.store.id, activity.trackable.store_item_review.store_item.id, :reviewtab => "false") %>" data-target="#modal" data-toggle="modal" 
						  		href="<%= store_store_item_path(activity.trackable.store_item_review.store_item.store.id, activity.trackable.store_item_review.store_item.id, :reviewtab => "false") %>" >
						<%= activity.trackable.store_item_review.store_item.name %> 
				</a>
				
				
				<div class="time-ago-feed-item-prices"><%= time_ago_in_words(activity.trackable.updated_at) %> ago</div>
			</div>
			<div class = "feed-item-body">

				<%= render partial: 'store_items/store_item', locals: {store_item: activity.trackable.store_item_review.store_item} %>
				
				<div id="comments_for_item_review_<%= @store_item_review.id %>_read_only" class="item-review-comments-on-feed">						
					<% @store_item_review.store_item_review_comments.last(3).each do |store_item_review_comment| %>
						<% 
							if @store.email == store_item_review_comment.user.email						
								@ownerstyle = "owner-store-review-comment"
								@storeownercomment = true
							else 
								@ownerstyle = ""
								@storeownercomment = false
							end
						%>
						<div id="comment_<%= store_item_review_comment.id %>" class="store-review-comment <%=@ownerstyle%>" >							
							<%= link_to store_item_review_comment.user.username , activity_profile_path(store_item_review_comment.user), :class => 'user-link', 'data-no-turbolink' => true %>							
							<% if @storeownercomment %>
								<span class="badge owner-badge">store owner</span>&nbsp
							<% end %>

							<span class="store-review-comment-ago"><%= time_ago_in_words(store_item_review_comment.created_at) %> ago</span><br/>
							<%= store_item_review_comment.comment %>
						</div>
					<% end # comments loop %>	
				</div>
			</div>			
		</td>
	</tr>
</table>
<% end %>