<% if activity.trackable %>

<table class="feed-item-table">
	<tr>
		<td class = "feed-item-avatar" valign = "top">
			<span class="glyphicon glyphicon-user user-pic-feed-item"></span>
		</td>
		<td class="feed-item-title-and-body">
			<div class="item-feed-title"><a><%= activity.trackable.user.username %></a> commented on 
				<a class="item-search-item-name" data-remote="<%= store_store_item_path(activity.trackable.store_item_review.store_item.store.id, activity.trackable.store_item_review.store_item.id) %>" data-target="#modal" data-toggle="modal" 
						  		href="<%= store_store_item_path(activity.trackable.store_item_review.store_item.store.id, activity.trackable.store_item_review.store_item.id) %>" >
						<%= activity.trackable.store_item_review.store_item.name %> 
				</a>
				
				<div class="time-ago-feed-item"><%= time_ago_in_words(activity.trackable.updated_at) %> ago</div>
			</div>
			<div class = "feed-item-body">
				<%= activity.trackable.comment %>
			</div>

		</td>
	</tr>
</table>
<% end %>