<% if activity.trackable %>
<div class="activity">
	<div class="">
		<table class="feed-item-table">
			<tr>
				<td valign = "top" style="padding-right:20px;">
					<%= render partial: 'store_items/item_image', locals: {item: activity.trackable} %>				
				</td>
				<td class="feed-item-title-and-body">
					<span class="item-feed-title">
						<% store_item = StoreItem.find(activity.trackable.id) %>

						
						<a class="item-search-item-name" data-remote="<%= store_store_item_path(store_item.store.id, store_item.id , :reviewtab => "false")  %>" data-target="#modal" data-toggle="modal" 
								  		href="<%= store_store_item_path(store_item.store.id, store_item.id, :reviewtab => "false") %>" >
						<%= store_item.name %> 
						</a>		  		
						
						 has updated prices 
						<div class="time-ago-feed-item-prices"><%= time_ago_in_words(activity.trackable.updated_at) %> ago</div>
					</span>
					<div class = "feed-item-body">
						<%= render partial: 'store_items/store_item', locals: {store_item: activity.trackable} %>
					</div>

				</td>
			</tr>
		</table>
	</div>
</div>
<% end %>