
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">sign in</h4>          
      </div>
      <div class="modal-body">
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.label :login, "login" %>
        <%= f.text_field :login , :class => 'form-control'%>
        <%= f.label :password, "password" %>
        <%= f.password_field :password , :class => 'form-control'%>
        </br>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "remember me" %>
        </br>
        <%= f.submit "sign in" , :id => 'log-in-button', :class => 'btn btn-primary pull-right' %>
        <br/>
        <br/><%= link_to "forgot your password?", new_password_path(:user), :id => 'forgot-password-link' , :class =>"forgot-your-password" %> 
        <% end %>
      </div> <!-- modal-body -->
      <div class="modal-footer">
        
        <h4 style="float:left;">Don't have an account?</h4>
        <%= link_to "sign up", new_user_registration_path(), :id => 'sign-up-link' , :class => 'btn btn-warning pull-right'%>

        </br>
        
      </div><!-- modal-footer -->

    </div><!-- modal-content -->
  </div>
