
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title inline-header" id="myModalLabel">sign in</h4>          
        <button type="button" class="close popup-close-x" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.label :login, "username" %>
        <%= f.text_field :login , :class => 'form-control'%>
        <%= f.label :password, "password" %>
        <%= f.password_field :password , :class => 'form-control'%>
        </br>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "remember me" %>
        </br>
        <%= f.submit "LOG IN" , :id => 'log-in-button', :class => 'btn btn-primary pull-right' %>
        <br/>
        <br/><%= link_to "forgot your password?", new_password_path(:user), :id => 'forgot-password-link' , :class =>"forgot-your-password" %> 
        <% end %>
      </div> <!-- modal-body -->
      <div class="modal-footer">
        
        <h4 style="float:left;">don't have an account?</h4>
        <%= link_to "SIGN UP", new_user_registration_path(), :id => 'sign-up-link' , :class => 'btn btn-warning pull-right'%>

        </br>
        
      </div><!-- modal-footer -->

    </div><!-- modal-content -->
  </div>
