
<div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
	  <h4 class="modal-title" id="myModalLabel">create a free account</h4>          
	  </div>
	  <div class="modal-body">

		<%= form_for(User.new,  url: user_registration_path()) do |f| %>
		  <%= devise_error_messages! %>

		  <div>	  	
			<%= f.label :username , "username" %><br />
	    	<%= f.text_field :username , :class => 'form-control', :required => true %>
		  </div>


		  <div><%= f.label :email , "email" %><br />
		  <%= f.email_field :email, autofocus: true , :class => 'form-control' , :required => true%></div>

		  <div><%= f.label :password , "password" %><br />
		    <%= f.password_field :password, autocomplete: "off" , :class => 'form-control' , :required => true%></div>

		  <div><%= f.label :password_confirmation , "password confirmation" %><br />
		    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', :required => true %></div>

		  <br/>
		  <div><%= f.submit "create user account" , :id => 'create-account-button', :class => 'btn btn-warning pull-right' %></div>
		  <br/>
		  <br/>
		  <%= link_to "didn't receive confirmation instructions?", new_confirmation_path(resource_name), :id => 'resend-confirmation-email-link', :class=>"pull-right" %><br 
		<% end %>
		
	  </div> <!-- modal-body -->
	  <div class="modal-footer">
	  	<h4 style="float:left;">Already registered?  </h4>
	     <%= link_to "sign in", new_user_session_path , :class => 'btn btn-primary pull-right'%> <br/></br>
	     
	  </div><!-- modal-footer -->

	</div><!-- modal-content -->
</div>





