<% @store = store_review.store %>
<div class="store-review">
	<div id = "bootstrap-alert-store-review-id-<%= store_review.id %>"></div>
		<table>
			<tr>
				<td>
					<!-- <span class="glyphicon glyphicon-user user-pic-feed-item"></span>			 -->
					<span class="feed-item-icon-container">
						<%= render partial: 'profile/profile_image', locals: {user: store_review.user} %>
					</span>
				</td>
				<td>					
					<%= link_to store_review.user.username , activity_profile_path(store_review.user), :class => 'user-link', 'data-no-turbolink' => true %>							
					<% if @feed == true %>
						<span> reviewed 					
							<a href="<%= store_path(@store.slug)%>" data-no-turbolink='true' > <%= @store.name %></a>
						</span>
					<% end %>
					<small><%= time_ago_in_words(store_review.created_at) %> ago</small>			
					<span style="float:right;">
						<%= render partial: 'layouts/stars', locals: {score: store_review.stars} %>		
					</span>
					
				</td>
			</tr>
			<tr>
				<td>					
					<div class="btn-group-vertical review-vote-controls">		
						<%= form_for ([@store, store_review, store_review.store_review_votes.build]), :remote => true, :html => { :id => "new_upvote_on_#{store_review.id}" } do |f| %>
							<%= f.hidden_field :vote, :value => "1" %> 
							<%= button_tag(type: 'submit', class: "btn btn-default upvotebutton") do %>
 								<div class="glyphicon glyphicon-chevron-up"></div>
							<% end %>

						<% end %>
						<div> 
							<div class="review-votes" id="<%=store_review.id%>_vote_sum"><%= store_review.sum_votes %> </div>
						</div>
						
						<%= form_for ([@store, store_review, store_review.store_review_votes.build]), :remote => true, :html => { :id => "new_downvote_on_#{store_review.id}" } do |f| %>
							<%= f.hidden_field :vote, :value => "-1" %> 
							<%= button_tag(type: 'submit', class: "btn btn-default downvotebutton") do %>
 								<div class="glyphicon glyphicon-chevron-down"></div>
							<% end %>
						<% end %>
					</div>
				</td>
				<td class="review-content">
					<%= store_review.review %>
					<div id="comments_for_store_review_<%= store_review.id %>" class="store-review-comments">						
						<!-- dvu: WARNING: be sure to change this template in ajax response as well! -->
						<% store_review.store_review_comments.sort_by(&:created_at).each do |store_review_comment| %>
							<%= render partial: 'store_review_comments/store_review_comment', locals: {store_review_comment: store_review_comment} %>
						<% end %>			
					</div>
					<% if current_user.nil? %>
						<%= link_to 'login to comment', login_path , data: { toggle: "modal", target: "#modal", remote: login_path} , :class=>"log-in-to-comment" %>
					<% else %>
						<%= form_for ([@store, store_review, store_review.store_review_comments.build]), :remote => true, :html => { :id => "new_comment_on_#{store_review.id}" , :class=> "new-store-review-comment-form"} do |f| %>
							<%= f.text_area :comment, :class => 'form-control new-comment-input', :required => true, :rows => 1 %>
							<%= f.submit 'post comment', :class => 'btn btn-primary lowercase pull-right save-new-store-review-comment btn-sm' , :id => "save_comment_on_#{store_review.id}"  %>
						<% end %>		
					<% end %>
				</td>	
			</tr>
		</table>
	</div> 