<% if activity.trackable %>

<table class="feed-item-table">
	<tr>
		<td valign = "top">
			<span class="glyphicon glyphicon-user user-pic-feed-item"></span>
		</td>
		<td class="feed-item-title-and-body">
			<div class="item-feed-title">
				<a><%= activity.trackable.user.username %></a> commented on the review of 				
				<a href="<%= store_path(activity.trackable.store_review.store.id)%>" data-no-turbolink='true' > <%= activity.trackable.store_review.store.name %></a>
				<div class="time-ago-feed-item"><%= time_ago_in_words(activity.trackable.updated_at) %> ago</div>
			</div>
			<div class = "feed-item-body">
				<%= render partial: 'store_review_comments/store_review_comment', locals: {store_review_comment: activity.trackable} %>
				
			</div>

		</td>
	</tr>
</table>
<% end %>