<table>
	<tr>
		<td>			
			<% if profile_user.avatar_url.blank? %>
			<!-- dvu: this should depend on if you are the profile user or looking at someone else -->
			<%= link_to edit_photo_profile_path(profile_user), data: { toggle: "modal", target: "#modal", remote: edit_photo_profile_path(profile_user)} , id: "edit-user-photo-link",  class: "btn edit-user-photo-link" do %>
				<span class="glyphicon glyphicon-user user-pic"></span>    				
			<% end %>	
			<% else %>
				<%= link_to edit_photo_profile_path(profile_user), data: { toggle: "modal", target: "#modal", remote: edit_photo_profile_path(profile_user)} , id: "edit-user-photo-link",  class: "btn edit-user-photo-link" do %>
					<img class="user-pic" width="40px" height="40px" src = "http:<%= profile_user.avatar_url %>"></img>
				<% end %>	
				
			<% end %>
		</td>
		<td>
			<div class="username"><%= profile_user.username %></div>			
		</td>
	</tr>
</table>
<% if user_is_viewing_own_profile	%>
	<%= render :partial =>'profile/nav' %>
<% end %>