<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand simple-weed-logo" href="#">          
          <%= image_tag("simpleweed_h_w.png", height: '53', width: '150') %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search"> -->
      <%= form_tag(stores_path, :method => "get", class: "navbar-form navbar-left", id: "search-form") do %>
        <div class="form-group">
          <!-- <input type="text" class="form-control" placeholder="Search"> -->
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Stores" %>
        </div>
        <button type="submit" class="btn btn-default">Search</button>
        
          <% end %>
        
      </form>
      <ul class="nav navbar-nav navbar-right">
        
          <% if user_signed_in? %>
            
            <li>
              <%= link_to current_user.email, edit_user_registration_path, :id => 'edit-user-link',:class => 'navbar-link' %>
            </li>
            <li>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            </li>
          <% else %>
          <li>
            <!-- <%= link_to "Sign up", new_user_registration_path  %> -->
            <a href=""  data-toggle="modal" data-target="#register-modal">Sign up</a>
            
          </li>
          <li> 
            <!-- <%= link_to "Login", new_user_session_path %> -->            
            <!-- <a href=""  data-toggle="modal" data-target="#sign-in-modal">Login</a> -->
            <%= link_to 'Login', login_path , data: { toggle: "modal", target: "#modal", remote: login_path} , id: "log-in-link" %>

            <!-- dvu: modal login form (layouts/_login.html.erb)-->
            <!-- dvu: modal register form (layouts/_register.html.erb)-->

          </li>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>