<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <%= link_to image_tag("simpleweed_h_rgb.png", height: '53', width: '150'), root_path, 'data-no-turbolink' => true, class: "navbar-brand simple-weed-logo" %>          
          
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <% if !@disableSearchInNav %>
      
      <!-- item search -->
      
      <%
        if !@search
          @search = Se.new 
        end
      %>
      <%= form_for @search, :url=> ses_path, :method=>'get', :html => {:class => "navbar-form navbar-left"} do |f| %>
        
        <div class="form-group"> 
          <%= f.text_field :itemsearch, :class => 'form-control search-inputs', placeholder: "search items, dispensaries"  %>
          <%= f.text_field :isl, :class => 'form-control search-inputs', placeholder: "location"  %>                    
          <%= f.hidden_field :pg, :value => "1" %>                    

        </div>
        <button type="submit" id="submit-item-search" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
        
        <button id="show-search-filters" class="btn "><span class="glyphicon glyphicon-filter"></span></button>
        
        <!-- <button type="submit" id="group-search-results" class="btn "><span class="glyphicon glyphicon-list"></span></button> -->
        <script>
          $("#group-search-results").click(function(){
            var input = $("<input>")
               .attr("type", "hidden")
               .attr("name", "se[gbs]").val("true");
              $('#new_se').append($(input));
              })

        </script>
        <div id="search-filter-options">
              <!-- tabs bottom -->
              <div class="tabbable tabs-below">
                <div class="tab-content">
                 <div class="tab-pane active" id="search-opt-item-category"><%= render :partial =>'layouts/search_item_category', :locals=>{:f=>f} %></div>
                 <div class="tab-pane " id="search-opt-strain-and-attr"><%= render :partial =>'layouts/search_strain', :locals=>{:f=>f} %></div>
                 <div class="tab-pane" id="search-opt-quantity-price"><%= render :partial =>'layouts/search_quantity', :locals=>{:f=>f} %></div>                 
                 <div class="tab-pane" id="search-opt-distance"><%= render :partial =>'layouts/search_distance', :locals=>{:f=>f} %></div>
                 <div class="tab-pane" id="search-opt-store-features"><%= render :partial =>'layouts/search_store_features', :locals=>{:f=>f} %></div>
                 <div class="tab-pane" id="search-opt-lab"><%= render :partial =>'layouts/search_lab', :locals=>{:f=>f} %></div>
                 
                 <div class="tab-pane" id="search-opt-reviews">reviews</div>
                </div>
                <ul class="nav nav-tabs">
                  <li class="active"><a id="search-opt-item-category-tab-link" href="#search-opt-item-category" data-toggle="tab">item category</a></li>
                  <li><a id="search-opt-strain-and-attr-tab-link" href="#search-opt-strain-and-attr" data-toggle="tab">strains &amp; attributes</a></li>
                  <li><a id="search-opt-quantity-price-tab-link" href="#search-opt-quantity-price" data-toggle="tab">quantity &amp; price</a></li>                  
                  <li><a id="search-opt-distance-tab-link" href="#search-opt-distance" data-toggle="tab">distance</a></li>
                  <li><a id="search-opt-store-features-tab-link" href="#search-opt-store-features" data-toggle="tab">store features</a></li>
                  <li><a id="search-opt-lab-tab-link" href="#search-opt-lab" data-toggle="tab">lab</a></li>
                  <li><a id="search-opt-reviews-tab-link" href="#search-opt-reviews" data-toggle="tab">reviews</a></li>
                </ul>
              </div>
              <!-- /tabs -->


        </div><!--#search-filter-options -->

            <script>
              $(document).ready(function(){
                $("#show-search-filters").click(function(e){
                  e.preventDefault();
                  $("#search-filter-options").slideToggle("fast");
                });
              });
            </script>        
      
      <% end %> <!-- end of search form -->
      


      <% end %>
      <ul class="nav navbar-nav navbar-right">     

          <li><a href="<%= feeds_path %>" id="community-home-link">community</a></li>          
          <% if user_signed_in? %>                        
            <%
              @role_service = Simpleweed::Security::Roleservice.new
              stores = @role_service.findStoresOwned(current_user)
            %>
            <% if !stores.empty? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  stores
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <% stores.each do |store| %>   
                  <li>
                    <%= link_to store.name, store_path(store.id), 'data-no-turbolink' => true %>
                  </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <li>
              <%= link_to current_user.username, feed_profile_path(current_user), :id => 'edit-user-link',:class => 'navbar-link' , 'data-no-turbolink' => true %>

            </li>
            <li>
              <%= link_to "log out", destroy_user_session_path, 'data-no-turbolink' => true, :id => 'logout-link', method: :delete, :class => 'navbar-link'  %>
            </li>
          <% else %>
          <li>
            <%= link_to 'sign up', registration_modal_path , data: { toggle: "modal", target: "#modal", remote: registration_modal_path} , id: "register-link" %>            
          </li>
          <li>             
            <%= link_to 'login', login_path , data: { toggle: "modal", target: "#modal", remote: login_path} , id: "log-in-link" %>
          </li>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>