<table>
        <tr>
                <th>strain</th>
                <th>popular</th>
                <th>cultivation</th>
                <th>misc</th>
        </tr>
        <tr>
                <td valign="top">
                        <div class="search-option-radio">                                
                                <%= f.check_box :o, {}, "true","false" %>
                                <%= f.label :o, "indica" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :p, {}, "true","false" %>
                                <%= f.label :p, "sativa" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :q, {}, "true","false" %>
                                <%= f.label :q, "hybrid" %><br/>
                        </div>                        
                </td>
                <td valign="top">                       
                        <div class="search-option-radio">
                                <%= f.check_box :r, {}, "true","false" %>
                                <%= f.label :r, "og" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :s, {}, "true","false" %>
                                <%= f.label :s, "kush" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :t, {}, "true","false" %>
                                <%= f.label :t, "haze" %><br/>
                        </div>                
                </td>
                <td valign="top">                       
                        <div class="search-option-radio">
                                <%= f.check_box :u, {}, "true","false" %>
                                <%= f.label :u, "indoor" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :v, {}, "true","false" %>
                                <%= f.label :v, "outdoor" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :w, {}, "true","false" %>
                                <%= f.label :w, "hydroponic" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :x, {}, "true","false" %>
                                <%= f.label :x, "greenhouse" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :y, {}, "true","false" %>
                                <%= f.label :y, "organic" %><br/>
                        </div>
                </td>
                <td valign="top">                       
                        <div class="search-option-radio">
                                <%= f.check_box :z, {}, "true","false" %>
                                <%= f.label :z, "private reserve" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :aa, {}, "true","false" %>
                                <%= f.label :aa, "top shelf" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :bb, {}, "true","false" %>
                                <%= f.label :bb, "gluten-free" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :cc, {}, "true","false" %>
                                <%= f.label :cc, "sugar-free" %><br/>
                        </div>                        
                </td>
        </tr>
</table>

