<table>
	<tr>
		<th>store features</th>
	</tr>
	<tr>
		<td>
	       <div class="search-option-radio">
	                <%= f.check_box :a, {}, "1","0" %>
	                <%= f.label :a, "delivery service" %><br/>
	        </div>
	       <div class="search-option-radio">
	                <%= f.check_box :b, {}, "1","0" %>
	                <%= f.label :b, "accepts atm / credit" %><br/>
	        </div>
	       <div class="search-option-radio">
	                <%= f.check_box :c, {}, "1","0" %>
	                <%= f.label :c, "atm access" %><br/>
	        </div>
	       <div class="search-option-radio">
	                <%= f.check_box :d, {}, "1","0" %>
	                <%= f.label :d, "dispensing machines" %><br/>
	        </div>
	    </td>
		<td>
	       <div class="search-option-radio">
	                <%= f.check_box :e, {}, "1","0" %>
	                <%= f.label :e, "first time patient deals" %><br/>
	        </div>
	       <div class="search-option-radio">
	                <%= f.check_box :f, {}, "1","0" %>
	                <%= f.label :f, "handicap access" %><br/>
	        </div>
	       <div class="search-option-radio">
	                <%= f.check_box :g, {}, "1","0" %>
	                <%= f.label :g, "lounge area" %><br/>
	        </div>
	       <div class="search-option-radio">
	                <%= f.check_box :h, {}, "1","0" %>
	                <%= f.label :h, "pet friendly" %><br/>
	        </div>
	    </td>
	    <td>
	       <div class="search-option-radio">
	                <%= f.check_box :i, {}, "1","0" %>
	                <%= f.label :i, "security guard" %><br/>
	        </div>		
	       <div class="search-option-radio">
	                <%= f.check_box :j, {}, "1","0" %>
	                <%= f.label :j, "eighteen+" %><br/>
	        </div>
	       <div class="search-option-radio">
	                <%= f.check_box :k, {}, "1","0" %>
	                <%= f.label :k, "twenty+" %><br/>
	        </div>
	       <div class="search-option-radio">
	                <%= f.check_box :l, {}, "1","0" %>
	                <%= f.label :l, "has photos" %><br/>
	        </div>
	    </td>
	    <td valign="top">
	       <div class="search-option-radio">
	                <%= f.check_box :m, {}, "1","0" %>
	                <%= f.label :m, "lab tested" %><br/>
	        </div>
	       <div class="search-option-radio">
	                <%= f.check_box :n, {}, "1","0" %>
	                <%= f.label :n, "onsite testing" %><br/>
	        </div>
	    </td>
	</tr>
</table>	    