<label>distance</label>


<!-- <div class="search-option-radio">
	<%= f.radio_button(:distance, "") %>
	none.
</div> -->
<div class="search-option-radio">
    <%= f.radio_button(:distance, "city") %>
    city
</div>
<div class="search-option-radio">
	<%= f.radio_button(:distance, "driving") %>
	driving (5 mi.)
</div>
<div class="search-option-radio">
	<%= f.radio_button(:distance, "biking") %>
	biking (2 mi.)
</div>
<div class="search-option-radio">        	
	<%= f.radio_button(:distance, "walking") %>
	walking (1 mi.)
</div>
<div class="search-option-radio">
	<%= f.radio_button(:distance, "fourblocks") %>
	4 blocks
</div>
