<table>
        <tr>
                <th>strain</th>
                <th>popular</th>
                <th>cultivation</th>
                <th>misc</th>
        </tr>
        <tr>
                <td valign="top">
                        <div class="search-option-radio">                                
                                <%= f.check_box :indica, {}, "true","false" %>
                                <%= f.label :indica, "indica" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :sativa, {}, "true","false" %>
                                <%= f.label :sativa, "sativa" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :hybrid, {}, "true","false" %>
                                <%= f.label :hybrid, "hybrid" %><br/>
                        </div>                        
                </td>
                <td valign="top">                       
                        <div class="search-option-radio">
                                <%= f.check_box :og, {}, "true","false" %>
                                <%= f.label :og, "og" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :kush, {}, "true","false" %>
                                <%= f.label :kush, "kush" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :haze, {}, "true","false" %>
                                <%= f.label :haze, "haze" %><br/>
                        </div>                
                </td>
                <td valign="top">                       
                        <div class="search-option-radio">
                                <%= f.check_box :indoor, {}, "true","false" %>
                                <%= f.label :indoor, "indoor" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :outdoor, {}, "true","false" %>
                                <%= f.label :outdoor, "outdoor" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :hydroponic, {}, "true","false" %>
                                <%= f.label :hydroponic, "haze" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :greenhouse, {}, "true","false" %>
                                <%= f.label :greenhouse, "greenhouse" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :organic, {}, "true","false" %>
                                <%= f.label :organic, "organic" %><br/>
                        </div>
                </td>
                <td valign="top">                       
                        <div class="search-option-radio">
                                <%= f.check_box :privatereserve, {}, "true","false" %>
                                <%= f.label :privatereserve, "private reserve" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :topshelf, {}, "true","false" %>
                                <%= f.label :topshelf, "top shelf" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :glutenfree, {}, "true","false" %>
                                <%= f.label :glutenfree, "gluten-free" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :sugarfree, {}, "true","false" %>
                                <%= f.label :sugarfree, "sugar-free" %><br/>
                        </div>                        
                </td>
        </tr>
</table>

