<label>distance</label>

<div class="search-option-radio">
    <%= f.radio_button(:di, "c") %>
    city
</div>
<div class="search-option-radio">
	<%= f.radio_button(:di, "d") %>
	driving (5 mi.)
</div>
<div class="search-option-radio">
	<%= f.radio_button(:di, "b") %>
	biking (2 mi.)
</div>
<div class="search-option-radio">        	
	<%= f.radio_button(:di, "w") %>
	walking (1 mi.)
</div>
<div class="search-option-radio">
	<%= f.radio_button(:di, "f") %>
	4 blocks
</div>
