<table>
        <tr>
                <th>flower</th>
                <th>concentrate</th>
                <th>edible</th>
                <th>pre-roll</th>
                <th>other</th>
                <th>accessory</th>
        </tr>
        <tr>
                <td valign="top">
                        <div class="search-option-radio">                                
                                <%= f.check_box :i1, {}, "1","0" %>
                                <%= f.label :i1, "bud" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i2, {}, "1","0" %>
                                <%= f.label :i2, "shake" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i3, {}, "1","0" %>
                                <%= f.label :i3, "trim" %><br/>
                        </div>                        
                </td>
                <td valign="top">                       
                        <div class="search-option-radio">
                                <%= f.check_box :i4, {}, "1","0" %>
                                <%= f.label :i4, "wax" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i5, {}, "1","0" %>
                                <%= f.label :i5, "hash" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i6, {}, "1","0" %>
                                <%= f.label :i6, "budder / earwax" %> <br/> 
                                <%= f.label :i6, "honeycomb" , :class=> "search-opts-extra-label" %> <br/> 
                        </div>
                        <div class="search-top-spacer"></div>
                        <div class="search-option-radio">
                                <%= f.check_box :i7, {}, "1","0" %>
                                <%= f.label :i7, "bubble hash / full melt" %> <br/>   
                                <%= f.label :i7, "ice wax", :class=> "search-opts-extra-label" %> <br/>   
                        </div>
                        <div class="search-top-spacer"></div>
                        <div class="search-option-radio">
                                <%= f.check_box :i8, {}, "1","0" %>
                                <%= f.label :i8, "iso hash" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i9, {}, "1","0" %>
                                <%= f.label :i9, "kief / drysieve" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i10, {}, "1","0" %>
                                <%= f.label :i10, "shatter / amberglass" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i11, {}, "1","0" %>
                                <%= f.label :i11, "scissor / fingerhash" %><br/>
                        </div>                                        
                </td>
                <td valign="top">                       
                        <div class="search-option-radio">
                                <%= f.check_box :i13, {}, "1","0" %>
                                <%= f.label :i13, "baked" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i14, {}, "1","0" %>
                                <%= f.label :i14, "candy / chocolate" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i15, {}, "1","0" %>
                                <%= f.label :i15, "cooking" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i16, {}, "1","0" %>
                                <%= f.label :i16, "drink" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i17, {}, "1","0" %>
                                <%= f.label :i17, "frozen" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i18, {}, "1","0" %>
                                <%= f.label :i18, "other edibles" %><br/>
                        </div>
                </td>
                <td valign="top">                       
                        <div class="search-option-radio">
                                <%= f.check_box :i19, {}, "1","0" %>
                                <%= f.label :i19, "blunt" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i20, {}, "1","0" %>
                                <%= f.label :i20, "joint" %><br/>
                        </div>
                </td>
                <td valign="top">                       
                        <div class="search-option-radio">
                                <%= f.check_box :i21, {}, "1","0" %>
                                <%= f.label :i21, "clones" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i22, {}, "1","0" %>
                                <%= f.label :i22, "seeds" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i23, {}, "1","0" %>
                                <%= f.label :i23, "oral" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i24, {}, "1","0" %>
                                <%= f.label :i24, "topical" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i12, {}, "1","0" %>
                                <%= f.label :i12, "oil / cartridge" %><br/>
                        </div>                                                
                </td>

                <td valign="top">                       
                        <div class="search-option-radio">
                                <%= f.check_box :i25, {}, "1","0" %>
                                <%= f.label :i25, "bong pipe" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i26, {}, "1","0" %>
                                <%= f.label :i26, "bong pipe accessories" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i27, {}, "1","0" %>
                                <%= f.label :i27, "book / magazine" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i28, {}, "1","0" %>
                                <%= f.label :i28, "butane lighter" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i29, {}, "1","0" %>
                                <%= f.label :i29, "cleaning" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i30, {}, "1","0" %>
                                <%= f.label :i30, "clothes" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i31, {}, "1","0" %>
                                <%= f.label :i31, "grinder" %><br/>
                        </div>
                       <div class="search-option-radio">
                                <%= f.check_box :i32, {}, "1","0" %>
                                <%= f.label :i32, "other accessories" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i33, {}, "1","0" %>
                                <%= f.label :i33, "paper wrap" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i34, {}, "1","0" %>
                                <%= f.label :i34, "storage" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i35, {}, "1","0" %>
                                <%= f.label :i35, "vape" %><br/>
                        </div>
                        <div class="search-option-radio">
                                <%= f.check_box :i36, {}, "1","0" %>
                                <%= f.label :i36, "vape accessories" %><br/>
                        </div> 
                </td>
        </tr>
</table>

