<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "simpleweed" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "simpleweed" %>">    
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!-- FONTAWESOME -->
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- google analytics -->
    <% if Rails.env == 'production' %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53576221-1', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>

    <!-- include custom fonts -->
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/e8f3fd0c-2e03-42ec-84df-1a1d1b96a38f.js"></script>

    <!-- jquery UI for switchClass -->
    <!--<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>-->
    <%= yield :head %>
  </head>
  <body>
    <!-- <header class="header"> -->
      <%= render 'layouts/navigation' %>
    <!-- </header> -->

    <% if @disableContainerDiv != true %>    
    <div id="main-container"class="container">
    <% end %>

    
      
      <div id="bootstrap-alert">
        <%= render 'layouts/messages' %>
      </div>

<!--  dvu: this was causing duplicate errors to show up on the login page when a user didn't enter in the right info.     
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>      
 -->      
      <%= image_tag("ajaxspinner.gif", size:"80", id: "loading-indicator", style: "display:none;") %>
      <%= yield %>
      <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      </div><!-- /.modal -->
      <!-- 
        Twitters modal has a bug where it won't reload after items that refresh
        it's content.  This is the workaround from : 
        OLD FIX: http://stackoverflow.com/questions/12449890/reload-content-in-modal-twitter-bootstrap 
        NEW FIX: http://stackoverflow.com/questions/12286332/twitter-bootstrap-remote-modal-shows-same-content-everytime
      -->
      <script>
        
        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).empty()
            $(this).removeData('bs.modal');
        });
        
        //link mush specify elementToExpand attribute (selector), as well as classes to be toggled
        //doesn't work on modals
        $(".show-more a").on("click", function() {
            var $this = $(this);            
            var element = $this.attr("elementToExpand")
            var hideClass = $this.attr("hideClass")            
            var showClass = $this.attr("showClass")          
            var $content = $(element);
            var linkText = $this.text().toUpperCase();    
            
            if(linkText === "SHOW MORE"){                              
                //$content.switchClass(hideClass, showClass, 0);
                $content.removeClass(hideClass);
                $content.addClass(showClass);
            }             
            $this.remove(); //delete the show more link after it's clicked.
        });

      </script>
      
      <%= yield :script %>
    <% if @disableContainerDiv != true %>    
    </div>
    <% end %>
  </body>
</html>
